{{#*inline "htmTitleBaseResultPage"}}		<!-- inline "htmTitleBaseResultPage" -->
		<title>{{#if searchListBaseResult_}}{{#eq baseResultCount int1}}{{#if id}}{{else}}{{/if}}{{else}}{{/eq}}{{else}}{{/if}}</title>
{{/inline}}
{{#*inline "htmMetaBaseResultPage"}}{{> "htmMetaPageLayout"}}{{/inline}}
{{#*inline "htmStyleBaseResultPage"}}{{> "htmStylePageLayout"}}{{/inline}}
{{#*inline "htmScriptsBaseResultPage"}}{{> "htmScriptsPageLayout"}}		<!-- inline "htmScriptsBaseResultPage" -->
		<script src="{{staticBaseUrl}}/js/enUS/BaseResultPage.js"></script>
{{/inline}}
{{#*inline "htmScriptBaseResultPage"}}		<!-- inline "htmScriptBaseResultPage" -->
		<script>
			$('#site-calendar-box').accordion({ collapsible: true, active: false });
{{#if DEFAULT_MAP_LOCATION }}
			window.DEFAULT_MAP_LOCATION = { lat: {{ DEFAULT_MAP_LOCATION.lat }}, lon: {{ DEFAULT_MAP_LOCATION.lon }} };
{{/if}}
{{#if DEFAULT_MAP_ZOOM }}
			window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{{/if}}
			window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
			$(document).ready(function() {
				document.onkeydown = function(evt) {
					evt = evt || window.event;
					var isEscape = false;
					if ('key' in evt) {
						isEscape = (evt.key === 'Escape' || evt.key === 'Esc');
					} else {
						isEscape = (evt.keyCode === 27);
					}
					if (isEscape) {
						$('.w3-modal:visible').hide();
					}
				};
				window.eventBus = new EventBus('/eventbus');
				var pk = {{#if pk}}{{pk}}{{else}}null{{/if}};
				if(pk != null) {
					window.baseResult = JSON.parse($('.pageForm .baseResult').val());
				}
					window.listBaseResult = JSON.parse($('.pageForm .listBaseResult').val());
				window.varsFq = JSON.parse('{{{toJsonObjectStringInApostrophes varsFq}}}');
				window.varsRange = JSON.parse('{{{toJsonObjectStringInApostrophes varsRange}}}');
				window.defaultRangeVar = '{{ defaultRangeVar }}';
				pageGraphBaseResult();

				var calendarEl = document.getElementById('site-calendar');
				var calendar = new FullCalendar.Calendar(calendarEl, {
					initialView: 'dayGridMonth'
				});
				//calendar.render();
{{#block "websocket"}}{{/block}}
			});

			function jsWebsocketBaseResult(id, vars, $response) {
{{#block "jsWebsocket"}}{{/block}}
			}

			function jsTooltipBaseResult(e, feature) {
{{#block "jsTooltip"}}{{/block}}
			}

			function htmTooltipBaseResult(feature, layer) {
				return `{{#block "htmTooltip"}}{{/block}}`;
			}

			function jsStyleBaseResult(feature) {
{{#block "jsStyle"}}{{/block}}
			}
		</script>
{{/inline}}
{{#*inline "websocketBaseResultPage"}}
				<!-- inline "websocketBaseResultPage" -->
				websocketBaseResult(websocketBaseResultInner);
{{/inline}}
{{#*inline "jsWebsocketBaseResultPage"}}{{/inline}}
{{#*inline "jsTooltipBaseResultPage"}}{{/inline}}
{{#*inline "htmTooltipBaseResultPage"}}{{/inline}}
{{#*inline "jsStyleBaseResultPage"}}
				if(feature.geometry.type == 'Point') {
					return {
						radius: 8
						, fillColor: '#ff7800'
						, color: '#000'
						, weight: 1
						, opacity: 1
						, fillOpacity: 0.8
					};
				} else {
					return {
						 fillColor: '#ff7800'
						, color: (feature.properties.areaServedColors ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
						, weight: 5
						, opacity: 1
						, fillOpacity: 0.8
					};
				}
{{/inline}}
{{#*inline "htmUrlBaseResult"}}{{pageUri}}?q={{query.q}}&amp;rows={{#if rows}}{{rows}}{{else}}{{pagination.rows}}{{/if}}&amp;rows={{#if start}}{{start}}{{else}}{{pagination.start}}{{/if}}{{#each query.fq}}{{#eq fq this}}{{else}}&fq={{fq}}:{{val}}{{/eq}}{{/each}}{{#each query.sort}}{{#eq sort this}}{{else}}&sort={{var}} {{order}}{{/eq}}{{/each}}{{/inline}}
{{#*inline "htmHeadBaseResultPage"}}{{#block "htmTitle"}}{{/block}}{{#block "htmMeta"}}{{/block}}{{#block "htmStyle"}}{{/block}}{{#block "htmScripts"}}{{/block}}{{#block "htmScript"}}{{/block}}{{/inline}}
{{#*inline "htmBodySearchBaseResultPage"}}								<!-- #*inline "htmBodySearchBaseResultPage" -->
								<div>
{{#each varsQ}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qBaseResult_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qBaseResult_{{ @key }}" placeholder="{{ displayName }}" class="" {{#eq ../var 'objectSuggest' }}onkeyup{{else}}onchange{{/eq}}="qChange('BaseResult', this); " data-var="{{ var }}" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
{{/each}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qBaseResult_Start">start<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qBaseResult_start" placeholder="{{ displayName }}" class="" onchange="paramChange('BaseResult', this); " data-var="start" autocomplete="off=" value="{{ start }}"/>
											<div class="pageSearchVal w3-tiny ">start={{ start }}</div>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qBaseResult_Rows">rows<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qBaseResult_rows" placeholder="{{ displayName }}" class="" onchange="paramChange('BaseResult', this); " data-var="rows" autocomplete="off" value="{{ rows }}"/>
											<div class="pageSearchVal w3-tiny ">rows={{ rows }}</div>
										</div>
									</div>
								</div>
{{/inline}}
{{#*inline "htmBodyFiltersBaseResultPage"}}								<!-- #*inline "htmBodyFiltersBaseResultPage" -->
								<div>
{{#each varsFq }}
									<div class="">
										<label for="fqBaseResult_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										<div class="w3-cell-row ">
											<div class="w3-cell w3-cell-top ">
												<button id="buttonFacetBaseResult_{{ @key }}" class="" onclick="facetFieldChange('BaseResult', this); " title="see values " data-var="{{ var }}" data-clear="{{#if facetField }}true{{else}}false{{/if}}"><i class="fas fa-list "></i></button>
											</div>
											<div class="w3-cell w3-cell-top ">
												<input id="fqBaseResult_{{ @key }}" placeholder="{{ displayName }}" class="" onchange="fqChange('BaseResult', this); " data-var="{{ var }}" autocomplete="off=" value="{{ val }}"/>
											</div>
										</div>
									</div>
									<div class="w3-tiny ">
										<div class="pageSearchVal " id="pageSearchVal-fqBaseResult_{{ @key }}">{{#if val }}fq={{ var }}:{{encodeURIComponent val }}{{/if}}</div>
										<div class="pageSearchVal " id="pageSearchVal-buttonFacetBaseResult_{{ @key }}">{{#if facetField.var }}facet.field={{ facetField.var }}{{/if}}</div>
										<ol class="pageFacetField w3-small pageFacetFieldBaseResult_{{ @key }} " id="pageFacetFieldBaseResult_{{ @key }}">
{{#each facetField.counts }}
											<li class="cursor-pointer " data-class="BaseResult" data-var="{{ ../var }}" data-val="{{ @key }}" onclick="fqReplace('BaseResult', this); ">{{ @key }}: {{ this }}</li>
{{/each}}
										</ol>
									</div>
{{/each}}
								</div>
{{/inline}}
{{#*inline "htmBodyRangeBaseResultPage"}}								<!-- #*inline "htmBodyRangeBaseResultPage" -->
								<table class="w3-padding ">
									<tr>
										<td class="w3-padding w3-tiny " colspan="2">
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeGap-BaseResult">{{#if rangeGap }}facet.range.gap={{encodeURIComponent rangeGap }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeStart-BaseResult">{{#if rangeStart }}facet.range.start={{encodeURIComponent rangeStart }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeEnd-BaseResult">{{#if rangeEnd }}facet.range.end={{encodeURIComponent rangeEnd }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeVar-BaseResult">{{#if defaultRangeVar }}facet.range={!tag=r1}{{encodeURIComponent defaultRangeVar }}{{/if}}</div>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
									<tr class="">
										<td class="">
											<span>Range Gap</span>
										</td>
										<td class="">
											<select name="facet.range.gap" id="pageFacetRangeGap-BaseResult" onchange="facetRangeGapChange('BaseResult', this); ">
												<option value="+1YEAR"{{#eq defaultRangeGap '+1YEAR'}} selected="selected"{{else}}{{/eq}}>Year</option>
												<option value="+1MONTH"{{#eq defaultRangeGap '+1MONTH'}} selected="selected"{{else}}{{/eq}}>Month</option>
												<option value="+1WEEK"{{#eq defaultRangeGap '+1WEEK'}} selected="selected"{{else}}{{/eq}}>Week</option>
												<option value="+1DAY"{{#eq defaultRangeGap '+1DAY'}} selected="selected"{{else}}{{#if defaultRangeGap}}{{else}} selected="selected"{{/if}}{{/eq}}>Day</option>
												<option value="+1HOUR"{{#eq defaultRangeGap '+1HOUR'}} selected="selected"{{else}}{{/eq}}>Hour</option>
												<option value="+1MINUTE"{{#eq defaultRangeGap '+1MINUTE'}} selected="selected"{{else}}{{/eq}}>Minute</option>
												<option value="+1SECOND"{{#eq defaultRangeGap '+1SECOND'}} selected="selected"{{else}}{{/eq}}>Second</option>
											</select>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range Start</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeStart" id="pageFacetRangeStart-BaseResult" value="{{formatZonedDateTime defaultRangeStart "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeStartChange('BaseResult', this); "/></span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range End</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeEnd" id="pageFacetRangeEnd-BaseResult" value="{{formatZonedDateTime defaultRangeEnd "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeEndChange('BaseResult', this); "/></span>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
{{#each varsRange }}
									<tr class="">
										<td class="">
											<span><input type="radio" name="pageFacetRange" class="pageFacetRange " id="pageFacetRangeBaseResult_{{ @key }}" value="{{ var }}"{{#eq defaultRangeVar var }} checked="checked"{{/eq}} onclick="facetRangeChange('BaseResult', this); "/></span>
										</td>
										<td class="">
											<label for="pageFacetRangeBaseResult_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyPivotBaseResultPage"}}								<!-- #*inline "htmBodyPivotBaseResultPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-PivotBaseResultHidden">
{{#each defaultPivotVars }}
									<div class="pageSearchVal-PivotBaseResultHidden " id="pageSearchVal-PivotBaseResultHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-PivotBaseResult">
{{#if defaultPivotVars }}
									<div class="pageSearchVal pageSearchVal-PivotBaseResult " id="pageSearchVal-PivotBaseResult_1">facet.pivot={!range=r1}{{#each defaultPivotVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFacetPivot" class="pageFacetPivot " id="pageFacetPivotBaseResult_{{ @key }}" value="{{ var }}"{{#if pivot }} checked="checked"{{/if}} onclick="facetPivotChange('BaseResult', this); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFacetPivotBaseResult_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyFieldListBaseResultPage"}}								<!-- #*inline "htmBodyFieldListBaseResultPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-FieldListBaseResultHidden">
{{#each defaultFieldListVars }}
									<div class="pageSearchVal-FieldListBaseResultHidden " id="pageSearchVal-FieldListBaseResultHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-FieldListBaseResult">
{{#if defaultFieldListVars }}
									<div class="pageSearchVal pageSearchVal-FieldListBaseResult " id="pageSearchVal-FieldListBaseResult_1">fl={{#each defaultFieldListVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFieldList" class="pageFieldList " id="pageFieldListBaseResult_{{ @key }}" value="{{ var }}"{{#if fieldList }} checked="checked"{{/if}} onclick="facetFieldListChange('BaseResult', this); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFieldListBaseResult_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyStatsBaseResultPage"}}								<!-- #*inline "htmBodyStatsBaseResultPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-StatsBaseResultHidden">
{{#each defaultStatsVars }}
									<div class="pageSearchVal-StatsBaseResultHidden " id="pageSearchVal-StatsBaseResultHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-StatsBaseResult">
{{#if defaultStatsVars }}
{{#each defaultStatsVars }}									<div class="pageSearchVal pageSearchVal-StatsBaseResult_{{ this }} " id="pageSearchVal-StatsBaseResult_{{ this }}">stats.field={{ this }}</div>
{{/each}}{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
{{#if enableStats }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageStats" class="pageStats " id="pageStatsBaseResult_{{ @key }}" value="{{ var }}"{{#if ./stats }} checked="checked"{{/if}} onclick="facetStatsChange('BaseResult', this); "/></span>
										</td>
										<td class="w3-cell ">
											<div>
												<label for="pageStatsBaseResult_{{ @key }}">{{ displayName }}</label>
											</div>
											<div class="pageStatsField w3-small pageStatsFieldBaseResult_{{ @key }} " id="pageStatsFieldBaseResult_{{ @key }}">
{{#if ./stats }}
{{#each ./stats }}
{{#eq @key 'name' }}{{else}}
												<div data-class="BaseResult" data-var="{{ ../var }}" data-val="{{ @key }}">{{ @key }}: {{ this }}</div>
{{/eq}}
{{/each}}
{{#if ./stats/max }}
									<div>									<span> step </span>									<input id="animateStatsStep" placeholder="step" value="1" style="width: 4em; "/>									<span> min </span>									<input id="animateStatsMin" placeholder="min" value="{{ ./stats/min }}" style="width: 4em; "/>									<span> max </span>									<input id="animateStatsMax" placeholder="max" value="{{ ./stats/max }}" style="width: 4em; "/>									<span> speed in seconds </span>									<input id="animateStatsSpeed" placeholder="speed" value="1" style="width: 4em; "/>									<button onclick="animateStats(); ">animate</button>									</div>{{/if}}
{{/if}}
											</div>
										</td>
									</tr>
{{/if}}
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyMenuBaseResultPage"}}		<!-- #*inline "htmBodyMenuBaseResultPage" -->
{{> "htmBodyMenuPageLayout"}}{{/inline}}
{{#*inline "htmBodyGraphBaseResultPage"}}		<!-- #*inline "htmBodyGraphBaseResultPage" -->
<div id="htmBodyGraphPageLayout" class="w3-content htmBodyGraph "></div>{{/inline}}
{{#*inline "htmBodyGraphLocationBaseResultPage"}}		<!-- #*inline "htmBodyGraphLocationBaseResultPage" -->
<div id="htmBodyGraphLocationPageLayout" class="w3-content htmBodyGraphLocation "></div>{{/inline}}
{{#*inline "htmBodyCount0BaseResultPage"}}		<!-- #*inline "htmBodyCount0BaseResultPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3- w3-hover-">
				{{#if classIconCssClasses}}
					<i class="{{ classIconCssClasses }} site-menu-icon "></i>
				{{/if}}
				<span class=""></span>
			</a>
		</h1>
		<h2>
			<span class="w3-bar-item w3-padding w3-center w3-block w3-">
				{{#if classIconCssClasses}}
					<i class="{{ classIconCssClasses }}  site-menu-icon "></i>
				{{/if}}
				<span class=""></span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1BaseResultPage"}}		<!-- #*inline "htmBodyCount1BaseResultPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3- w3-hover-">
	{{#if classIconCssClasses}}
				<i class="{{ classIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class=""></span>
			</a>
		</h1>
		<h2 class="w3-center ">
			<span class="w3-bar-item w3-padding w3-center w3-block w3-">
				<span class="">{{baseResult_.objectTitle}}</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyAllBaseResultPage"}}		<!-- #*inline "htmBodyAllBaseResultPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3- w3-hover-">
	{{#if classIconCssClasses}}
				<i class="{{ classIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class=""></span>
			</a>
		</h1>
		<div id="site-calendar-box">
			<div id="site-calendar"><!-- // --></div>
		</div>
		<div class="">
			<div>
	{{#if pagination.pagePrevious}}
				<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-left "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
					<i class="fas fa-minus-square "></i>
				</a>
	{{else}}
				<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
					<i class="fas fa-plus-square "></i>
				</a>
	{{#if pagination.pageNext}}
				<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-right "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
				<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
			</div>
{{> "table1BaseResultPage"}}
		</div>
{{/inline}}
{{#*inline "htmFormBaseResultPage"}}
		<!-- #*inline "htmForm" -->
		<form action="" id="BaseResultForm" class="pageForm " style="" onsubmit="event.preventDefault(); return false; ">
{{#if id}}
			<input name="id" class="valueId" type="hidden" value="{{id}}"/>
{{/if}}
			<input name="focusId" type="hidden"/>
			<input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{{toJsonObjectStringInApostrophes pageResponse }}}' type="hidden"/>
			<input name="baseResult" id="baseResult" class="baseResult"  value='{{{toJsonObjectStringInApostrophes baseResult_ }}}' type="hidden"/>
			<input name="listBaseResult" id="listBaseResult" class="listBaseResult"  value='{{{toJsonArrayStringInApostrophes listBaseResult }}}' type="hidden"/>
		</form>
{{#if id}}
{{#block "htmButton_searchpageBaseResult"}}{{/block}}
{{#block "htmForm_searchpageBaseResult"}}{{/block}}
{{/if}}
{{/inline}}
{{#*inline "htmBodySidebarBaseResultPage"}}
				<div class="w3-dropdown-click w3-bar-block min-width-300px ">
					<div class="min-width-300px ">
						<span title="Search" class="siteSidebarToggle w3-padding-small w3-hover-black w3- " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-'); $(this).addClass('w3-black'); $(this).removeClass('w3-'); "><i class="fad fa-magnifying-glass hover-box-shadow w3-xlarge "></i> Search</span>
						<span title="Filters" class="siteSidebarToggle w3-padding-small w3-hover-black w3- " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleFilters').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-'); $(this).addClass('w3-black'); $(this).removeClass('w3-'); "><i class="fad fa-filters hover-box-shadow w3-xlarge "></i> Filters</span>
						<span title="Range" class="siteSidebarToggle w3-padding-small w3-hover-black w3- " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleRange').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-'); $(this).addClass('w3-black'); $(this).removeClass('w3-'); "><i class="fad fa-calendar-range hover-box-shadow w3-xlarge "></i> Range</span>
						<span title="Pivot" class="siteSidebarToggle w3-padding-small w3-hover-black w3- " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-'); $(this).addClass('w3-black'); $(this).removeClass('w3-'); "><i class="fad fa-table-pivot hover-box-shadow w3-xlarge "></i> Pivot</span>
						<span title="FieldList" class="siteSidebarToggle w3-padding-small w3-hover-black w3- " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleFieldList').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-'); $(this).addClass('w3-black'); $(this).removeClass('w3-'); "><i class="fad fa-list-ul hover-box-shadow w3-xlarge "></i> FieldList</span>
						<span title="Stats" class="siteSidebarToggle w3-padding-small w3-hover-black w3- " onclick="$('.siteSidebarToggleFieldList').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleStats').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-'); $(this).addClass('w3-black'); $(this).removeClass('w3-'); "><i class="fad fa-chart-candlestick hover-box-shadow w3-xlarge "></i> Stats</span>
						<a title="API" class="siteSidebarToggle w3-padding-small w3-hover-black w3- " href="{{ apiUri }}{{#if pk }}/{{ pk }}{{else}}{{#if id }}/{{ id }}{{else}}{{ queryStr }}{{/if}}{{/if}}"><i class="fad fa-brackets-curly hover-box-shadow w3-xlarge "></i> API</a>
					</div>
					<div class=" ">
						<div class="siteSidebarToggle siteSidebarToggleSearch w3-dropdown-content min-width-300px w3-white w3-border w3-border- " style="display: none; ">
							<div class="w3-bar w3- ">
								<span class="w3-bar-item ">
								<i class="fad fa-magnifying-glass "></i> Search</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodySearch"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFilters w3-dropdown-content min-width-300px w3-white w3-border w3-border- " style="display: none; ">
							<div class="w3-bar w3- ">
								<span class="w3-bar-item ">
								<i class="fad fa-filters "></i> Filters</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFilters"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleRange w3-dropdown-content min-width-300px w3-white w3-border w3-border- " style="display: none; ">
							<div class="w3-bar w3-  ">
								<span class="w3-bar-item ">
								<i class="fad fa-calendar-range "></i> Range</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyRange"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarTogglePivot w3-dropdown-content min-width-300px w3-white w3-border w3-border- " style="display: none; ">
							<div class="w3-bar w3- ">
								<span class="w3-bar-item ">
								<i class="fad fa-table-pivot "></i> Pivot</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyPivot"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFieldList w3-dropdown-content min-width-300px w3-white w3-border w3-border- " style="display: none; ">
							<div class="w3-bar w3- ">
								<span class="w3-bar-item ">
								<i class="fad fa-list-ul "></i> Field List</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFieldList"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleStats w3-dropdown-content min-width-300px w3-white w3-border w3-border- " style="display: none; ">
							<div class="w3-bar w3- ">
								<span class="w3-bar-item ">
								<i class="fad fa-chart-candlestick "></i> Stats</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyStats"}}{{/block}}
							</div>
						</div>
					</div>
				</div>
{{/inline}}
{{#*inline "htmBodyStartBaseResultPage"}}
{{> "htmBodyStartPageLayout"}}
{{/inline}}
{{#*inline "htmBodyMiddleBaseResultPage"}}
{{> "htmBodyMiddlePageLayout"}}
{{/inline}}
{{#*inline "htmBodyEndBaseResultPage"}}
{{> "htmBodyEndPageLayout"}}
{{/inline}}
{{#*inline "htmBodyBaseResultPage"}}
{{#block "htmBodyStart"}}{{/block}}
{{#block "htmBodyMiddle"}}{{/block}}
{{#block "htmBodyEnd"}}{{/block}}
{{/inline}}
{{#*inline "htmBodyMiddleBaseResultPage"}}
		<div class="w3-bar w3-content ">
{{#block "htmBodySidebar"}}{{/block}}
		</div>
{{#block "htmBodyGraphLocation"}}{{/block}}
{{#block "htmBodyGraph"}}{{/block}}
	<div class="pageContent w3-content ">
		<div id="site-calendar-box">
			<div id="site-calendar"><!-- // --></div>
		</div>
	</div>
	<div class="pageContent w3-content ">
	{{#eq baseResultCount int0}}
{{#block "htmBodyCount0"}}{{/block}}
	{{else}}
		{{#eq baseResultCount int1}}
			{{#if id}}
{{#block "htmBodyCount1"}}{{/block}}
			{{else}}
{{#block "htmBodyAll"}}{{/block}}
			{{/if}}
		{{else}}
{{#block "htmBodyAll"}}{{/block}}
		{{/eq}}
	{{/eq}}
{{#block "htmForm"}}{{/block}}
{{#block "htmForms"}}{{/block}}
	</div>
{{/inline}}
{{#*inline "table1BaseResultPage"}}
		<div class="w3-responsive ">
			<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable ">
{{> table2BaseResultPage}}
			</table>
		</div>
{{/inline}}
{{#*inline "table2BaseResultPage"}}
{{> "thead1BaseResultPage"}}
{{> "tbody1BaseResultPage"}}
{{> "tfoot1BaseResultPage"}}
{{/inline}}
{{#*inline "thead1BaseResultPage"}}
				<thead class="w3- w3-hover-">
{{> thead2BaseResultPage}}
				</thead>
{{/inline}}
{{#*inline "thead2BaseResultPage"}}
			<tr>
						<th>ID</th>
						<th>created</th>
						<th></th>
			</tr>
{{/inline}}
{{#*inline "tbody1BaseResultPage"}}
<!-- #*inline "tbody1BaseResultPage" -->
				<tbody>
{{> tbody2BaseResultPage}}
				</tbody>
{{/inline}}
{{#*inline "tbody2BaseResultPage"}}
<!-- #*inline "tbody2BaseResultPage" -->
		{{#each listBaseResult}}
					<tr>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{objectId}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{siteZonedDateTimeFormat created "MMM d, yyyy h:mm:ss a" siteLocale}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{objectTitle}}</span>
							</a>
						</td>
					</tr>
		{{/each}}
{{/inline}}
{{#*inline "tfoot1BaseResultPage"}}
				<tfoot class="w3- w3-hover-">
{{> tfoot2BaseResultPage}}
				</tfoot>
{{/inline}}
{{#*inline "tfoot2BaseResultPage"}}
			<tr>
			{{#if getColumnObjectId}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnCreated}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnObjectTitle}}
				<td>
				</td>
			{{/if}}
			</tr>
	{{/inline}}
{{#*inline "htmFormsBaseResultPage"}}
{{#ifContainsAnyRoles roles authRoleSuperAdmin}}
		{{#eq baseResultCount int1}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3- "
			id="refreshBaseResultGenPage"
			onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'id:{{id}}' } ], {}, function() { addGlow($('#refreshBaseResultGenPage')); }, function() { addError($('#refreshBaseResultGenPage')); }); return false; ">
			<i class="fas fa-sync-alt "></i>
			refresh 
		</button>
		{{/eq}}
{{/ifContainsAnyRoles}}
{{#block "htmSuggested"}}{{/block}}
{{/inline}}
{{#*inline "htmSuggestedBaseResultPage"}}
			{{#ifContainsAnyRoles roles roleForWrite}}
					<div class="">
						<button id="refreshBaseResultGenPage{{id}}" class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3- "
							onclick="patch{{classSimpleName}}Vals([], {}, function() { addGlow($('#refreshBaseResultGenPage{{id}}')); }, function() { addError($('#refreshBaseResultGenPage{{id}}')); }); "
							>
							<i class="fas fa-sync-alt "></i>
							refresh 
						</button>
					</div>
			{{/ifContainsAnyRoles}}
			<div class="w3-cell-row ">
				<div class="w3-cell ">
					<span>
						search : 
					</span>
				</div>
			</div>
			<div class="w3-bar ">
				<input
					type="text"
					class="suggestBaseResult w3-input w3-border w3-bar-item "
					name="suggestBaseResult"
					id="suggestBaseResult{{id}}"
					autocomplete="off"
					oninput="suggestBaseResultObjectSuggest( [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'classCanonicalName,,pageUrlPk,objectTitle' } ], $('#suggestListBaseResult{{id}}'), {{id}}; "
					onkeyup="if (event.keyCode === 13) { event.preventDefault(); window.location.href = 'null?q={{query1}}:' + encodeURIComponent(this.value) + '{{fqs}}{{sorts}}&amp;rows={{start2}}&amp;rows={{rows1}}"
				{{#if listBaseResult}}
					value="{{query2}}"
				{{/if}}
				/>
				<button
					class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3- "
					onclick="window.location.href = 'null?q=&quot;, query1, &quot;:' + encodeURIComponent(this.previousElementSibling.value) + '&quot;, fqs, sorts, &quot;&amp;rows=&quot;, start2, &quot;&amp;rows=&quot;, rows1, &quot;'; "
					>
					<i class="fas fa-search "></i>
				</button>
			<div>
			<div class="w3-cell-row ">
				<div class="w3-cell w3-left-align w3-cell-top ">
					<ul class="w3-ul w3-hoverable " id="suggestListBaseResult{{id}}">
					</ul>
				</div>
			</div>
			<div class="">
				<a href="" class="">
					see 
				</a>
			</div>
{{/inline}}
{{> PageLayout}}

{{#*inline "htmCreated"}}
<!-- #*inline "htmCreated" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}BaseResultCreated">
											<div class="w3-card ">
												<div class="w3-cell-row w3-">
													<label for="{{classApiMethodMethod}}_created">created</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputCreated" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputCreated"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span id="{{classApiMethodMethod}}_created" class="varBaseResult{{id}}Created varBaseResultCreated " title="{{formatZonedDateTime baseResult_.created 'EEEE MMMM d yyyy H:mm:ss.SSS zz VV' defaultLocaleId defaultZoneId}}">{{formatZonedDateTime baseResult_.created 'EEE MMM d yyyy h:mm a zz' defaultLocaleId defaultZoneId}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmModified"}}
<!-- #*inline "htmModified" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}BaseResultModified">
											<div class="w3-card ">
												<div class="w3-cell-row w3-">
													<label for="{{classApiMethodMethod}}_modified">modified</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputModified" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputModified"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span id="{{classApiMethodMethod}}_modified" class="varBaseResult{{id}}Modified varBaseResultModified " title="{{formatZonedDateTime baseResult_.modified 'EEEE MMMM d yyyy H:mm:ss.SSS zz VV' defaultLocaleId defaultZoneId}}">{{formatZonedDateTime baseResult_.modified 'EEE MMM d yyyy h:mm a zz' defaultLocaleId defaultZoneId}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmObjectId"}}
<!-- #*inline "htmObjectId" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}BaseResultObjectId">
											<div class="w3-card ">
												<div class="w3-cell-row w3-">
													<label for="{{classApiMethodMethod}}_objectId">ID</label>
												</div>
											<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputObjectId" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputObjectId"}}
		{{#eq roleForWriteBool "true"}}
														<input
															type="text"
															placeholder="ID"
															title="A URL friendly unique ID for this object"															id="{{classApiMethodMethod}}_objectId"
	{{#eq "Page" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_objectId setObjectId classBaseResult inputBaseResult{{id}}ObjectId w3-input w3-border "
																name="setObjectId"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_objectId setObjectId classBaseResult inputBaseResult{{id}}ObjectId w3-input w3-border "
																name="setObjectId"
		{{else}}
																{{classApiMethodMethod}}_objectId" class="valueObjectId w3-input w3-border classBaseResult inputBaseResult{{id}}ObjectId w3-input w3-border "
																name="objectId"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setObjectId', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_objectId')); }, function() { addError($('#{{classApiMethodMethod}}_objectId')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{baseResult_.objectId}}"
	{{/eq}}
														/>

		{{else}}
														<span class="varBaseResult{{id}}ObjectId varBaseResultObjectId ">{{baseResult_.objectId}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmArchived"}}
<!-- #*inline "htmArchived" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}BaseResultArchived">
											<div class="w3-card ">
												<div class="w3-cell-row w3-">
													<label for="{{classApiMethodMethod}}_archived">archived</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputArchived" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputArchived"}}
		{{#eq roleForWriteBool "true"}}
	{{#eq 'Page' classApiMethodMethod}}
															<input
																type="checkbox"
																id="{{classApiMethodMethod}}_archived"
																value="true"
	{{else}}
														<select
															id="{{classApiMethodMethod}}_archived"
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															class="{{classApiMethodMethod}}_archived classBaseResult inputBaseResult{{id}}Archived w3-input w3-border "
															name="setArchived"
	{{else}}
		{{#eq 'Page' classApiMethodMethod}}
																class="{{classApiMethodMethod}}_archived classBaseResult inputBaseResult{{id}}Archived w3-input w3-border "
																name="setArchived"
		{{else}}
																class="{{classApiMethodMethod}}_archived setArchived valueArchived classBaseResult inputBaseResult{{id}}Archived w3-input w3-border "
																name="setArchived"
		{{/eq}}
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															onchange="var confirmResponse = confirm('Are you sure you want to archive that?'); if(confirmResponse) { patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setArchived', $(this).prop('checked'), function() { addGlow($('.{{classApiMethodMethod}}_archived')); }, function() { addError($('.{{classApiMethodMethod}}_archived')); }); }"
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
		{{#if baseResult_.archived}}
																checked="checked"
		{{/if}}
																/>
	{{else}}
															>
															<option value="" selected="selected"></option>
															<option value="true">true</option>
															<option value="false">false</option>
														</select>
	{{/eq}}

		{{else}}
														<span class="varBaseResult{{id}}Archived varBaseResultArchived ">{{baseResult_.archived}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmDeleted"}}
<!-- #*inline "htmDeleted" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}BaseResultDeleted">
											<div class="w3-card ">
												<div class="w3-cell-row w3-">
													<label for="{{classApiMethodMethod}}_deleted">deleted</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputDeleted" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputDeleted"}}
		{{#eq roleForWriteBool "true"}}
	{{#eq 'Page' classApiMethodMethod}}
															<input
																type="checkbox"
																id="{{classApiMethodMethod}}_deleted"
																value="true"
	{{else}}
														<select
															id="{{classApiMethodMethod}}_deleted"
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															class="{{classApiMethodMethod}}_deleted classBaseResult inputBaseResult{{id}}Deleted w3-input w3-border "
															name="setDeleted"
	{{else}}
		{{#eq 'Page' classApiMethodMethod}}
																class="{{classApiMethodMethod}}_deleted classBaseResult inputBaseResult{{id}}Deleted w3-input w3-border "
																name="setDeleted"
		{{else}}
																class="{{classApiMethodMethod}}_deleted setDeleted valueDeleted classBaseResult inputBaseResult{{id}}Deleted w3-input w3-border "
																name="setDeleted"
		{{/eq}}
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															onchange="var confirmResponse = confirm('Are you sure you want to delete that?'); if(confirmResponse) { patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setDeleted', $(this).prop('checked'), function() { addGlow($('.{{classApiMethodMethod}}_deleted')); }, function() { addError($('.{{classApiMethodMethod}}_deleted')); }); }"
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
		{{#if baseResult_.deleted}}
																checked="checked"
		{{/if}}
																/>
	{{else}}
															>
															<option value="" selected="selected"></option>
															<option value="true">true</option>
															<option value="false">false</option>
														</select>
	{{/eq}}

		{{else}}
														<span class="varBaseResult{{id}}Deleted varBaseResultDeleted ">{{baseResult_.deleted}}</span>
		{{/eq}}
{{/inline}}
