{{#partial "htmHead"}}{{> htmHeadPageLayout}}{{/partial}}
{{#partial "htmTitle"}}
		<title>smartvillage-platform</title>
{{/partial}}
{{#partial "htmMeta"}}{{> htmMetaPageLayout}}{{/partial}}
{{#partial "htmStyle"}}{{> htmStylePageLayout}}{{/partial}}
{{#partial "htmScripts"}}{{> htmScriptsPageLayout}}{{/partial}}
{{#partial "htmScript"}}{{> htmScriptPageLayout}}{{/partial}}
{{#partial "htmBodyStart"}}{{> htmBodyStartPageLayout}}{{/partial}}
{{#partial "htmBodyMiddle"}}
<div class="w3-content w3-row w3-padding ">
	<div>
		<h3>Search the articles: </h3>
		<div class="">
			<form id="ArticleForm" style="display: inline-block; " method="GET" action="/page" onsubmit="event.preventDefault(); search($('#searchArticlesInput')); return false; ">
				<div class="w3-bar ">
					<input type="text" placeholder="search articles" title="" class="recherchePageRecherche_enUS w3-input w3-border w3-bar-item " name="objectText" id="searchArticlesInput">
					<button class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-vivid-greenish-blue ">
						<i class="fas fa-search "></i>
					</button>
				</div>
			</form>
		</div>
		<div class="masonry-container ">
{{#each listSitePage}}
			<div class="masonry-item w3-padding-top-32 ">
				<a href="{{ url }}">
					<div class="w3-card w3-padding ">
{{#if pageImageUri}}
						<img class="w3-image w3-border " src="{{ STATIC_BASE_URL }}{{ pageImageUri }}"/>
{{/if}}
						<div class="font-weight-bold ">{{h1}}</div>
						<div class="font-style-italic ">{{h2}}</div>
					</div>
				</a>
			</div>
{{/each}}
		</div>
	</div>
</div>
{{> htmBodyMiddlePageLayout}}{{/partial}}
{{#partial "htmBodyEnd"}}{{> htmBodyEndPageLayout}}{{/partial}}
{{#partial "htmBodyMenu"}}{{> htmBodyMenuPageLayout}}{{/partial}}
{{#partial "htmBody"}}{{> htmBodyPageLayout}}{{/partial}}
{{> PageLayout}}
