{{#*inline "htmTitleIotNodePage"}}		<!-- inline "htmTitleIotNodePage" -->
		<title>{{#if searchListIotNode_}}{{#eq iotNodeCount int1}}{{#eq params.query.q "*:*"}}IOT node{{else}}IOT node{{/eq}}{{else}}no IOT node found{{/eq}}{{else}}IOT nodes{{/if}}</title>
{{/inline}}
{{#*inline "htmMetaIotNodePage"}}{{> "htmMetaBaseModelPage"}}{{/inline}}
{{#*inline "htmStyleIotNodePage"}}{{> "htmStyleBaseModelPage"}}{{/inline}}
{{#*inline "htmScriptsIotNodePage"}}{{> "htmScriptsBaseModelPage"}}		<!-- inline "htmScriptsIotNodePage" -->
		<script src="{{staticBaseUrl}}/js/enUS/IotNodePage.js"></script>
{{/inline}}
{{#*inline "htmScriptIotNodePage"}}		<!-- inline "htmScriptIotNodePage" -->
		<script>
			$(document).ready(function() {
				document.onkeydown = function(evt) {
					evt = evt || window.event;
					var isEscape = false;
					if ('key' in evt) {
						isEscape = (evt.key === 'Escape' || evt.key === 'Esc');
					} else {
						isEscape = (evt.keyCode === 27);
					}
					if (isEscape) {
						$('.w3-modal:visible').hide();
					}
				};
				window.eventBus = new EventBus('/eventbus');
				var pk = {{#if pk}}{{pk}}{{else}}null{{/if}};
				if(pk != null) {
				}
				websocketIotNode(websocketIotNodeInner);
				window.varsFq = JSON.parse('{{{toJsonObjectStringInApostrophes varsFq}}}');
				pageGraph();
			});
		</script>
{{/inline}}
{{#*inline "htmUrlIotNode"}}{{pageUri}}?q={{query.q}}&amp;rows={{#if rows}}{{rows}}{{else}}{{pagination.rows}}{{/if}}&amp;rows={{#if start}}{{start}}{{else}}{{pagination.start}}{{/if}}{{#each query.fq}}{{#eq fq this}}{{else}}&fq={{fq}}:{{val}}{{/eq}}{{/each}}{{#each query.sort}}{{#eq sort this}}{{else}}&sort={{var}} {{order}}{{/eq}}{{/each}}{{/inline}}
{{#*inline "htmHeadIotNodePage"}}{{> "htmTitleIotNodePage"}}{{> "htmMetaIotNodePage"}}{{> "htmStyleIotNodePage"}}{{> "htmScriptsIotNodePage"}}{{> "htmScriptIotNodePage"}}{{/inline}}
{{#*inline "htmBodySearchIotNodePage"}}								<!-- #*inline "htmBodySearchIotNodePage" -->
								<div>
{{#each varsQ}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qIotNode_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qIotNode_{{ @key }}" placeholder="{{ displayName }}" class="" {{#eq ../var 'objectSuggest' }}onkeyup{{else}}onchange{{/eq}}="qChange(this); " data-var="{{ var }}" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
{{/each}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qIotNode_Start">start<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qIotNode_start" placeholder="{{ displayName }}" class="" onchange="paramChange(this); " data-var="start" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qIotNode_Rows">rows<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qIotNode_rows" placeholder="{{ displayName }}" class="" onchange="paramChange(this); " data-var="rows" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
								</div>
{{/inline}}
{{#*inline "htmBodyFiltersIotNodePage"}}								<!-- #*inline "htmBodyFiltersIotNodePage" -->
								<div>
{{#each varsFq }}
									<div class="">
										<label for="fqIotNode_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										<div class="w3-cell-row ">
											<div class="w3-cell w3-cell-top ">
												<button id="buttonFacetIotNode_{{ @key }}" class="" onclick="facetFieldChange(this); " title="see values " data-var="{{ var }}" data-clear="{{#if facetField }}true{{else}}false{{/if}}"><i class="fas fa-list "></i></button>
											</div>
											<div class="w3-cell w3-cell-top ">
												<input id="fqIotNode_{{ @key }}" placeholder="{{ displayName }}" class="" onchange="fqChange(this); " data-var="{{ var }}" autocomplete="off=" value="{{ val }}"/>
											</div>
										</div>
									</div>
									<div class="w3-tiny ">
										<div class="pageSearchVal " id="pageSearchVal-fqIotNode_{{ @key }}">{{#if val }}fq={{ var }}:{{encodeURIComponent val }}{{/if}}</div>
										<div class="pageSearchVal " id="pageSearchVal-buttonFacetIotNode_{{ @key }}">{{#if facetField.var }}facet.field={{ facetField.var }}{{/if}}</div>
										<ol class="pageFacetField w3-small pageFacetFieldIotNode_{{ @key }} " id="pageFacetFieldIotNode_{{ @key }}">
{{#each facetField.counts }}
											<li class="cursor-pointer " data-class="IotNode" data-var="{{ ../var }}" data-val="{{ @key }}" onclick="fqReplace(this); ">{{ @key }}: {{ this }}</li>
{{/each}}
										</ol>
									</div>
{{/each}}
								</div>
{{/inline}}
{{#*inline "htmBodyRangeIotNodePage"}}								<!-- #*inline "htmBodyRangeIotNodePage" -->
								<table class="w3-padding ">
									<tr>
										<td class="w3-padding w3-tiny " colspan="2">
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeGap-IotNode">{{#if defaultRangeGap }}facet.range.gap={{encodeURIComponent defaultRangeGap }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeStart-IotNode">{{#if defaultRangeStart }}facet.range.start={{encodeURIComponent defaultRangeStart }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeEnd-IotNode">{{#if defaultRangeEnd }}facet.range.end={{encodeURIComponent defaultRangeEnd }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeVar-IotNode">{{#if defaultRangeVar }}facet.range={!tag=r1}{{encodeURIComponent defaultRangeVar }}{{/if}}</div>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
									<tr class="">
										<td class="">
											<span>Range Gap</span>
										</td>
										<td class="">
											<select name="facet.range.gap" id="pageFacetRangeGap-IotNode" onchange="facetRangeChange(this, 'IotNode'); ">
												<option value="+1YEAR"{{#eq defaultRangeGap '+1YEAR'}} selected="selected"{{else}}{{/eq}}>Year</option>
												<option value="+1MONTH"{{#eq defaultRangeGap '+1MONTH'}} selected="selected"{{else}}{{/eq}}>Month</option>
												<option value="+1WEEK"{{#eq defaultRangeGap '+1WEEK'}} selected="selected"{{else}}{{/eq}}>Week</option>
												<option value="+1DAY"{{#eq defaultRangeGap '+1DAY'}} selected="selected"{{else}}{{#if defaultRangeGap}}{{else}} selected="selected"{{/if}}{{/eq}}>Day</option>
												<option value="+1HOUR"{{#eq defaultRangeGap '+1HOUR'}} selected="selected"{{else}}{{/eq}}>Hour</option>
												<option value="+1MINUTE"{{#eq defaultRangeGap '+1MINUTE'}} selected="selected"{{else}}{{/eq}}>Minute</option>
												<option value="+1SECOND"{{#eq defaultRangeGap '+1SECOND'}} selected="selected"{{else}}{{/eq}}>Second</option>
											</select>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range Start</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeStart" id="pageFacetRangeStart-IotNode" value="{{formatZonedDateTime defaultRangeStart "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeChange(this, 'IotNode'); "/></span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range End</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeEnd" id="pageFacetRangeEnd-IotNode" value="{{formatZonedDateTime defaultRangeEnd "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeChange(this, 'IotNode'); "/></span>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
{{#each varsRange }}
									<tr class="">
										<td class="">
											<span><input type="radio" name="pageFacetRange" class="pageFacetRange " id="pageFacetRangeIotNode_{{ @key }}" value="{{ var }}"{{#eq defaultRangeVar var }} checked="checked"{{/eq}} onclick="facetRangeChange(this, 'IotNode'); "/></span>
										</td>
										<td class="">
											<label for="pageFacetRangeIotNode_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyPivotIotNodePage"}}								<!-- #*inline "htmBodyPivotIotNodePage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-PivotIotNodeHidden">
{{#each defaultPivotVars }}
									<div class="pageSearchVal-PivotIotNodeHidden " id="pageSearchVal-PivotIotNodeHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-PivotIotNode">
{{#if defaultPivotVars }}
									<div class="pageSearchVal pageSearchVal-PivotIotNode " id="pageSearchVal-PivotIotNode_1">facet.pivot={{#each defaultPivotVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFacetPivot" class="pageFacetPivot " id="pageFacetPivotIotNode_{{ @key }}" value="{{ var }}"{{#if pivot }} checked="checked"{{/if}} onclick="facetPivotChange(this, 'IotNode'); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFacetPivotIotNode_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyFieldListIotNodePage"}}								<!-- #*inline "htmBodyFieldListIotNodePage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-FieldListIotNodeHidden">
{{#each defaultFieldListVars }}
									<div class="pageSearchVal-FieldListIotNodeHidden " id="pageSearchVal-FieldListIotNodeHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-FieldListIotNode">
{{#if defaultFieldListVars }}
									<div class="pageSearchVal pageSearchVal-FieldListIotNode " id="pageSearchVal-FieldListIotNode_1">fl={{#each defaultFieldListVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFieldList" class="pageFieldList " id="pageFieldListIotNode_{{ @key }}" value="{{ var }}"{{#if fieldList }} checked="checked"{{/if}} onclick="facetFieldListChange(this, 'IotNode'); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFieldListIotNode_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyStatsIotNodePage"}}								<!-- #*inline "htmBodyStatsIotNodePage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-StatsIotNodeHidden">
{{#each defaultStatsVars }}
									<div class="pageSearchVal-StatsIotNodeHidden " id="pageSearchVal-StatsIotNodeHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-StatsIotNode">
{{#if defaultStatsVars }}
{{#each defaultStatsVars }}									<div class="pageSearchVal pageSearchVal-StatsIotNode_{{ this }} " id="pageSearchVal-StatsIotNode_{{ this }}">stats.field={{ this }}</div>
{{/each}}{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
{{#if enableStats }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageStats" class="pageStats " id="pageStatsIotNode_{{ @key }}" value="{{ var }}"{{#if ./stats }} checked="checked"{{/if}} onclick="facetStatsChange(this, 'IotNode'); "/></span>
										</td>
										<td class="w3-cell ">
											<div>
												<label for="pageStatsIotNode_{{ @key }}">{{ displayName }}</label>
											</div>
											<div class="pageStatsField w3-small pageStatsFieldIotNode_{{ @key }} " id="pageStatsFieldIotNode_{{ @key }}">
{{#if ./stats }}
{{#each ./stats }}
{{#eq @key 'name' }}{{else}}
												<div data-class="IotNode" data-var="{{ ../var }}" data-val="{{ @key }}">{{ @key }}: {{ this }}</div>
{{/eq}}
{{/each}}
{{/if}}
											</div>
										</td>
									</tr>
{{/if}}
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyMenuIotNodePage"}}		<!-- #*inline "htmBodyMenuIotNodePage" -->
{{> "htmBodyMenuBaseModelPage"}}{{/inline}}
{{#*inline "htmBodyGraphIotNodePage"}}		<!-- #*inline "htmBodyGraphIotNodePage" -->
<div id="htmBodyGraphBaseModelPage" class="htmBodyGraph "></div>{{/inline}}
{{#*inline "htmBodyCount0IotNodePage"}}		<!-- #*inline "htmBodyCount0IotNodePage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-blue w3-hover-blue">
				{{#if contextIconCssClasses}}
					<i class="{{ contextIconCssClasses }} site-menu-icon "></i>
				{{/if}}
				<span class="">IOT nodes</span>
			</a>
		</h1>
		<h2>
			<span class="w3-bar-item w3-padding w3-center w3-block w3-blue">
				{{#if contextIconCssClasses}}
					<i class="{{ contextIconCssClasses }}  site-menu-icon "></i>
				{{/if}}
				<span class="">no IOT node found</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1AllIotNodePage"}}		<!-- #*inline "htmBodyCount1AllIotNodePage" -->
		<h1 class="w3-center ">
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-block w3-blue w3-hover-blue">
			{{#if contextIconCssClasses}}
				<i class="{{ contextIconCssClasses }} site-menu-icon "></i>
			{{/if}}
				<span class="">IOT node</span>
			</a>
		</h1>
		<h2 class="w3-center ">
			<span class="w3-bar-item w3-padding w3-center w3-block w3-blue">
				<span class="">{{iotNode_.objectTitle}}</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1IotNodePage"}}		<!-- #*inline "htmBodyCount1IotNodePage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-blue w3-hover-blue">
	{{#if contextIconCssClasses}}
				<i class="{{ contextIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class="">IOT nodes</span>
			</a>
		</h1>
		<div>
	{{#if pagination.pagePrevious}}
			<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-left "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
				<i class="fas fa-minus-square "></i>
			</a>
	{{else}}
			<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
				<i class="fas fa-plus-square "></i>
			</a>
	{{#if pagination.pageNext}}
			<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-right "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
			<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
		</div>
{{> "table1IotNodePage"}}
{{/inline}}
{{#*inline "htmBodyAllIotNodePage"}}		<!-- #*inline "htmBodyAllIotNodePage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-blue w3-hover-blue">
	{{#if contextIconCssClasses}}
				<i class="{{ contextIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class="">IOT nodes</span>
			</a>
		</h1>
		<div class="">
			<div>
	{{#if pagination.pagePrevious}}
				<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-left "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
					<i class="fas fa-minus-square "></i>
				</a>
	{{else}}
				<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
					<i class="fas fa-plus-square "></i>
				</a>
	{{#if pagination.pageNext}}
				<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-right "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
				<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
			</div>
{{> "table1IotNodePage"}}
		</div>
{{/inline}}
{{#*inline "htmFormIotNodePage"}}
		<!-- #*inline "htmForm" -->
		<form action="/api/iot-node" id="IotNodeForm" class="pageForm " style="" onsubmit="event.preventDefault(); return false; ">
{{#if pk}}
			<input name="pk" class="valuePk" type="hidden" value="{{pk}}"/>
{{/if}}
			<input name="focusId" type="hidden"/>
			<input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{{toJsonObjectStringInApostrophes pageResponse }}}' type="hidden"/>
		</form>
{{#if id}}
{{#block "htmForm_searchpageIotNode"}}{{/block}}
{{/if}}
{{/inline}}
{{#*inline "htmFormIotNodePage_patchIotNode"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-blue "
			onclick="$('#patchIotNodeModal').show(); "
			>
			<i class="fas fa-edit "></i>
			Modify IOT nodes
		</button>
		<div id="patchIotNodeModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-blue">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#patchIotNodeModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Modify IOT nodes</h2>
					</header>
					<div class="" id="patchIotNodeFormValues">
							<div class="w3-cell-row ">
{{> "htmCreated" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="PATCH"}}
{{> "htmDeleted" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmNodeName" classApiMethodMethod="PATCH"}}
{{> "htmNodeType" classApiMethodMethod="PATCH"}}
{{> "htmNodeId" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmLocation" classApiMethodMethod="PATCH"}}
							</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-blue "
							onclick="patchIotNode(null, $('#patchIotNodeFormValues')); "
							>Modify IOT nodes</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormIotNodePage_postIotNode"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-blue "
			onclick="$('#postIotNodeModal').show(); "
			>
			<i class="fas fa-file-plus "></i>
			Create an IOT node
		</button>
		<div id="postIotNodeModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-blue">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#postIotNodeModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Create an IOT node</h2>
					</header>
					<div class="" id="postIotNodeFormValues">
						<div id="postIotNodeForm">
							<div class="w3-cell-row ">
{{> "htmCreated" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="POST"}}
{{> "htmDeleted" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmNodeName" classApiMethodMethod="POST"}}
{{> "htmNodeType" classApiMethodMethod="POST"}}
{{> "htmNodeId" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmLocation" classApiMethodMethod="POST"}}
							</div>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-blue "
							onclick="postIotNode($('#postIotNodeForm')); "
							>Create an IOT node</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormIotNodePage_putimportIotNode"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-blue "
			onclick="$('#putimportIotNodeModal').show(); "
			>
			<i class="fas fa-file-import "></i>
			Import IOT nodes
		</button>
		<div id="putimportIotNodeModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-blue">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#putimportIotNodeModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Import IOT nodes</h2>
					</header>
					<div class="" id="putimportIotNodeFormValues">
						<div class="w3-cell-row ">
							<textarea
								class="PUTImport_searchList w3-input w3-border "
								style="height: 300px; "
								placeholder="{ 'searchList': [ { 'pk': ... , 'saves': [ ... ] }, ... ] }"
								></textarea>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-blue "
							onclick="putimportIotNode($('#putimportIotNodeFormValues')); "
							>Import IOT nodes</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormIotNodePage_searchpageIotNode"}}
		<div id="searchpageIotNodeModal" class="">
			<div class="">
				<div class="w3-card-4 ">
					<div class="" id="searchpageIotNodeFormValues">
						<div id="searchpageIotNodeForm">
							<div class="w3-cell-row ">
{{> "htmPk" classApiMethodMethod="Page"}}
{{> "htmCreated" classApiMethodMethod="Page"}}
{{> "htmModified" classApiMethodMethod="Page"}}
{{> "htmObjectId" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="Page"}}
{{> "htmDeleted" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmNodeName" classApiMethodMethod="Page"}}
{{> "htmNodeType" classApiMethodMethod="Page"}}
{{> "htmNodeId" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmLocation" classApiMethodMethod="Page"}}
{{> "htmJson_moisture" classApiMethodMethod="Page"}}
{{> "htmJson_moisture0" classApiMethodMethod="Page"}}
{{> "htmJson_moisture1" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmJson_temperature" classApiMethodMethod="Page"}}
{{> "htmJson_temperature0" classApiMethodMethod="Page"}}
{{> "htmJson_temperatureAverage" classApiMethodMethod="Page"}}
{{> "htmJson_badConditionsCounter" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmJson_door" classApiMethodMethod="Page"}}
{{> "htmJson_alarmDoor" classApiMethodMethod="Page"}}
{{> "htmJson_flood" classApiMethodMethod="Page"}}
{{> "htmJson_alarmFlood" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmJson_lux2" classApiMethodMethod="Page"}}
{{> "htmJson_illuminance" classApiMethodMethod="Page"}}
{{> "htmJson_resistance0" classApiMethodMethod="Page"}}
{{> "htmJson_resistance1" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmJson_frequency" classApiMethodMethod="Page"}}
{{> "htmJson_devEui" classApiMethodMethod="Page"}}
{{> "htmJson_bandwidth" classApiMethodMethod="Page"}}
{{> "htmJson_dataRate" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmJson_frameCount" classApiMethodMethod="Page"}}
{{> "htmJson_maxPayload" classApiMethodMethod="Page"}}
{{> "htmJson_bitsPerSecond" classApiMethodMethod="Page"}}
{{> "htmJson_batteryVoltage" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmJson_spreadingFactor" classApiMethodMethod="Page"}}
{{> "htmJson_dataRateAdaptive" classApiMethodMethod="Page"}}
{{> "htmJson_swversion" classApiMethodMethod="Page"}}
{{> "htmJson_batteryLevel" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmJson_startUpCount" classApiMethodMethod="Page"}}
{{> "htmJson_watchdogCount" classApiMethodMethod="Page"}}
{{> "htmJson_historySequence" classApiMethodMethod="Page"}}
{{> "htmJson_versionFirmware" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmJson_stackTxFailRebootCount" classApiMethodMethod="Page"}}
{{> "htmJson_historySequencePrevious" classApiMethodMethod="Page"}}
{{> "htmJson_snr" classApiMethodMethod="Page"}}
{{> "htmJson_rssi" classApiMethodMethod="Page"}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmBodySidebarIotNodePage"}}
				<div class="w3-dropdown-click w3-bar-block min-width-300px ">
					<div class="min-width-300px ">
						<span title="Search" class="siteSidebarToggle w3-padding-small w3-hover-black w3-blue " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-blue'); $(this).addClass('w3-black'); $(this).removeClass('w3-blue'); "><i class="fad fa-magnifying-glass hover-box-shadow w3-xlarge "></i> Search</span>
						<span title="Filters" class="siteSidebarToggle w3-padding-small w3-hover-black w3-blue " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleFilters').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-blue'); $(this).addClass('w3-black'); $(this).removeClass('w3-blue'); "><i class="fad fa-filters hover-box-shadow w3-xlarge "></i> Filters</span>
						<span title="Range" class="siteSidebarToggle w3-padding-small w3-hover-black w3-blue " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleRange').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-blue'); $(this).addClass('w3-black'); $(this).removeClass('w3-blue'); "><i class="fad fa-calendar-range hover-box-shadow w3-xlarge "></i> Range</span>
						<span title="Pivot" class="siteSidebarToggle w3-padding-small w3-hover-black w3-blue " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-blue'); $(this).addClass('w3-black'); $(this).removeClass('w3-blue'); "><i class="fad fa-table-pivot hover-box-shadow w3-xlarge "></i> Pivot</span>
						<span title="FieldList" class="siteSidebarToggle w3-padding-small w3-hover-black w3-blue " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleFieldList').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-blue'); $(this).addClass('w3-black'); $(this).removeClass('w3-blue'); "><i class="fad fa-list-ul hover-box-shadow w3-xlarge "></i> FieldList</span>
						<span title="Stats" class="siteSidebarToggle w3-padding-small w3-hover-black w3-blue " onclick="$('.siteSidebarToggleFieldList').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleStats').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-blue'); $(this).addClass('w3-black'); $(this).removeClass('w3-blue'); "><i class="fad fa-chart-candlestick hover-box-shadow w3-xlarge "></i> Stats</span>
						<a title="API" class="siteSidebarToggle w3-padding-small w3-hover-black w3-blue " href="{{ apiUri }}{{ queryStr }}"><i class="fad fa-brackets-curly hover-box-shadow w3-xlarge "></i> API</a>
					</div>
					<div class=" ">
						<div class="siteSidebarToggle siteSidebarToggleSearch w3-dropdown-content min-width-300px w3-white w3-border w3-border-blue " style="display: none; ">
							<div class="w3-bar w3-blue ">
								<span class="w3-bar-item ">
								<i class="fad fa-magnifying-glass "></i> Search</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodySearch"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFilters w3-dropdown-content min-width-300px w3-white w3-border w3-border-blue " style="display: none; ">
							<div class="w3-bar w3-blue ">
								<span class="w3-bar-item ">
								<i class="fad fa-filters "></i> Filters</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFilters"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleRange w3-dropdown-content min-width-300px w3-white w3-border w3-border-blue " style="display: none; ">
							<div class="w3-bar w3-blue  ">
								<span class="w3-bar-item ">
								<i class="fad fa-calendar-range "></i> Range</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyRange"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarTogglePivot w3-dropdown-content min-width-300px w3-white w3-border w3-border-blue " style="display: none; ">
							<div class="w3-bar w3-blue ">
								<span class="w3-bar-item ">
								<i class="fad fa-table-pivot "></i> Pivot</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyPivot"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFieldList w3-dropdown-content min-width-300px w3-white w3-border w3-border-blue " style="display: none; ">
							<div class="w3-bar w3-blue ">
								<span class="w3-bar-item ">
								<i class="fad fa-list-ul "></i> Field List</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFieldList"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleStats w3-dropdown-content min-width-300px w3-white w3-border w3-border-blue " style="display: none; ">
							<div class="w3-bar w3-blue ">
								<span class="w3-bar-item ">
								<i class="fad fa-chart-candlestick "></i> Stats</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyStats"}}{{/block}}
							</div>
						</div>
					</div>
				</div>
{{/inline}}
{{#*inline "htmBodyStartIotNodePage"}}
{{> "htmBodyStartBaseModelPage"}}
{{/inline}}
{{#*inline "htmBodyMiddleIotNodePage"}}
{{> "htmBodyMiddleBaseModelPage"}}
{{/inline}}
{{#*inline "htmBodyEndIotNodePage"}}
{{> "htmBodyEndBaseModelPage"}}
{{/inline}}
{{#*inline "htmBodyIotNodePage"}}
{{#block "htmBodyStart"}}{{/block}}
{{#block "htmBodyMiddle"}}{{/block}}
{{#block "htmBodyEnd"}}{{/block}}
{{/inline}}
{{#*inline "htmBodyMiddleIotNodePage"}}
		<div class="w3-bar w3-content ">
{{#block "htmBodySidebar"}}{{/block}}
		</div>
	<div class="pageContent w3-content ">
{{#block "htmBodyGraph"}}{{/block}}
	{{#eq iotNodeCount int0}}
{{#block "htmBodyCount0"}}{{/block}}
	{{else}}
		{{#eq iotNodeCount int1}}
			{{#eq params.query.q "*:*"}}
{{#block "htmBodyCount1All"}}{{/block}}
			{{else}}
{{#block "htmBodyCount1"}}{{/block}}
			{{/eq}}
		{{else}}
{{#block "htmBodyAll"}}{{/block}}
		{{/eq}}
	{{/eq}}
{{#block "htmForm"}}{{/block}}
{{#block "htmForms"}}{{/block}}
	</div>
{{/inline}}
{{#*inline "table1IotNodePage"}}
		<div class="w3-responsive ">
			<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable ">
{{> table2IotNodePage}}
			</table>
		</div>
{{/inline}}
{{#*inline "table2IotNodePage"}}
{{> "thead1IotNodePage"}}
{{> "tbody1IotNodePage"}}
{{> "tfoot1IotNodePage"}}
{{/inline}}
{{#*inline "thead1IotNodePage"}}
				<thead class="w3-blue w3-hover-blue">
{{> thead2IotNodePage}}
				</thead>
{{/inline}}
{{#*inline "thead2IotNodePage"}}
			<tr>
						<th>created</th>
						<th></th>
			</tr>
{{/inline}}
{{#*inline "tbody1IotNodePage"}}
				<tbody>
{{> tbody2IotNodePage}}
				</tbody>
{{/inline}}
{{#*inline "tbody2IotNodePage"}}
		{{#each listIotNode}}
					<tr>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{siteZonedDateTimeFormat created "MMM d, yyyy h:mm:ss a" siteLocale}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<i class="fad fa-router "></i>
								<span class="white-space-pre-wrap ">{{objectTitle}}</span>
							</a>
						</td>
					</tr>
		{{/each}}
{{/inline}}
{{#*inline "tfoot1IotNodePage"}}
				<tfoot class="w3-blue w3-hover-blue">
{{> tfoot2IotNodePage}}
				</tfoot>
{{/inline}}
{{#*inline "tfoot2IotNodePage"}}
			<tr>
			{{#if getColumnCreated}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnObjectTitle}}
				<td>
				</td>
			{{/if}}
			</tr>
	{{/inline}}
{{#*inline "htmFormsIotNodePage"}}
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq iotNodeCount int1}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-blue "
			id="refreshThisIotNodeGenPage"
			onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'pk:{{pk}}' } ], {}, function() { addGlow($('#refreshThisIotNodeGenPage')); }, function() { addError($('#refreshThisIotNodeGenPage')); }); return false; ">
			<i class="fas fa-sync-alt "></i>
			refresh this IOT node
		</button>
		{{/eq}}
	{{/ifContainsAnyRoles}}
	{{#ifContainsAnyRoles roles authRolesAdmin}}
{{#block "htmForm_patchIotNode"}}{{/block}}
{{#block "htmForm_postIotNode"}}{{/block}}
{{#block "htmForm_putimportIotNode"}}{{/block}}
	{{/ifContainsAnyRoles}}
{{#block "htmSuggested"}}{{/block}}
{{/inline}}
{{#*inline "htmSuggestedIotNodePage"}}
			{{#ifContainsAnyRoles roles rolesRequired}}
					<div class="">
						<button id="refreshAllIotNodeGenPage{{id}}" class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-blue "
							onclick="patch{{classSimpleName}}Vals([], {}, function() { addGlow($('#refreshAllIotNodeGenPage{{id}}')); }, function() { addError($('#refreshAllIotNodeGenPage{{id}}')); }); "
							>
							<i class="fas fa-sync-alt "></i>
							refresh all the IOT nodes
						</button>
					</div>
			{{/ifContainsAnyRoles}}
			<div class="w3-cell-row ">
				<div class="w3-cell ">
					<span>
						search IOT nodes: 
					</span>
				</div>
			</div>
			<div class="w3-bar ">
				<input
					type="text"
					class="suggestIotNode w3-input w3-border w3-bar-item "
					name="suggestIotNode"
					id="suggestIotNode{{id}}"
					autocomplete="off"
					oninput="suggestIotNodeObjectSuggest( [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'classCanonicalName,pk,pageUrlPk,objectTitle' } ], $('#suggestListIotNode{{id}}'), {{pk}}; "
					onkeyup="if (event.keyCode === 13) { event.preventDefault(); window.location.href = '/iot-node?q={{query1}}:' + encodeURIComponent(this.value) + '{{fqs}}{{sorts}}&amp;rows={{start2}}&amp;rows={{rows1}}"
				{{#if listIotNode}}
					value="{{query2}}"
				{{/if}}
				/>
				<button
					class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-blue "
					onclick="window.location.href = '/iot-node?q=&quot;, query1, &quot;:' + encodeURIComponent(this.previousElementSibling.value) + '&quot;, fqs, sorts, &quot;&amp;rows=&quot;, start2, &quot;&amp;rows=&quot;, rows1, &quot;'; "
					>
					<i class="fas fa-search "></i>
				</button>
			<div>
			<div class="w3-cell-row ">
				<div class="w3-cell w3-left-align w3-cell-top ">
					<ul class="w3-ul w3-hoverable " id="suggestListIotNode{{id}}">
					</ul>
				</div>
			</div>
			<div class="">
				<a href="/iot-node" class="">
					<i class="fad fa-router"></i>
					see all the IOT nodes
				</a>
			</div>
{{/inline}}
{{> BaseModelPage baseModel_=iotNode_}}

{{#*inline "htmJson"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}IotNodeJson">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label for="{{classApiMethodMethod}}_json">json</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputJson"}}
													</div>
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-blue "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_json')); $('#{{classApiMethodMethod}}_json').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:' + $('#IotNodeForm :input[name=pk]').val() }], 'setJson', null, function() { addGlow($('#{{classApiMethodMethod}}_json')); }, function() { addError($('#{{classApiMethodMethod}}_json')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputJson"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<input
															type="text"
															placeholder="json"
															id="{{classApiMethodMethod}}_json"
	{{#eq "Page" classApiMethodMethod}}
																class="setJson classIotNode inputIotNode{{pk}}Json w3-input w3-border "
																name="setJson"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setJson classIotNode inputIotNode{{pk}}Json w3-input w3-border "
																name="setJson"
		{{else}}
																class="valueJson w3-input w3-border classIotNode inputIotNode{{pk}}Json w3-input w3-border "
																name="json"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:{{pk}}' }], 'setJson', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_json')); }, function() { addError($('#{{classApiMethodMethod}}_json')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{iotNode_.json}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varIotNode{{pk}}Json ">{{iotNode_.json}}</span>
			{{/ifContainsKeys}}
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmNodeName"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}IotNodeNodeName">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label for="{{classApiMethodMethod}}_nodeName">node name</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputNodeName"}}
													</div>
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-blue "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_nodeName')); $('#{{classApiMethodMethod}}_nodeName').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:' + $('#IotNodeForm :input[name=pk]').val() }], 'setNodeName', null, function() { addGlow($('#{{classApiMethodMethod}}_nodeName')); }, function() { addError($('#{{classApiMethodMethod}}_nodeName')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputNodeName"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<input
															type="text"
															placeholder="node name"
															id="{{classApiMethodMethod}}_nodeName"
	{{#eq "Page" classApiMethodMethod}}
																class="setNodeName classIotNode inputIotNode{{pk}}NodeName w3-input w3-border "
																name="setNodeName"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setNodeName classIotNode inputIotNode{{pk}}NodeName w3-input w3-border "
																name="setNodeName"
		{{else}}
																class="valueNodeName w3-input w3-border classIotNode inputIotNode{{pk}}NodeName w3-input w3-border "
																name="nodeName"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:{{pk}}' }], 'setNodeName', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_nodeName')); }, function() { addError($('#{{classApiMethodMethod}}_nodeName')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{iotNode_.nodeName}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varIotNode{{pk}}NodeName ">{{iotNode_.nodeName}}</span>
			{{/ifContainsKeys}}
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmNodeType"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}IotNodeNodeType">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label for="{{classApiMethodMethod}}_nodeType">node type</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputNodeType"}}
													</div>
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-blue "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_nodeType')); $('#{{classApiMethodMethod}}_nodeType').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:' + $('#IotNodeForm :input[name=pk]').val() }], 'setNodeType', null, function() { addGlow($('#{{classApiMethodMethod}}_nodeType')); }, function() { addError($('#{{classApiMethodMethod}}_nodeType')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputNodeType"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<input
															type="text"
															placeholder="node type"
															id="{{classApiMethodMethod}}_nodeType"
	{{#eq "Page" classApiMethodMethod}}
																class="setNodeType classIotNode inputIotNode{{pk}}NodeType w3-input w3-border "
																name="setNodeType"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setNodeType classIotNode inputIotNode{{pk}}NodeType w3-input w3-border "
																name="setNodeType"
		{{else}}
																class="valueNodeType w3-input w3-border classIotNode inputIotNode{{pk}}NodeType w3-input w3-border "
																name="nodeType"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:{{pk}}' }], 'setNodeType', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_nodeType')); }, function() { addError($('#{{classApiMethodMethod}}_nodeType')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{iotNode_.nodeType}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varIotNode{{pk}}NodeType ">{{iotNode_.nodeType}}</span>
			{{/ifContainsKeys}}
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmNodeId"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}IotNodeNodeId">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label for="{{classApiMethodMethod}}_nodeId">node ID</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputNodeId"}}
													</div>
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-blue "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_nodeId')); $('#{{classApiMethodMethod}}_nodeId').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:' + $('#IotNodeForm :input[name=pk]').val() }], 'setNodeId', null, function() { addGlow($('#{{classApiMethodMethod}}_nodeId')); }, function() { addError($('#{{classApiMethodMethod}}_nodeId')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputNodeId"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<input
															type="text"
															placeholder="node ID"
															id="{{classApiMethodMethod}}_nodeId"
	{{#eq "Page" classApiMethodMethod}}
																class="setNodeId classIotNode inputIotNode{{pk}}NodeId w3-input w3-border "
																name="setNodeId"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setNodeId classIotNode inputIotNode{{pk}}NodeId w3-input w3-border "
																name="setNodeId"
		{{else}}
																class="valueNodeId w3-input w3-border classIotNode inputIotNode{{pk}}NodeId w3-input w3-border "
																name="nodeId"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:{{pk}}' }], 'setNodeId', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_nodeId')); }, function() { addError($('#{{classApiMethodMethod}}_nodeId')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{iotNode_.nodeId}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varIotNode{{pk}}NodeId ">{{iotNode_.nodeId}}</span>
			{{/ifContainsKeys}}
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmLocation"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}IotNodeLocation">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label for="{{classApiMethodMethod}}_location">location</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputLocation"}}
													</div>
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-blue "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_location')); $('#{{classApiMethodMethod}}_location').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:' + $('#IotNodeForm :input[name=pk]').val() }], 'setLocation', null, function() { addGlow($('#{{classApiMethodMethod}}_location')); }, function() { addError($('#{{classApiMethodMethod}}_location')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputLocation"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<input
															type="text"
															placeholder="location"
															id="{{classApiMethodMethod}}_location"
	{{#eq "Page" classApiMethodMethod}}
																class="setLocation classIotNode inputIotNode{{pk}}Location w3-input w3-border "
																name="setLocation"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setLocation classIotNode inputIotNode{{pk}}Location w3-input w3-border "
																name="setLocation"
		{{else}}
																class="valueLocation w3-input w3-border classIotNode inputIotNode{{pk}}Location w3-input w3-border "
																name="location"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:{{pk}}' }], 'setLocation', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_location')); }, function() { addError($('#{{classApiMethodMethod}}_location')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{iotNode_.location}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varIotNode{{pk}}Location ">{{iotNode_.location}}</span>
			{{/ifContainsKeys}}
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmJson_moisture"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>moisture</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_moisture"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_moisture"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_moisture ">{{iotNode_.json_moisture}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_moisture0"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>moisture0</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_moisture0"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_moisture0"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_moisture0 ">{{iotNode_.json_moisture0}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_moisture1"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>moisture1</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_moisture1"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_moisture1"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_moisture1 ">{{iotNode_.json_moisture1}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_temperature"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>temperature</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_temperature"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_temperature"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_temperature ">{{iotNode_.json_temperature}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_temperature0"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>temperature0</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_temperature0"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_temperature0"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_temperature0 ">{{iotNode_.json_temperature0}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_temperatureAverage"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>average temperature</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_temperatureAverage"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_temperatureAverage"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_temperatureAverage ">{{iotNode_.json_temperatureAverage}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_badConditionsCounter"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>bad conditions counter</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_badConditionsCounter"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_badConditionsCounter"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_badConditionsCounter ">{{iotNode_.json_badConditionsCounter}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_door"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>door</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_door"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_door"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_door ">{{iotNode_.json_door}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_alarmDoor"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>alarm door</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_alarmDoor"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_alarmDoor"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_alarmDoor ">{{iotNode_.json_alarmDoor}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_flood"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>flood</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_flood"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_flood"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_flood ">{{iotNode_.json_flood}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_alarmFlood"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>alarm flood</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_alarmFlood"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_alarmFlood"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_alarmFlood ">{{iotNode_.json_alarmFlood}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_lux2"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>lux2</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_lux2"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_lux2"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_lux2 ">{{iotNode_.json_lux2}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_illuminance"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>illuminance</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_illuminance"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_illuminance"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_illuminance ">{{iotNode_.json_illuminance}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_resistance0"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>resistance0</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_resistance0"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_resistance0"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_resistance0 ">{{iotNode_.json_resistance0}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_resistance1"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>resistance1</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_resistance1"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_resistance1"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_resistance1 ">{{iotNode_.json_resistance1}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_frequency"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>frequency</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_frequency"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_frequency"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_frequency ">{{iotNode_.json_frequency}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_devEui"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>extended unique identifier</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_devEui"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_devEui"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_devEui ">{{iotNode_.json_devEui}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_bandwidth"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>bandwidth</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_bandwidth"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_bandwidth"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_bandwidth ">{{iotNode_.json_bandwidth}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_dataRate"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>frequency</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_dataRate"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_dataRate"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_dataRate ">{{iotNode_.json_dataRate}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_frameCount"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>frame count</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_frameCount"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_frameCount"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_frameCount ">{{iotNode_.json_frameCount}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_maxPayload"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>max payload</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_maxPayload"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_maxPayload"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_maxPayload ">{{iotNode_.json_maxPayload}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_bitsPerSecond"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>bits per second</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_bitsPerSecond"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_bitsPerSecond"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_bitsPerSecond ">{{iotNode_.json_bitsPerSecond}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_batteryVoltage"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>battery voltage</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_batteryVoltage"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_batteryVoltage"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_batteryVoltage ">{{iotNode_.json_batteryVoltage}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_spreadingFactor"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>spreading factor</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_spreadingFactor"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_spreadingFactor"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_spreadingFactor ">{{iotNode_.json_spreadingFactor}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_dataRateAdaptive"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>adaptive data rate</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_dataRateAdaptive"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_dataRateAdaptive"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_dataRateAdaptive ">{{iotNode_.json_dataRateAdaptive}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_swversion"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>swversion</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_swversion"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_swversion"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_swversion ">{{iotNode_.json_swversion}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_batteryLevel"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>battery level</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_batteryLevel"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_batteryLevel"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_batteryLevel ">{{iotNode_.json_batteryLevel}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_startUpCount"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>startup count</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_startUpCount"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_startUpCount"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_startUpCount ">{{iotNode_.json_startUpCount}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_watchdogCount"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>watchdog count</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_watchdogCount"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_watchdogCount"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_watchdogCount ">{{iotNode_.json_watchdogCount}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_historySequence"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>history sequence</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_historySequence"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_historySequence"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_historySequence ">{{iotNode_.json_historySequence}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_versionFirmware"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>firmware version</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_versionFirmware"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_versionFirmware"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_versionFirmware ">{{iotNode_.json_versionFirmware}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_stackTxFailRebootCount"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>stack tx fail reboot count</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_stackTxFailRebootCount"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_stackTxFailRebootCount"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_stackTxFailRebootCount ">{{iotNode_.json_stackTxFailRebootCount}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_historySequencePrevious"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>history sequence previous</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_historySequencePrevious"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_historySequencePrevious"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_historySequencePrevious ">{{iotNode_.json_historySequencePrevious}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_snr"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>signal-to-noise ratio</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_snr"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_snr"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_snr ">{{iotNode_.json_snr}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmJson_rssi"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label>received signal strength indicator</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputJson_rssi"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputJson_rssi"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varIotNode{{pk}}Json_rssi ">{{iotNode_.json_rssi}}</span>
	{{/eq}}
{{/inline}}
