{{#*inline "htmTitleMapResultPage"}}		<!-- inline "htmTitleMapResultPage" -->
		<title>{{#if searchListMapResult_}}{{#eq mapResultCount int1}}{{#eq params.query.q "*:*"}}map result{{else}}map result{{/eq}}{{else}}no map result found{{/eq}}{{else}}map results{{/if}}</title>
{{/inline}}
{{#*inline "htmMetaMapResultPage"}}{{> "htmMetaBaseResultPage"}}{{/inline}}
{{#*inline "htmStyleMapResultPage"}}{{> "htmStyleBaseResultPage"}}{{/inline}}
{{#*inline "htmScriptsMapResultPage"}}{{> "htmScriptsBaseResultPage"}}		<!-- inline "htmScriptsMapResultPage" -->
		<script src="{{staticBaseUrl}}/js/enUS/MapResultPage.js"></script>
{{/inline}}
{{#*inline "htmScriptMapResultPage"}}		<!-- inline "htmScriptMapResultPage" -->
		<script>
			$(document).ready(function() {
				document.onkeydown = function(evt) {
					evt = evt || window.event;
					var isEscape = false;
					if ('key' in evt) {
						isEscape = (evt.key === 'Escape' || evt.key === 'Esc');
					} else {
						isEscape = (evt.keyCode === 27);
					}
					if (isEscape) {
						$('.w3-modal:visible').hide();
					}
				};
				window.eventBus = new EventBus('/eventbus');
				var pk = {{#if pk}}{{pk}}{{else}}null{{/if}};
				if(pk != null) {
				}
				websocketMapResult(websocketMapResultInner);
				window.varsFq = JSON.parse('{{{toJsonObjectStringInApostrophes varsFq}}}');
				window.varsRange = JSON.parse('{{{toJsonObjectStringInApostrophes varsRange}}}');
				window.defaultRangeVar = '{{ defaultRangeVar }}';
				pageGraph();

				var calendarEl = document.getElementById('site-calendar');
				var calendar = new FullCalendar.Calendar(calendarEl, {
					initialView: 'dayGridMonth'
				});
				//calendar.render();
			});
			$('#site-calendar-box').accordion({ collapsible: true, active: false });
{{#if DEFAULT_MAP_LOCATION }}
			window.DEFAULT_MAP_LOCATION = { lat: {{ DEFAULT_MAP_LOCATION.lat }}, lon: {{ DEFAULT_MAP_LOCATION.lon }} };
{{/if}}
{{#if DEFAULT_MAP_ZOOM }}
			window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{{/if}}
			window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
		</script>
{{/inline}}
{{#*inline "htmUrlMapResult"}}{{pageUri}}?q={{query.q}}&amp;rows={{#if rows}}{{rows}}{{else}}{{pagination.rows}}{{/if}}&amp;rows={{#if start}}{{start}}{{else}}{{pagination.start}}{{/if}}{{#each query.fq}}{{#eq fq this}}{{else}}&fq={{fq}}:{{val}}{{/eq}}{{/each}}{{#each query.sort}}{{#eq sort this}}{{else}}&sort={{var}} {{order}}{{/eq}}{{/each}}{{/inline}}
{{#*inline "htmHeadMapResultPage"}}{{#block "htmTitle"}}{{/block}}{{#block "htmMeta"}}{{/block}}{{#block "htmStyle"}}{{/block}}{{#block "htmScripts"}}{{/block}}{{#block "htmScript"}}{{/block}}{{/inline}}
{{#*inline "htmBodySearchMapResultPage"}}								<!-- #*inline "htmBodySearchMapResultPage" -->
								<div>
{{#each varsQ}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qMapResult_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qMapResult_{{ @key }}" placeholder="{{ displayName }}" class="" {{#eq ../var 'objectSuggest' }}onkeyup{{else}}onchange{{/eq}}="qChange(this); " data-var="{{ var }}" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
{{/each}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qMapResult_Start">start<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qMapResult_start" placeholder="{{ displayName }}" class="" onchange="paramChange(this); " data-var="start" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qMapResult_Rows">rows<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qMapResult_rows" placeholder="{{ displayName }}" class="" onchange="paramChange(this); " data-var="rows" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
								</div>
{{/inline}}
{{#*inline "htmBodyFiltersMapResultPage"}}								<!-- #*inline "htmBodyFiltersMapResultPage" -->
								<div>
{{#each varsFq }}
									<div class="">
										<label for="fqMapResult_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										<div class="w3-cell-row ">
											<div class="w3-cell w3-cell-top ">
												<button id="buttonFacetMapResult_{{ @key }}" class="" onclick="facetFieldChange(this); " title="see values " data-var="{{ var }}" data-clear="{{#if facetField }}true{{else}}false{{/if}}"><i class="fas fa-list "></i></button>
											</div>
											<div class="w3-cell w3-cell-top ">
												<input id="fqMapResult_{{ @key }}" placeholder="{{ displayName }}" class="" onchange="fqChange(this); " data-var="{{ var }}" autocomplete="off=" value="{{ val }}"/>
											</div>
										</div>
									</div>
									<div class="w3-tiny ">
										<div class="pageSearchVal " id="pageSearchVal-fqMapResult_{{ @key }}">{{#if val }}fq={{ var }}:{{encodeURIComponent val }}{{/if}}</div>
										<div class="pageSearchVal " id="pageSearchVal-buttonFacetMapResult_{{ @key }}">{{#if facetField.var }}facet.field={{ facetField.var }}{{/if}}</div>
										<ol class="pageFacetField w3-small pageFacetFieldMapResult_{{ @key }} " id="pageFacetFieldMapResult_{{ @key }}">
{{#each facetField.counts }}
											<li class="cursor-pointer " data-class="MapResult" data-var="{{ ../var }}" data-val="{{ @key }}" onclick="fqReplace(this); ">{{ @key }}: {{ this }}</li>
{{/each}}
										</ol>
									</div>
{{/each}}
								</div>
{{/inline}}
{{#*inline "htmBodyRangeMapResultPage"}}								<!-- #*inline "htmBodyRangeMapResultPage" -->
								<table class="w3-padding ">
									<tr>
										<td class="w3-padding w3-tiny " colspan="2">
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeGap-MapResult">{{#if rangeGap }}facet.range.gap={{encodeURIComponent rangeGap }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeStart-MapResult">{{#if rangeStart }}facet.range.start={{encodeURIComponent rangeStart }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeEnd-MapResult">{{#if rangeEnd }}facet.range.end={{encodeURIComponent rangeEnd }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeVar-MapResult">{{#if defaultRangeVar }}facet.range={!tag=r1}{{encodeURIComponent defaultRangeVar }}{{/if}}</div>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
									<tr class="">
										<td class="">
											<span>Range Gap</span>
										</td>
										<td class="">
											<select name="facet.range.gap" id="pageFacetRangeGap-MapResult" onchange="facetRangeGapChange(this, 'MapResult'); ">
												<option value="+1YEAR"{{#eq defaultRangeGap '+1YEAR'}} selected="selected"{{else}}{{/eq}}>Year</option>
												<option value="+1MONTH"{{#eq defaultRangeGap '+1MONTH'}} selected="selected"{{else}}{{/eq}}>Month</option>
												<option value="+1WEEK"{{#eq defaultRangeGap '+1WEEK'}} selected="selected"{{else}}{{/eq}}>Week</option>
												<option value="+1DAY"{{#eq defaultRangeGap '+1DAY'}} selected="selected"{{else}}{{#if defaultRangeGap}}{{else}} selected="selected"{{/if}}{{/eq}}>Day</option>
												<option value="+1HOUR"{{#eq defaultRangeGap '+1HOUR'}} selected="selected"{{else}}{{/eq}}>Hour</option>
												<option value="+1MINUTE"{{#eq defaultRangeGap '+1MINUTE'}} selected="selected"{{else}}{{/eq}}>Minute</option>
												<option value="+1SECOND"{{#eq defaultRangeGap '+1SECOND'}} selected="selected"{{else}}{{/eq}}>Second</option>
											</select>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range Start</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeStart" id="pageFacetRangeStart-MapResult" value="{{formatZonedDateTime defaultRangeStart "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeStartChange(this, 'MapResult'); "/></span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range End</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeEnd" id="pageFacetRangeEnd-MapResult" value="{{formatZonedDateTime defaultRangeEnd "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeEndChange(this, 'MapResult'); "/></span>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
{{#each varsRange }}
									<tr class="">
										<td class="">
											<span><input type="radio" name="pageFacetRange" class="pageFacetRange " id="pageFacetRangeMapResult_{{ @key }}" value="{{ var }}"{{#eq defaultRangeVar var }} checked="checked"{{/eq}} onclick="facetRangeChange(this, 'MapResult'); "/></span>
										</td>
										<td class="">
											<label for="pageFacetRangeMapResult_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyPivotMapResultPage"}}								<!-- #*inline "htmBodyPivotMapResultPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-PivotMapResultHidden">
{{#each defaultPivotVars }}
									<div class="pageSearchVal-PivotMapResultHidden " id="pageSearchVal-PivotMapResultHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-PivotMapResult">
{{#if defaultPivotVars }}
									<div class="pageSearchVal pageSearchVal-PivotMapResult " id="pageSearchVal-PivotMapResult_1">facet.pivot={!range=r1}{{#each defaultPivotVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFacetPivot" class="pageFacetPivot " id="pageFacetPivotMapResult_{{ @key }}" value="{{ var }}"{{#if pivot }} checked="checked"{{/if}} onclick="facetPivotChange(this, 'MapResult'); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFacetPivotMapResult_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyFieldListMapResultPage"}}								<!-- #*inline "htmBodyFieldListMapResultPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-FieldListMapResultHidden">
{{#each defaultFieldListVars }}
									<div class="pageSearchVal-FieldListMapResultHidden " id="pageSearchVal-FieldListMapResultHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-FieldListMapResult">
{{#if defaultFieldListVars }}
									<div class="pageSearchVal pageSearchVal-FieldListMapResult " id="pageSearchVal-FieldListMapResult_1">fl={{#each defaultFieldListVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFieldList" class="pageFieldList " id="pageFieldListMapResult_{{ @key }}" value="{{ var }}"{{#if fieldList }} checked="checked"{{/if}} onclick="facetFieldListChange(this, 'MapResult'); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFieldListMapResult_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyStatsMapResultPage"}}								<!-- #*inline "htmBodyStatsMapResultPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-StatsMapResultHidden">
{{#each defaultStatsVars }}
									<div class="pageSearchVal-StatsMapResultHidden " id="pageSearchVal-StatsMapResultHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-StatsMapResult">
{{#if defaultStatsVars }}
{{#each defaultStatsVars }}									<div class="pageSearchVal pageSearchVal-StatsMapResult_{{ this }} " id="pageSearchVal-StatsMapResult_{{ this }}">stats.field={{ this }}</div>
{{/each}}{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
{{#if enableStats }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageStats" class="pageStats " id="pageStatsMapResult_{{ @key }}" value="{{ var }}"{{#if ./stats }} checked="checked"{{/if}} onclick="facetStatsChange(this, 'MapResult'); "/></span>
										</td>
										<td class="w3-cell ">
											<div>
												<label for="pageStatsMapResult_{{ @key }}">{{ displayName }}</label>
											</div>
											<div class="pageStatsField w3-small pageStatsFieldMapResult_{{ @key }} " id="pageStatsFieldMapResult_{{ @key }}">
{{#if ./stats }}
{{#each ./stats }}
{{#eq @key 'name' }}{{else}}
												<div data-class="MapResult" data-var="{{ ../var }}" data-val="{{ @key }}">{{ @key }}: {{ this }}</div>
{{/eq}}
{{/each}}
{{#if ./stats/max }}
									<div>									<span> step </span>									<input id="animateStatsStep" placeholder="step" value="1" style="width: 4em; "/>									<span> min </span>									<input id="animateStatsMin" placeholder="min" value="{{ ./stats/min }}" style="width: 4em; "/>									<span> max </span>									<input id="animateStatsMax" placeholder="max" value="{{ ./stats/max }}" style="width: 4em; "/>									<span> speed in seconds </span>									<input id="animateStatsSpeed" placeholder="speed" value="1" style="width: 4em; "/>									<button onclick="animateStats(); ">animate</button>									</div>{{/if}}
{{/if}}
											</div>
										</td>
									</tr>
{{/if}}
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyMenuMapResultPage"}}		<!-- #*inline "htmBodyMenuMapResultPage" -->
{{> "htmBodyMenuBaseResultPage"}}{{/inline}}
{{#*inline "htmBodyGraphMapResultPage"}}		<!-- #*inline "htmBodyGraphMapResultPage" -->
<div id="htmBodyGraphBaseResultPage" class="w3-content htmBodyGraph "></div>{{/inline}}
{{#*inline "htmBodyCount0MapResultPage"}}		<!-- #*inline "htmBodyCount0MapResultPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
				{{#if classIconCssClasses}}
					<i class="{{ classIconCssClasses }} site-menu-icon "></i>
				{{/if}}
				<span class="">map results</span>
			</a>
		</h1>
		<h2>
			<span class="w3-bar-item w3-padding w3-center w3-block w3-2017-shaded-spruce">
				{{#if classIconCssClasses}}
					<i class="{{ classIconCssClasses }}  site-menu-icon "></i>
				{{/if}}
				<span class="">no map result found</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1AllMapResultPage"}}		<!-- #*inline "htmBodyCount1AllMapResultPage" -->
		<h1 class="w3-center ">
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-block w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
			{{#if classIconCssClasses}}
				<i class="{{ classIconCssClasses }} site-menu-icon "></i>
			{{/if}}
				<span class="">map result</span>
			</a>
		</h1>
		<h2 class="w3-center ">
			<span class="w3-bar-item w3-padding w3-center w3-block w3-2017-shaded-spruce">
				<span class="">{{mapResult_.objectTitle}}</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1MapResultPage"}}		<!-- #*inline "htmBodyCount1MapResultPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
	{{#if classIconCssClasses}}
				<i class="{{ classIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class="">map results</span>
			</a>
		</h1>
		<div>
	{{#if pagination.pagePrevious}}
			<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-left "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
				<i class="fas fa-minus-square "></i>
			</a>
	{{else}}
			<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
				<i class="fas fa-plus-square "></i>
			</a>
	{{#if pagination.pageNext}}
			<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-right "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
			<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
		</div>
{{> "table1MapResultPage"}}
{{/inline}}
{{#*inline "htmBodyAllMapResultPage"}}		<!-- #*inline "htmBodyAllMapResultPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
	{{#if classIconCssClasses}}
				<i class="{{ classIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class="">map results</span>
			</a>
		</h1>
		<div class="">
			<div>
	{{#if pagination.pagePrevious}}
				<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-left "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
					<i class="fas fa-minus-square "></i>
				</a>
	{{else}}
				<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
					<i class="fas fa-plus-square "></i>
				</a>
	{{#if pagination.pageNext}}
				<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-right "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
				<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
			</div>
{{> "table1MapResultPage"}}
		</div>
{{/inline}}
{{#*inline "htmFormMapResultPage"}}
		<!-- #*inline "htmForm" -->
		<form action="/api/map-result" id="MapResultForm" class="pageForm " style="" onsubmit="event.preventDefault(); return false; ">
{{#if id}}
			<input name="id" class="valueId" type="hidden" value="{{id}}"/>
{{/if}}
			<input name="focusId" type="hidden"/>
			<input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{{toJsonObjectStringInApostrophes pageResponse }}}' type="hidden"/>
		</form>
{{#if id}}
{{#block "htmForm_searchpageMapResult"}}{{/block}}
{{/if}}
{{/inline}}
{{#*inline "htmFormMapResultPage_searchpageMapResult"}}
		<div id="searchpageMapResultModal" class="">
			<div class="">
				<div class="w3-card-4 ">
					<div class="" id="searchpageMapResultFormValues">
						<div id="searchpageMapResultForm">
							<div class="w3-cell-row ">
{{#ifContainsAnyRoles roles roleRequired}}
{{> "htmCreated" classApiMethodMethod="Page" roleRequired="true"}}
{{else}}
{{> "htmCreated" classApiMethodMethod="Page" roleRequired="false"}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleRequired}}
{{> "htmModified" classApiMethodMethod="Page" roleRequired="true"}}
{{else}}
{{> "htmModified" classApiMethodMethod="Page" roleRequired="false"}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleRequired}}
{{> "htmObjectId" classApiMethodMethod="Page" roleRequired="true"}}
{{else}}
{{> "htmObjectId" classApiMethodMethod="Page" roleRequired="false"}}
{{/ifContainsAnyRoles}}
							</div>
							<div class="w3-cell-row ">
{{#ifContainsAnyRoles roles roleRequired}}
{{> "htmArchived" classApiMethodMethod="Page" roleRequired="true"}}
{{else}}
{{> "htmArchived" classApiMethodMethod="Page" roleRequired="false"}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleRequired}}
{{> "htmDeleted" classApiMethodMethod="Page" roleRequired="true"}}
{{else}}
{{> "htmDeleted" classApiMethodMethod="Page" roleRequired="false"}}
{{/ifContainsAnyRoles}}
							</div>
							<div class="w3-cell-row ">
{{#ifContainsAnyRoles roles roleRequired}}
{{> "htmSimulationName" classApiMethodMethod="Page" roleRequired="true"}}
{{else}}
{{> "htmSimulationName" classApiMethodMethod="Page" roleRequired="false"}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleRequired}}
{{> "htmSimulationKey" classApiMethodMethod="Page" roleRequired="true"}}
{{else}}
{{> "htmSimulationKey" classApiMethodMethod="Page" roleRequired="false"}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleRequired}}
{{> "htmSumocfgPath" classApiMethodMethod="Page" roleRequired="true"}}
{{else}}
{{> "htmSumocfgPath" classApiMethodMethod="Page" roleRequired="false"}}
{{/ifContainsAnyRoles}}
							</div>
							<div class="w3-cell-row ">
{{#ifContainsAnyRoles roles roleRequired}}
{{> "htmTime" classApiMethodMethod="Page" roleRequired="true"}}
{{else}}
{{> "htmTime" classApiMethodMethod="Page" roleRequired="false"}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleRequired}}
{{> "htmDateTime" classApiMethodMethod="Page" roleRequired="true"}}
{{else}}
{{> "htmDateTime" classApiMethodMethod="Page" roleRequired="false"}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleRequired}}
{{> "htmStep" classApiMethodMethod="Page" roleRequired="true"}}
{{else}}
{{> "htmStep" classApiMethodMethod="Page" roleRequired="false"}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleRequired}}
{{> "htmLocation" classApiMethodMethod="Page" roleRequired="true"}}
{{else}}
{{> "htmLocation" classApiMethodMethod="Page" roleRequired="false"}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleRequired}}
{{> "htmColor" classApiMethodMethod="Page" roleRequired="true"}}
{{else}}
{{> "htmColor" classApiMethodMethod="Page" roleRequired="false"}}
{{/ifContainsAnyRoles}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmBodySidebarMapResultPage"}}
				<div class="w3-dropdown-click w3-bar-block min-width-300px ">
					<div class="min-width-300px ">
						<span title="Search" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-magnifying-glass hover-box-shadow w3-xlarge "></i> Search</span>
						<span title="Filters" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleFilters').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-filters hover-box-shadow w3-xlarge "></i> Filters</span>
						<span title="Range" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleRange').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-calendar-range hover-box-shadow w3-xlarge "></i> Range</span>
						<span title="Pivot" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-table-pivot hover-box-shadow w3-xlarge "></i> Pivot</span>
						<span title="FieldList" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleFieldList').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-list-ul hover-box-shadow w3-xlarge "></i> FieldList</span>
						<span title="Stats" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleFieldList').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleStats').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-chart-candlestick hover-box-shadow w3-xlarge "></i> Stats</span>
						<a title="API" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " href="{{ apiUri }}{{ queryStr }}"><i class="fad fa-brackets-curly hover-box-shadow w3-xlarge "></i> API</a>
					</div>
					<div class=" ">
						<div class="siteSidebarToggle siteSidebarToggleSearch w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-magnifying-glass "></i> Search</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodySearch"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFilters w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-filters "></i> Filters</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFilters"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleRange w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce  ">
								<span class="w3-bar-item ">
								<i class="fad fa-calendar-range "></i> Range</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyRange"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarTogglePivot w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-table-pivot "></i> Pivot</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyPivot"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFieldList w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-list-ul "></i> Field List</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFieldList"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleStats w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-chart-candlestick "></i> Stats</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyStats"}}{{/block}}
							</div>
						</div>
					</div>
				</div>
{{/inline}}
{{#*inline "htmBodyStartMapResultPage"}}
{{> "htmBodyStartBaseResultPage"}}
{{/inline}}
{{#*inline "htmBodyMiddleMapResultPage"}}
{{> "htmBodyMiddleBaseResultPage"}}
{{/inline}}
{{#*inline "htmBodyEndMapResultPage"}}
{{> "htmBodyEndBaseResultPage"}}
{{/inline}}
{{#*inline "htmBodyMapResultPage"}}
{{#block "htmBodyStart"}}{{/block}}
{{#block "htmBodyMiddle"}}{{/block}}
{{#block "htmBodyEnd"}}{{/block}}
{{/inline}}
{{#*inline "htmBodyMiddleMapResultPage"}}
		<div class="w3-bar w3-content ">
{{#block "htmBodySidebar"}}{{/block}}
		</div>
{{#block "htmBodyGraph"}}{{/block}}
	<div class="pageContent w3-content ">
		<div id="site-calendar-box">
			<div id="site-calendar"><!-- // --></div>
		</div>
	{{#eq mapResultCount int0}}
{{#block "htmBodyCount0"}}{{/block}}
	{{else}}
		{{#eq mapResultCount int1}}
			{{#eq params.query.q "*:*"}}
{{#block "htmBodyCount1All"}}{{/block}}
			{{else}}
{{#block "htmBodyCount1"}}{{/block}}
			{{/eq}}
		{{else}}
{{#block "htmBodyAll"}}{{/block}}
		{{/eq}}
	{{/eq}}
{{#block "htmForm"}}{{/block}}
{{#block "htmForms"}}{{/block}}
	</div>
{{/inline}}
{{#*inline "table1MapResultPage"}}
		<div class="w3-responsive ">
			<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable ">
{{> table2MapResultPage}}
			</table>
		</div>
{{/inline}}
{{#*inline "table2MapResultPage"}}
{{> "thead1MapResultPage"}}
{{> "tbody1MapResultPage"}}
{{> "tfoot1MapResultPage"}}
{{/inline}}
{{#*inline "thead1MapResultPage"}}
				<thead class="w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
{{> thead2MapResultPage}}
				</thead>
{{/inline}}
{{#*inline "thead2MapResultPage"}}
			<tr>
						<th>created</th>
						<th></th>
			</tr>
{{/inline}}
{{#*inline "tbody1MapResultPage"}}
				<tbody>
{{> tbody2MapResultPage}}
				</tbody>
{{/inline}}
{{#*inline "tbody2MapResultPage"}}
		{{#each listMapResult}}
					<tr>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{siteZonedDateTimeFormat created "MMM d, yyyy h:mm:ss a" siteLocale}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<i class="fad fa-map-location-dot "></i>
								<span class="white-space-pre-wrap ">{{objectTitle}}</span>
							</a>
						</td>
					</tr>
		{{/each}}
{{/inline}}
{{#*inline "tfoot1MapResultPage"}}
				<tfoot class="w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
{{> tfoot2MapResultPage}}
				</tfoot>
{{/inline}}
{{#*inline "tfoot2MapResultPage"}}
			<tr>
			{{#if getColumnCreated}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnObjectTitle}}
				<td>
				</td>
			{{/if}}
			</tr>
	{{/inline}}
{{#*inline "htmFormsMapResultPage"}}
	{{#ifContainsAnyRoles roles roleRequired}}
		{{#eq mapResultCount int1}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
			id="refreshThisMapResultGenPage"
			onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'id:{{id}}' } ], {}, function() { addGlow($('#refreshThisMapResultGenPage')); }, function() { addError($('#refreshThisMapResultGenPage')); }); return false; ">
			<i class="fas fa-sync-alt "></i>
			refresh this map result
		</button>
		{{/eq}}
	{{/ifContainsAnyRoles}}
	{{#ifContainsAnyRoles roles authRoleAdmin}}
	{{/ifContainsAnyRoles}}
{{#block "htmSuggested"}}{{/block}}
{{/inline}}
{{#*inline "htmSuggestedMapResultPage"}}
			{{#ifContainsAnyRoles roles roleRequired}}
					<div class="">
						<button id="refreshAllMapResultGenPage{{id}}" class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
							onclick="patch{{classSimpleName}}Vals([], {}, function() { addGlow($('#refreshAllMapResultGenPage{{id}}')); }, function() { addError($('#refreshAllMapResultGenPage{{id}}')); }); "
							>
							<i class="fas fa-sync-alt "></i>
							refresh all the map results
						</button>
					</div>
			{{/ifContainsAnyRoles}}
			<div class="w3-cell-row ">
				<div class="w3-cell ">
					<span>
						search map results: 
					</span>
				</div>
			</div>
			<div class="w3-bar ">
				<input
					type="text"
					class="suggestMapResult w3-input w3-border w3-bar-item "
					name="suggestMapResult"
					id="suggestMapResult{{id}}"
					autocomplete="off"
					oninput="suggestMapResultObjectSuggest( [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'classCanonicalName,,pageUrlPk,objectTitle' } ], $('#suggestListMapResult{{id}}'), {{id}}; "
					onkeyup="if (event.keyCode === 13) { event.preventDefault(); window.location.href = '/map-result?q={{query1}}:' + encodeURIComponent(this.value) + '{{fqs}}{{sorts}}&amp;rows={{start2}}&amp;rows={{rows1}}"
				{{#if listMapResult}}
					value="{{query2}}"
				{{/if}}
				/>
				<button
					class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
					onclick="window.location.href = '/map-result?q=&quot;, query1, &quot;:' + encodeURIComponent(this.previousElementSibling.value) + '&quot;, fqs, sorts, &quot;&amp;rows=&quot;, start2, &quot;&amp;rows=&quot;, rows1, &quot;'; "
					>
					<i class="fas fa-search "></i>
				</button>
			<div>
			<div class="w3-cell-row ">
				<div class="w3-cell w3-left-align w3-cell-top ">
					<ul class="w3-ul w3-hoverable " id="suggestListMapResult{{id}}">
					</ul>
				</div>
			</div>
			<div class="">
				<a href="/map-result" class="">
					<i class="fad fa-map-location-dot"></i>
					see all the map results
				</a>
			</div>
{{/inline}}
{{> BaseResultPage baseResult_=mapResult_}}

{{#*inline "htmSimulationName"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}MapResultSimulationName">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_simulationName">simulation name</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputSimulationName" roleRequired=roleRequired}}
													</div>
	{{#eq roleRequired "true"}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_simulationName')); $('#{{classApiMethodMethod}}_simulationName').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:' + $('#MapResultForm :input[name=id]').val() }], 'setSimulationName', null, function() { addGlow($('#{{classApiMethodMethod}}_simulationName')); }, function() { addError($('#{{classApiMethodMethod}}_simulationName')); }); "
																		>
																	<i class="far fa-delete-left "></i>
																</button>
															</div>
														{{/eq}}
	{{/eq}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputSimulationName"}}
		{{#eq roleRequired "true"}}
														<input
															type="text"
															placeholder="simulation name"
															id="{{classApiMethodMethod}}_simulationName"
	{{#eq "Page" classApiMethodMethod}}
																class="setSimulationName classMapResult inputMapResult{{id}}SimulationName w3-input w3-border "
																name="setSimulationName"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setSimulationName classMapResult inputMapResult{{id}}SimulationName w3-input w3-border "
																name="setSimulationName"
		{{else}}
																class="valueSimulationName w3-input w3-border classMapResult inputMapResult{{id}}SimulationName w3-input w3-border "
																name="simulationName"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setSimulationName', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_simulationName')); }, function() { addError($('#{{classApiMethodMethod}}_simulationName')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{mapResult_.simulationName}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varMapResult{{id}}SimulationName ">{{mapResult_.simulationName}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varMapResult{{id}}SimulationName ">{{mapResult_.simulationName}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmSumocfgPath"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}MapResultSumocfgPath">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_sumocfgPath">sumocfg path</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputSumocfgPath" roleRequired=roleRequired}}
													</div>
	{{#eq roleRequired "true"}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_sumocfgPath')); $('#{{classApiMethodMethod}}_sumocfgPath').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:' + $('#MapResultForm :input[name=id]').val() }], 'setSumocfgPath', null, function() { addGlow($('#{{classApiMethodMethod}}_sumocfgPath')); }, function() { addError($('#{{classApiMethodMethod}}_sumocfgPath')); }); "
																		>
																	<i class="far fa-delete-left "></i>
																</button>
															</div>
														{{/eq}}
	{{/eq}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputSumocfgPath"}}
		{{#eq roleRequired "true"}}
														<input
															type="text"
															placeholder="sumocfg path"
															id="{{classApiMethodMethod}}_sumocfgPath"
	{{#eq "Page" classApiMethodMethod}}
																class="setSumocfgPath classMapResult inputMapResult{{id}}SumocfgPath w3-input w3-border "
																name="setSumocfgPath"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setSumocfgPath classMapResult inputMapResult{{id}}SumocfgPath w3-input w3-border "
																name="setSumocfgPath"
		{{else}}
																class="valueSumocfgPath w3-input w3-border classMapResult inputMapResult{{id}}SumocfgPath w3-input w3-border "
																name="sumocfgPath"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setSumocfgPath', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_sumocfgPath')); }, function() { addError($('#{{classApiMethodMethod}}_sumocfgPath')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{mapResult_.sumocfgPath}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varMapResult{{id}}SumocfgPath ">{{mapResult_.sumocfgPath}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varMapResult{{id}}SumocfgPath ">{{mapResult_.sumocfgPath}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmSimulationKey"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}MapResultSimulationKey">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_simulationKey">Simulation</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputSimulationKey" roleRequired=roleRequired}}
													</div>
	{{#eq roleRequired "true"}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_simulationKey')); $('#{{classApiMethodMethod}}_simulationKey').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:' + $('#MapResultForm :input[name=id]').val() }], 'setSimulationKey', null, function() { addGlow($('#{{classApiMethodMethod}}_simulationKey')); }, function() { addError($('#{{classApiMethodMethod}}_simulationKey')); }); "
																		>
																	<i class="far fa-delete-left "></i>
																</button>
															</div>
														{{/eq}}
	{{/eq}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputSimulationKey"}}
		{{#eq roleRequired "true"}}
														<input
															type="text"
															placeholder="Simulation"
															title="The simulation key. "
															id="{{classApiMethodMethod}}_simulationKey"
	{{#eq "Page" classApiMethodMethod}}
																class="setSimulationKey classMapResult inputMapResult{{id}}SimulationKey w3-input w3-border "
																name="setSimulationKey"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setSimulationKey classMapResult inputMapResult{{id}}SimulationKey w3-input w3-border "
																name="setSimulationKey"
		{{else}}
																class="valueSimulationKey w3-input w3-border classMapResult inputMapResult{{id}}SimulationKey w3-input w3-border "
																name="simulationKey"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setSimulationKey', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_simulationKey')); }, function() { addError($('#{{classApiMethodMethod}}_simulationKey')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{mapResult_.simulationKey}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varMapResult{{id}}SimulationKey ">{{mapResult_.simulationKey}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varMapResult{{id}}SimulationKey ">{{mapResult_.simulationKey}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmTimeStepId"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}MapResultTimeStepId">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_timeStepId">Time Step</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputTimeStepId" roleRequired=roleRequired}}
													</div>
	{{#eq roleRequired "true"}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_timeStepId')); $('#{{classApiMethodMethod}}_timeStepId').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:' + $('#MapResultForm :input[name=id]').val() }], 'setTimeStepId', null, function() { addGlow($('#{{classApiMethodMethod}}_timeStepId')); }, function() { addError($('#{{classApiMethodMethod}}_timeStepId')); }); "
																		>
																	<i class="far fa-delete-left "></i>
																</button>
															</div>
														{{/eq}}
	{{/eq}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputTimeStepId"}}
		{{#eq roleRequired "true"}}
														<input
															type="text"
															placeholder="Time Step"
															title="The time step ID. "
															id="{{classApiMethodMethod}}_timeStepId"
	{{#eq "Page" classApiMethodMethod}}
																class="setTimeStepId classMapResult inputMapResult{{id}}TimeStepId w3-input w3-border "
																name="setTimeStepId"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setTimeStepId classMapResult inputMapResult{{id}}TimeStepId w3-input w3-border "
																name="setTimeStepId"
		{{else}}
																class="valueTimeStepId w3-input w3-border classMapResult inputMapResult{{id}}TimeStepId w3-input w3-border "
																name="timeStepId"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setTimeStepId', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_timeStepId')); }, function() { addError($('#{{classApiMethodMethod}}_timeStepId')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{mapResult_.timeStepId}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varMapResult{{id}}TimeStepId ">{{mapResult_.timeStepId}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varMapResult{{id}}TimeStepId ">{{mapResult_.timeStepId}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmTime"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}MapResultTime">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_time">Time in seconds</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputTime" roleRequired=roleRequired}}
													</div>
	{{#eq roleRequired "true"}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_time')); $('#{{classApiMethodMethod}}_time').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:' + $('#MapResultForm :input[name=id]').val() }], 'setTime', null, function() { addGlow($('#{{classApiMethodMethod}}_time')); }, function() { addError($('#{{classApiMethodMethod}}_time')); }); "
																		>
																	<i class="far fa-delete-left "></i>
																</button>
															</div>
														{{/eq}}
	{{/eq}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputTime"}}
		{{#eq roleRequired "true"}}
														<input
															type="text"
															placeholder="Time in seconds"
															title="The time in seconds. "
															id="{{classApiMethodMethod}}_time"
	{{#eq "Page" classApiMethodMethod}}
																class="setTime classMapResult inputMapResult{{id}}Time w3-input w3-border "
																name="setTime"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setTime classMapResult inputMapResult{{id}}Time w3-input w3-border "
																name="setTime"
		{{else}}
																class="valueTime w3-input w3-border classMapResult inputMapResult{{id}}Time w3-input w3-border "
																name="time"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setTime', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_time')); }, function() { addError($('#{{classApiMethodMethod}}_time')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{mapResult_.time}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varMapResult{{id}}Time ">{{mapResult_.time}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varMapResult{{id}}Time ">{{mapResult_.time}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmDateTime"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}MapResultDateTime">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_dateTime">Date and Time</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputDateTime" roleRequired=roleRequired}}
													</div>
	{{#eq roleRequired "true"}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_dateTime')); $('#{{classApiMethodMethod}}_dateTime').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:' + $('#MapResultForm :input[name=id]').val() }], 'setDateTime', null, function() { addGlow($('#{{classApiMethodMethod}}_dateTime')); }, function() { addError($('#{{classApiMethodMethod}}_dateTime')); }); "
																		>
																	<i class="far fa-delete-left "></i>
																</button>
															</div>
														{{/eq}}
	{{/eq}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputDateTime"}}
		{{#eq roleRequired "true"}}
														<input
																type="text"
																class="w3-input w3-border datetimepicker setDateTime classMapResult inputMapResult{{id}}DateTime w3-input w3-border "
																placeholder="MM/dd/yyyy h:mm a '['VV']'"
																data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
																id="{{classApiMethodMethod}}_dateTime"
																title="The date and time.  (MM/dd/yyyy h:mm a '['VV']')"
																value="{{#if mapResult_.dateTime}}{{formatZonedDateTime mapResult_.dateTime "MM/dd/yyyy h:mm a '['VV']'" defaultLocaleId defaultZoneId}}{{/if}}"
														{{#eq 'Page' classApiMethodMethod}}
															onclick="removeGlow($(this)); ";
															onchange="var timeZone = this.value.split('[').pop().split(']')[0]; var t1 = moment(this.value.split('[')[0].trim(), 'MM/DD/YYYY h:mm a'); var t2 = moment.tz(this.value.split('[')[0].trim(), 'MM/DD/YYYY h:mm a', timeZone); var t3 = new Date(t1._d); t3.setTime(t1.toDate().getTime() + t2.toDate().getTime() - t1.toDate().getTime()); var t = moment(t3); if(t) { var s = t.tz(timeZone).format('YYYY-MM-DDTHH:mm:ss.000') + '[' + timeZone + ']'; patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setDateTime', s, function() { addGlow($('#{{classApiMethodMethod}}_dateTime')); }, function() { addError($('#{{classApiMethodMethod}}_dateTime')); }); } "
														{{/eq}}
														/>
													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varMapResult{{id}}DateTime ">{{mapResult_.dateTime}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varMapResult{{id}}DateTime ">{{mapResult_.dateTime}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmX"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}MapResultX">
											<div class="w3-card ">
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputX" roleRequired=roleRequired}}
													</div>
	{{#eq roleRequired "true"}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_x')); $('#{{classApiMethodMethod}}_x').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:' + $('#MapResultForm :input[name=id]').val() }], 'setX', null, function() { addGlow($('#{{classApiMethodMethod}}_x')); }, function() { addError($('#{{classApiMethodMethod}}_x')); }); "
																		>
																	<i class="far fa-delete-left "></i>
																</button>
															</div>
														{{/eq}}
	{{/eq}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputX"}}
		{{#eq roleRequired "true"}}
														<input
															type="text"
															id="{{classApiMethodMethod}}_x"
	{{#eq "Page" classApiMethodMethod}}
																class="setX classMapResult inputMapResult{{id}}X w3-input w3-border "
																name="setX"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setX classMapResult inputMapResult{{id}}X w3-input w3-border "
																name="setX"
		{{else}}
																class="valueX w3-input w3-border classMapResult inputMapResult{{id}}X w3-input w3-border "
																name="x"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setX', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_x')); }, function() { addError($('#{{classApiMethodMethod}}_x')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{mapResult_.x}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varMapResult{{id}}X ">{{mapResult_.x}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varMapResult{{id}}X ">{{mapResult_.x}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmY"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}MapResultY">
											<div class="w3-card ">
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputY" roleRequired=roleRequired}}
													</div>
	{{#eq roleRequired "true"}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_y')); $('#{{classApiMethodMethod}}_y').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:' + $('#MapResultForm :input[name=id]').val() }], 'setY', null, function() { addGlow($('#{{classApiMethodMethod}}_y')); }, function() { addError($('#{{classApiMethodMethod}}_y')); }); "
																		>
																	<i class="far fa-delete-left "></i>
																</button>
															</div>
														{{/eq}}
	{{/eq}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputY"}}
		{{#eq roleRequired "true"}}
														<input
															type="text"
															id="{{classApiMethodMethod}}_y"
	{{#eq "Page" classApiMethodMethod}}
																class="setY classMapResult inputMapResult{{id}}Y w3-input w3-border "
																name="setY"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setY classMapResult inputMapResult{{id}}Y w3-input w3-border "
																name="setY"
		{{else}}
																class="valueY w3-input w3-border classMapResult inputMapResult{{id}}Y w3-input w3-border "
																name="y"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setY', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_y')); }, function() { addError($('#{{classApiMethodMethod}}_y')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{mapResult_.y}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varMapResult{{id}}Y ">{{mapResult_.y}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varMapResult{{id}}Y ">{{mapResult_.y}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmLocation"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}MapResultLocation">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_location">location</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputLocation" roleRequired=roleRequired}}
													</div>
	{{#eq roleRequired "true"}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_location')); $('#{{classApiMethodMethod}}_location').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:' + $('#MapResultForm :input[name=id]').val() }], 'setLocation', null, function() { addGlow($('#{{classApiMethodMethod}}_location')); }, function() { addError($('#{{classApiMethodMethod}}_location')); }); "
																		>
																	<i class="far fa-delete-left "></i>
																</button>
															</div>
														{{/eq}}
	{{/eq}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputLocation"}}
		{{#eq roleRequired "true"}}
														<input
															type="text"
															placeholder="location"
															id="{{classApiMethodMethod}}_location"
	{{#eq "Page" classApiMethodMethod}}
																class="setLocation classMapResult inputMapResult{{id}}Location w3-input w3-border "
																name="setLocation"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setLocation classMapResult inputMapResult{{id}}Location w3-input w3-border "
																name="setLocation"
		{{else}}
																class="valueLocation w3-input w3-border classMapResult inputMapResult{{id}}Location w3-input w3-border "
																name="location"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setLocation', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_location')); }, function() { addError($('#{{classApiMethodMethod}}_location')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{mapResult_.location}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varMapResult{{id}}Location ">{{mapResult_.location}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varMapResult{{id}}Location ">{{mapResult_.location}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmColor"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}MapResultColor">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_color">color</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputColor" roleRequired=roleRequired}}
													</div>
	{{#eq roleRequired "true"}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_color')); $('#{{classApiMethodMethod}}_color').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:' + $('#MapResultForm :input[name=id]').val() }], 'setColor', null, function() { addGlow($('#{{classApiMethodMethod}}_color')); }, function() { addError($('#{{classApiMethodMethod}}_color')); }); "
																		>
																	<i class="far fa-delete-left "></i>
																</button>
															</div>
														{{/eq}}
	{{/eq}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputColor"}}
		{{#eq roleRequired "true"}}
														<input
															type="text"
															placeholder="color"
															id="{{classApiMethodMethod}}_color"
	{{#eq "Page" classApiMethodMethod}}
																class="setColor classMapResult inputMapResult{{id}}Color w3-input w3-border "
																name="setColor"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setColor classMapResult inputMapResult{{id}}Color w3-input w3-border "
																name="setColor"
		{{else}}
																class="valueColor w3-input w3-border classMapResult inputMapResult{{id}}Color w3-input w3-border "
																name="color"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setColor', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_color')); }, function() { addError($('#{{classApiMethodMethod}}_color')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{mapResult_.color}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varMapResult{{id}}Color ">{{mapResult_.color}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varMapResult{{id}}Color ">{{mapResult_.color}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmStep"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}MapResultStep">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_step">step</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputStep" roleRequired=roleRequired}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputStep"}}
		{{#eq roleRequired "true"}}
	{{#eq 'Page' classApiMethodMethod}}
															<input
																type="checkbox"
																id="{{classApiMethodMethod}}_step"
																value="true"
	{{else}}
														<select
															id="{{classApiMethodMethod}}_step"
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															class="classMapResult inputMapResult{{id}}Step w3-input w3-border "
															name="setStep"
	{{else}}
		{{#eq 'Page' classApiMethodMethod}}
																class="classMapResult inputMapResult{{id}}Step w3-input w3-border "
																name="setStep"
		{{else}}
																class="setStep valueStep classMapResult inputMapResult{{id}}Step w3-input w3-border "
																name="setStep"
		{{/eq}}
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setStep', $(this).prop('checked'), function() { addGlow($('#{{classApiMethodMethod}}_step')); }, function() { addError($('#{{classApiMethodMethod}}_step')); }); "
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
		{{#if mapResult_.step}}
																checked="checked"
		{{/if}}
																/>
	{{else}}
															>
															<option value="" selected="selected"></option>
															<option value="true">true</option>
															<option value="false">false</option>
														</select>
	{{/eq}}

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varMapResult{{id}}Step ">{{mapResult_.step}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varMapResult{{id}}Step ">{{mapResult_.step}}</span>
		{{/eq}}
{{/inline}}
