{{> "htmPageLayout"}}
{{#*inline "htmHeadPageLayout"}}{{> "htmTitlePageLayout"}}{{> "htmMetaPageLayout"}}{{> "htmStylePageLayout"}}{{> "htmScriptsPageLayout"}}{{> "htmScriptPageLayout"}}{{/inline}}
{{#*inline "htmScriptsPageLayout"}}		<!-- #*inline "htmScriptsPageLayout" -->
		<script src="{{staticBaseUrl}}/js/jquery-1.12.4.min.js"></script>
		<script src="{{staticBaseUrl}}/js/jquery-ui.js"></script>
{{#if fontAwesomeKit }}
		<script src="{{ fontAwesomeKit }}"></script>
{{/if}}
		<script src="{{staticBaseUrl}}/js/site-enUS.js"></script>
		<script src="{{staticBaseUrl}}/js/moment.js"></script>
		<script src="{{staticBaseUrl}}/js/sockjs.js"></script>
		<script src="{{staticBaseUrl}}/js/vertx-eventbus.js"></script>
		<script src="{{staticBaseUrl}}/js/plotly-2.9.0.min.js"></script>
		<script src="{{staticBaseUrl}}/js/fullcalendar/main.min.js"></script>
{{/inline}}
{{#*inline "htmScriptPageLayout"}}		<!-- #*inline "htmScriptPageLayout" -->
{{/inline}}
{{#*inline "htmStylePageLayout"}}		<!-- #*inline "htmStylePageLayout" -->

		<link rel="icon" href="{{staticBaseUrl}}/favicon.ico" />
		<link rel="stylesheet" href="{{staticBaseUrl}}/css/w3.css" />
		<link rel="stylesheet" href="{{staticBaseUrl}}/css/site-enUS.css" />
		<link rel="stylesheet" href="{{staticBaseUrl}}/css/jquery-ui.css" />
		<link rel="stylesheet" href="{{staticBaseUrl}}/css/fullcalendar/main.min.css"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous%20Pro%7CBellefair%7CJomhuria%7CPT%20Serif%3A700%7CStint%20Ultra%20Condensed&amp;display=swap"/>

{{/inline}}
{{#*inline "htmMetaPageLayout"}}		<!-- #*inline "htmMetaPageLayout" -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
{{#each htmMeta}}{{#if htmBefore}}{{{htmBefore}}}{{/if}}{{#if text}}{{#each text}}{{.}}{{/each}}{{/if}}{{#if htmAfter}}{{{htmAfter}}}{{/if}}{{/each}}
{{/inline}}
{{#*inline "htmTitlePageLayout"}}		<!-- #*inline "htmTitlePageLayout" -->
		<title>smartabyar-smartvillage</title>
{{/inline}}
{{#*inline "htmBodyMenuPageLayout"}}
		<div class="w3-bar w3-hide-small ">
			<div class="site-bar-item w3-bar-item ">
				<a class="w3-bar-item w3-text-2017-shaded-spruce " href="{{ siteBaseUrl }}"><i class="fad fa-house "></i> smartabyar-smartvillage</a>
			</div>
{{> "htmMenuItems"}}
		</div>
		<div class="w3-bar w3-hide-medium w3-hide-large ">
			<div class="site-bar-item w3-bar-item ">
				<a class="w3-bar-item w3-text-2017-shaded-spruce " href="{{ siteBaseUrl }}"><i class="fad fa-house "></i> smartabyar-smartvillage</a>
			</div>
			<div class="w3-dropdown-hover ">
				<button class="w3-button w3-text-black "><i class="fad fa-bars w3-text-black "></i> Menu</button>
				<div class="w3-dropdown-content w3-bar-block w3-card-4 ">
{{> "htmMenuItems"}}
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmMenuItems"}}

{{#if userKey}}
				<div class="site-bar-item w3-bar-item ">
					<a href="/user/{{ userKey }}" class="header-icon-a w3-hover-opacity w3-center w3-text-2017-shaded-spruce "><i class="fad fa-house-user w3-text-2017-shaded-spruce "></i> {{userName}}</a>
					<a href="{{ logoutUrl }}" class="header-icon-a w3-hover-opacity w3-center w3-text-2017-shaded-spruce "><i class="fad fa-house-user w3-text-2017-shaded-spruce "></i> Logout</a>
				</div>
{{else}}
				<div class="site-bar-item w3-bar-item ">
					<a href="/user" class="header-icon-a w3-hover-opacity w3-center w3-text-2017-shaded-spruce "><i class="fad fa-house-user w3-text-2017-shaded-spruce "></i> Login</a>
				</div>
{{/if}}
				<div class="site-bar-item w3-bar-item ">
					<a href="/map-result{{#if defaultRangeGap}}?facet.range.gap={{encodeURIComponent defaultRangeGap }}&facet.range.start={{encodeURIComponent defaultRangeStart }}&facet.range.end={{encodeURIComponent defaultRangeEnd }}&facet.range={!tag=r1}created&facet.pivot={!range=r1}classSimpleName{{/if}}" class="header-icon-a w3-hover-opacity w3-center w3-text-2017-shaded-spruce "><i class="fad fa-map-location-dot w3-text-2017-shaded-spruce "></i> map results</a>
				</div>
				<div class="site-bar-item w3-bar-item ">
					<a href="/traffic-simulation{{#if defaultRangeGap}}?facet.range.gap={{encodeURIComponent defaultRangeGap }}&facet.range.start={{encodeURIComponent defaultRangeStart }}&facet.range.end={{encodeURIComponent defaultRangeEnd }}&facet.range={!tag=r1}created&facet.pivot={!range=r1}classSimpleName{{/if}}" class="header-icon-a w3-hover-opacity w3-center w3-text-2017-shaded-spruce "><i class="fad fa-traffic-light-stop w3-text-2017-shaded-spruce "></i> traffic simulations</a>
				</div>
				<div class="site-bar-item w3-bar-item ">
					<a href="/traffic-light{{#if defaultRangeGap}}?facet.range.gap={{encodeURIComponent defaultRangeGap }}&facet.range.start={{encodeURIComponent defaultRangeStart }}&facet.range.end={{encodeURIComponent defaultRangeEnd }}&facet.range={!tag=r1}created&facet.pivot={!range=r1}classSimpleName{{/if}}" class="header-icon-a w3-hover-opacity w3-center w3-text-2017-shaded-spruce "><i class="fad fa-map-location-dot w3-text-2017-shaded-spruce "></i> traffic lights</a>
				</div>
				<div class="site-bar-item w3-bar-item ">
					<a href="/traffic-light-step{{#if defaultRangeGap}}?facet.range.gap={{encodeURIComponent defaultRangeGap }}&facet.range.start={{encodeURIComponent defaultRangeStart }}&facet.range.end={{encodeURIComponent defaultRangeEnd }}&facet.range={!tag=r1}created&facet.pivot={!range=r1}classSimpleName{{/if}}" class="header-icon-a w3-hover-opacity w3-center w3-text-2017-shaded-spruce "><i class="fad fa-map-location-dot w3-text-2017-shaded-spruce "></i> traffic light steps</a>
				</div>
				<div class="site-bar-item w3-bar-item ">
					<a href="/vehicle-step{{#if defaultRangeGap}}?facet.range.gap={{encodeURIComponent defaultRangeGap }}&facet.range.start={{encodeURIComponent defaultRangeStart }}&facet.range.end={{encodeURIComponent defaultRangeEnd }}&facet.range={!tag=r1}created&facet.pivot={!range=r1}classSimpleName{{/if}}" class="header-icon-a w3-hover-opacity w3-center w3-text-2017-shaded-spruce "><i class="fad fa-map-location-dot w3-text-2017-shaded-spruce "></i> vehicle steps</a>
				</div>
				<div class="site-bar-item w3-bar-item ">
					<a href="/person-step{{#if defaultRangeGap}}?facet.range.gap={{encodeURIComponent defaultRangeGap }}&facet.range.start={{encodeURIComponent defaultRangeStart }}&facet.range.end={{encodeURIComponent defaultRangeEnd }}&facet.range={!tag=r1}created&facet.pivot={!range=r1}classSimpleName{{/if}}" class="header-icon-a w3-hover-opacity w3-center w3-text-2017-shaded-spruce "><i class="fad fa-map-location-dot w3-text-2017-shaded-spruce "></i> person steps</a>
				</div>
				<div class="site-bar-item w3-bar-item ">
					<a href="/iot-node{{#if defaultRangeGap}}?facet.range.gap={{encodeURIComponent defaultRangeGap }}&facet.range.start={{encodeURIComponent defaultRangeStart }}&facet.range.end={{encodeURIComponent defaultRangeEnd }}&facet.range={!tag=r1}created&facet.pivot={!range=r1}classSimpleName{{/if}}" class="header-icon-a w3-hover-opacity w3-center w3-text-2017-shaded-spruce "><i class="fad fa-router w3-text-2017-shaded-spruce "></i> IOT nodes</a>
				</div>
				<div class="site-bar-item w3-bar-item ">
					<a href="/iot-node-step{{#if defaultRangeGap}}?facet.range.gap={{encodeURIComponent defaultRangeGap }}&facet.range.start={{encodeURIComponent defaultRangeStart }}&facet.range.end={{encodeURIComponent defaultRangeEnd }}&facet.range={!tag=r1}created&facet.pivot={!range=r1}classSimpleName{{/if}}" class="header-icon-a w3-hover-opacity w3-center w3-text-2017-shaded-spruce "><i class="fad fa-router w3-text-2017-shaded-spruce "></i> IOT node steps</a>
				</div>
				<div class="site-bar-item w3-bar-item ">
					<a href="/page{{#if defaultRangeGap}}?facet.range.gap={{encodeURIComponent defaultRangeGap }}&facet.range.start={{encodeURIComponent defaultRangeStart }}&facet.range.end={{encodeURIComponent defaultRangeEnd }}&facet.range={!tag=r1}created&facet.pivot={!range=r1}classSimpleName{{/if}}" class="header-icon-a w3-hover-opacity w3-center w3-text-2017-shaded-spruce "><i class="fad fa-newspaper w3-text-2017-shaded-spruce "></i> articles</a>
				</div>
				<div class="site-bar-item w3-bar-item ">
					<a href="/system-event{{#if defaultRangeGap}}?facet.range.gap={{encodeURIComponent defaultRangeGap }}&facet.range.start={{encodeURIComponent defaultRangeStart }}&facet.range.end={{encodeURIComponent defaultRangeEnd }}&facet.range={!tag=r1}created&facet.pivot={!range=r1}classSimpleName{{/if}}" class="header-icon-a w3-hover-opacity w3-center w3-text-2017-shaded-spruce "><i class="fad fa-square-terminal w3-text-2017-shaded-spruce "></i> system events</a>
				</div>

{{/inline}}
{{#*inline "htmBodyStartPageLayout"}}		<!-- #*inline "htmBodyStartPageLayout" -->
		<div class="w3-center ">
{{#block "htmBodyMenu"}}{{/block}}
		</div>
{{/inline}}
{{#*inline "htmBodyMiddlePageLayout"}}		<!-- #*inline "htmBodyMiddlePageLayout" -->
	<div class="pageContent w3-content ">
{{#each htmBody}}{{#if htmBefore}}{{{htmBefore}}}{{/if}}{{#if text}}{{#each text}}{{.}}{{/each}}{{/if}}{{#if htmAfter}}{{{htmAfter}}}{{/if}}{{/each}}
	</div>
{{/inline}}
{{#*inline "htmBodyEndPageLayout"}}		<!-- #*inline "htmBodyEndPageLayout" -->

  		<div class="w3-center ">
{{#block "htmBodyMenu"}}{{/block}}
		</div>
		<footer class="w3-center w3-black w3-text-white w3-padding-24 ">
			<div class="w3-bar ">
{{#if GITHUB_ORG }}
				<a class="w3-bar-item grow-20 w3-margin w3-text-white w3-medium " href="https://github.com/{{ GITHUB_ORG }}/{{ SITE_NAME }}/" target="_blank">This site is open source <i class="fa-brands fa-github w3-large "></i></a>
{{/if }}
{{#if SITE_POWERED_BY_URL }}
				<a class="w3-bar-item grow-20 w3-margin w3-text-white w3-medium " href="{{ SITE_POWERED_BY_URL }}" target="_blank"><span class="w3-medium ">Powered by </span>{{#if SITE_POWERED_BY_IMAGE_URI }}<img alt="" class="w3-image " style="display: inline-block; width: 100px; margin: 0 10px;" src="{{ staticBaseUrl }}{{ SITE_POWERED_BY_IMAGE_URI }}"/>{{else}}{{#if SITE_POWERED_BY_NAME}}{{ SITE_POWERED_BY_NAME }}{{/if}}{{/if}}</a>
{{/if }}
			</div>
		</footer>

{{/inline}}
{{#*inline "htmBodyPageLayout"}}		<!-- #*inline "htmBodyPageLayout" -->
{{#if filterLabel }}{{else}}
{{#block "htmBodyStart"}}{{/block}}
{{/if}}
{{#block "htmBodyMiddle"}}{{/block}}
{{#if filterLabel }}{{else}}
{{#block "htmBodyEnd"}}{{/block}}
{{/if}}
{{/inline}}
{{#*inline "htmPageLayout"}}<!DOCTYPE html>
<!-- #*inline "htmPageLayout" -->
<html lang="en" style="height: 100%;">
	<head>
{{#block "htmHead"}}{{/block}}
	</head>
	<body class="w3-light-grey " style="height: 100%;">
{{#block "htmBody"}}{{/block}}
	</body>
</html>
{{/inline}}
