{{#*inline "htmTitleSiteHtmPage"}}		<!-- inline "htmTitleSiteHtmPage" -->
		<title>{{#if searchListSiteHtm_}}{{#eq siteHtmCount int1}}{{#if id}}HTML{{else}}HTML{{/if}}{{else}}no HTML found{{/eq}}{{else}}HTMLs{{/if}}</title>
{{/inline}}
{{#*inline "htmMetaSiteHtmPage"}}{{> "htmMetaBaseResultPage"}}{{/inline}}
{{#*inline "htmStyleSiteHtmPage"}}{{> "htmStyleBaseResultPage"}}{{/inline}}
{{#*inline "htmScriptsSiteHtmPage"}}{{> "htmScriptsBaseResultPage"}}		<!-- inline "htmScriptsSiteHtmPage" -->
		<script src="{{staticBaseUrl}}/js/enUS/SiteHtmPage.js"></script>
{{/inline}}
{{#*inline "htmScriptSiteHtmPage"}}		<!-- inline "htmScriptSiteHtmPage" -->
		<script>
			$('#site-calendar-box').accordion({ collapsible: true, active: false });
{{#if DEFAULT_MAP_LOCATION }}
			window.DEFAULT_MAP_LOCATION = { lat: {{ DEFAULT_MAP_LOCATION.lat }}, lon: {{ DEFAULT_MAP_LOCATION.lon }} };
{{/if}}
{{#if DEFAULT_MAP_ZOOM }}
			window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{{/if}}
			window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
			$(document).ready(function() {
				document.onkeydown = function(evt) {
					evt = evt || window.event;
					var isEscape = false;
					if ('key' in evt) {
						isEscape = (evt.key === 'Escape' || evt.key === 'Esc');
					} else {
						isEscape = (evt.keyCode === 27);
					}
					if (isEscape) {
						$('.w3-modal:visible').hide();
					}
				};
				window.eventBus = new EventBus('/eventbus');
				var pk = {{#if pk}}{{pk}}{{else}}null{{/if}};
				if(pk != null) {
					window.siteHtm = JSON.parse($('.pageForm .siteHtm').val());
				}
					window.listSiteHtm = JSON.parse($('.pageForm .listSiteHtm').val());
				window.varsFq = JSON.parse('{{{toJsonObjectStringInApostrophes varsFq}}}');
				window.varsRange = JSON.parse('{{{toJsonObjectStringInApostrophes varsRange}}}');
				window.defaultRangeVar = '{{ defaultRangeVar }}';
				pageGraphSiteHtm();

				var calendarEl = document.getElementById('site-calendar');
				var calendar = new FullCalendar.Calendar(calendarEl, {
					initialView: 'dayGridMonth'
				});
				//calendar.render();
{{#block "websocket"}}{{/block}}
			});

			function jsWebsocketSiteHtm(id, vars, $response) {
{{#block "jsWebsocket"}}{{/block}}
			}

			function jsTooltipSiteHtm(e, feature) {
{{#block "jsTooltip"}}{{/block}}
			}

			function htmTooltipSiteHtm(feature, layer) {
				return `{{#block "htmTooltip"}}{{/block}}`;
			}

			function jsLegendSiteHtm(map) {
{{#block "jsLegend"}}{{/block}}
			}

			function htmLegendSiteHtm(map, shape, , index, count) {
				var color = siteHtm.[index];
				var title = siteHtm.[index];
				var url = siteHtm.[index];
				var htm = '';
				if(index == 0) {
					htm += `<div class="w3-white w3-padding w3-border w3-opacity w3-hover-opacity-off ">
	<div class="w3-larger font-weight-bold ">HTMLs</div>
	<div>
`;
				}
				htm += `{{#block "htmLegend"}}{{/block}}`;
				if(index == (count - 1)) {
					htm += `
	</div>
</div>
`;
				}
				return htm;
			}

			function jsStyleSiteHtm(feature) {
{{#block "jsStyle"}}{{/block}}
			}
		</script>
{{/inline}}
{{#*inline "websocketSiteHtmPage"}}
				<!-- inline "websocketSiteHtmPage" -->
				websocketSiteHtm(websocketSiteHtmInner);
{{/inline}}
{{#*inline "jsWebsocketSiteHtmPage"}}{{/inline}}
{{#*inline "jsTooltipSiteHtmPage"}}{{/inline}}
{{#*inline "htmTooltipSiteHtmPage"}}{{/inline}}
{{#*inline "jsLegendSiteHtmPage"}}
				var div = L.DomUtil.create('div', 'info legend');
				var htm = '';
				$.each( window.listSiteHtm, function(index, siteHtm) {
					if(siteHtm.) {
						var shapes = [];
						if(Array.isArray(siteHtm.))
							shapes = shapes.concat(siteHtm.);
						else
							shapes.push(siteHtm.);
						shapes.forEach(function(shape, index) {
							htm += htmLegendSiteHtm(map, shape, , index, shapes.length);
						});
					}
				});
				div.innerHTML = htm;
				return div;
{{/inline}}
{{#*inline "htmLegendSiteHtmPage"}}
		<div>
			<i class="fa-light fa-circle" style="color: ${color}; "></i>
			<span data-id="${.id}" onclick="window.geoJSONLayerGroupSiteHtm.getLayer(window.mapLayers[this.getAttribute('data-id')]).openPopup(); return false;" href="">${title}</span>
		</div>
{{/inline}}
{{#*inline "jsStyleSiteHtmPage"}}
				if(feature.geometry.type == 'Point') {
					return {
						radius: 8
						, fillColor: '#ff7800'
						, color: '#000'
						, weight: 1
						, opacity: 1
						, fillOpacity: 0.8
					};
				} else {
					return {
						 fillColor: '#ff7800'
						, color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
						, weight: 5
						, opacity: 1
						, fillOpacity: 0.8
					};
				}
{{/inline}}
{{#*inline "htmUrlSiteHtm"}}{{pageUri}}?q={{query.q}}&amp;rows={{#if rows}}{{rows}}{{else}}{{pagination.rows}}{{/if}}&amp;rows={{#if start}}{{start}}{{else}}{{pagination.start}}{{/if}}{{#each query.fq}}{{#eq fq this}}{{else}}&fq={{fq}}:{{val}}{{/eq}}{{/each}}{{#each query.sort}}{{#eq sort this}}{{else}}&sort={{var}} {{order}}{{/eq}}{{/each}}{{/inline}}
{{#*inline "htmHeadSiteHtmPage"}}{{#block "htmTitle"}}{{/block}}{{#block "htmMeta"}}{{/block}}{{#block "htmStyle"}}{{/block}}{{#block "htmScripts"}}{{/block}}{{#block "htmScript"}}{{/block}}{{/inline}}
{{#*inline "htmBodySearchSiteHtmPage"}}								<!-- #*inline "htmBodySearchSiteHtmPage" -->
								<div>
{{#each varsQ}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qSiteHtm_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qSiteHtm_{{ @key }}" placeholder="{{ displayName }}" class="" {{#eq ../var 'objectSuggest' }}onkeyup{{else}}onchange{{/eq}}="qChange('SiteHtm', this); " data-var="{{ var }}" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
{{/each}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qSiteHtm_Start">start<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qSiteHtm_start" placeholder="{{ displayName }}" class="" onchange="paramChange('SiteHtm', this); " data-var="start" autocomplete="off=" value="{{ start }}"/>
											<div class="pageSearchVal w3-tiny ">start={{ start }}</div>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qSiteHtm_Rows">rows<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qSiteHtm_rows" placeholder="{{ displayName }}" class="" onchange="paramChange('SiteHtm', this); " data-var="rows" autocomplete="off" value="{{ rows }}"/>
											<div class="pageSearchVal w3-tiny ">rows={{ rows }}</div>
										</div>
									</div>
								</div>
{{/inline}}
{{#*inline "htmBodyFiltersSiteHtmPage"}}								<!-- #*inline "htmBodyFiltersSiteHtmPage" -->
								<div>
{{#each varsFq }}
									<div class="">
										<label for="fqSiteHtm_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										<div class="w3-cell-row ">
											<div class="w3-cell w3-cell-top ">
												<button id="buttonFacetSiteHtm_{{ @key }}" class="" onclick="facetFieldChange('SiteHtm', this); " title="see values " data-var="{{ var }}" data-clear="{{#if facetField }}true{{else}}false{{/if}}"><i class="fas fa-list "></i></button>
											</div>
											<div class="w3-cell w3-cell-top ">
												<input id="fqSiteHtm_{{ @key }}" placeholder="{{ displayName }}" class="" onchange="fqChange('SiteHtm', this); " data-var="{{ var }}" autocomplete="off=" value="{{ val }}"/>
											</div>
										</div>
									</div>
									<div class="w3-tiny ">
										<div class="pageSearchVal " id="pageSearchVal-fqSiteHtm_{{ @key }}">{{#if val }}fq={{ var }}:{{encodeURIComponent val }}{{/if}}</div>
										<div class="pageSearchVal " id="pageSearchVal-buttonFacetSiteHtm_{{ @key }}">{{#if facetField.var }}facet.field={{ facetField.var }}{{/if}}</div>
										<ol class="pageFacetField w3-small pageFacetFieldSiteHtm_{{ @key }} " id="pageFacetFieldSiteHtm_{{ @key }}">
{{#each facetField.counts }}
											<li class="cursor-pointer " data-class="SiteHtm" data-var="{{ ../var }}" data-val="{{ @key }}" onclick="fqReplace('SiteHtm', this); ">{{ @key }}: {{ this }}</li>
{{/each}}
										</ol>
									</div>
{{/each}}
								</div>
{{/inline}}
{{#*inline "htmBodyRangeSiteHtmPage"}}								<!-- #*inline "htmBodyRangeSiteHtmPage" -->
								<table class="w3-padding ">
									<tr>
										<td class="w3-padding w3-tiny " colspan="2">
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeGap-SiteHtm">{{#if rangeGap }}facet.range.gap={{encodeURIComponent rangeGap }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeStart-SiteHtm">{{#if rangeStart }}facet.range.start={{encodeURIComponent rangeStart }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeEnd-SiteHtm">{{#if rangeEnd }}facet.range.end={{encodeURIComponent rangeEnd }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeVar-SiteHtm">{{#if defaultRangeVar }}facet.range={!tag=r1}{{encodeURIComponent defaultRangeVar }}{{/if}}</div>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
									<tr class="">
										<td class="">
											<span>Range Gap</span>
										</td>
										<td class="">
											<select name="facet.range.gap" id="pageFacetRangeGap-SiteHtm" onchange="facetRangeGapChange('SiteHtm', this); ">
												<option value="+1YEAR"{{#eq defaultRangeGap '+1YEAR'}} selected="selected"{{else}}{{/eq}}>Year</option>
												<option value="+1MONTH"{{#eq defaultRangeGap '+1MONTH'}} selected="selected"{{else}}{{/eq}}>Month</option>
												<option value="+1WEEK"{{#eq defaultRangeGap '+1WEEK'}} selected="selected"{{else}}{{/eq}}>Week</option>
												<option value="+1DAY"{{#eq defaultRangeGap '+1DAY'}} selected="selected"{{else}}{{#if defaultRangeGap}}{{else}} selected="selected"{{/if}}{{/eq}}>Day</option>
												<option value="+1HOUR"{{#eq defaultRangeGap '+1HOUR'}} selected="selected"{{else}}{{/eq}}>Hour</option>
												<option value="+1MINUTE"{{#eq defaultRangeGap '+1MINUTE'}} selected="selected"{{else}}{{/eq}}>Minute</option>
												<option value="+1SECOND"{{#eq defaultRangeGap '+1SECOND'}} selected="selected"{{else}}{{/eq}}>Second</option>
											</select>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range Start</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeStart" id="pageFacetRangeStart-SiteHtm" value="{{formatZonedDateTime defaultRangeStart "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeStartChange('SiteHtm', this); "/></span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range End</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeEnd" id="pageFacetRangeEnd-SiteHtm" value="{{formatZonedDateTime defaultRangeEnd "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeEndChange('SiteHtm', this); "/></span>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
{{#each varsRange }}
									<tr class="">
										<td class="">
											<span><input type="radio" name="pageFacetRange" class="pageFacetRange " id="pageFacetRangeSiteHtm_{{ @key }}" value="{{ var }}"{{#eq defaultRangeVar var }} checked="checked"{{/eq}} onclick="facetRangeChange('SiteHtm', this); "/></span>
										</td>
										<td class="">
											<label for="pageFacetRangeSiteHtm_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyPivotSiteHtmPage"}}								<!-- #*inline "htmBodyPivotSiteHtmPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-PivotSiteHtmHidden">
{{#each defaultPivotVars }}
									<div class="pageSearchVal-PivotSiteHtmHidden " id="pageSearchVal-PivotSiteHtmHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-PivotSiteHtm">
{{#if defaultPivotVars }}
									<div class="pageSearchVal pageSearchVal-PivotSiteHtm " id="pageSearchVal-PivotSiteHtm_1">facet.pivot={!range=r1}{{#each defaultPivotVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFacetPivot" class="pageFacetPivot " id="pageFacetPivotSiteHtm_{{ @key }}" value="{{ var }}"{{#if pivot }} checked="checked"{{/if}} onclick="facetPivotChange('SiteHtm', this); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFacetPivotSiteHtm_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyFieldListSiteHtmPage"}}								<!-- #*inline "htmBodyFieldListSiteHtmPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-FieldListSiteHtmHidden">
{{#each defaultFieldListVars }}
									<div class="pageSearchVal-FieldListSiteHtmHidden " id="pageSearchVal-FieldListSiteHtmHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-FieldListSiteHtm">
{{#if defaultFieldListVars }}
									<div class="pageSearchVal pageSearchVal-FieldListSiteHtm " id="pageSearchVal-FieldListSiteHtm_1">fl={{#each defaultFieldListVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFieldList" class="pageFieldList " id="pageFieldListSiteHtm_{{ @key }}" value="{{ var }}"{{#if fieldList }} checked="checked"{{/if}} onclick="facetFieldListChange('SiteHtm', this); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFieldListSiteHtm_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyStatsSiteHtmPage"}}								<!-- #*inline "htmBodyStatsSiteHtmPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-StatsSiteHtmHidden">
{{#each defaultStatsVars }}
									<div class="pageSearchVal-StatsSiteHtmHidden " id="pageSearchVal-StatsSiteHtmHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-StatsSiteHtm">
{{#if defaultStatsVars }}
{{#each defaultStatsVars }}									<div class="pageSearchVal pageSearchVal-StatsSiteHtm_{{ this }} " id="pageSearchVal-StatsSiteHtm_{{ this }}">stats.field={{ this }}</div>
{{/each}}{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
{{#if enableStats }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageStats" class="pageStats " id="pageStatsSiteHtm_{{ @key }}" value="{{ var }}"{{#if ./stats }} checked="checked"{{/if}} onclick="facetStatsChange('SiteHtm', this); "/></span>
										</td>
										<td class="w3-cell ">
											<div>
												<label for="pageStatsSiteHtm_{{ @key }}">{{ displayName }}</label>
											</div>
											<div class="pageStatsField w3-small pageStatsFieldSiteHtm_{{ @key }} " id="pageStatsFieldSiteHtm_{{ @key }}">
{{#if ./stats }}
{{#each ./stats }}
{{#eq @key 'name' }}{{else}}
												<div data-class="SiteHtm" data-var="{{ ../var }}" data-val="{{ @key }}">{{ @key }}: {{ this }}</div>
{{/eq}}
{{/each}}
{{#if ./stats/max }}
									<div>									<span> step </span>									<input id="animateStatsStep" placeholder="step" value="1" style="width: 4em; "/>									<span> min </span>									<input id="animateStatsMin" placeholder="min" value="{{ ./stats/min }}" style="width: 4em; "/>									<span> max </span>									<input id="animateStatsMax" placeholder="max" value="{{ ./stats/max }}" style="width: 4em; "/>									<span> speed in seconds </span>									<input id="animateStatsSpeed" placeholder="speed" value="1" style="width: 4em; "/>									<button onclick="animateStats(); ">animate</button>									</div>{{/if}}
{{/if}}
											</div>
										</td>
									</tr>
{{/if}}
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyMenuSiteHtmPage"}}		<!-- #*inline "htmBodyMenuSiteHtmPage" -->
{{> "htmBodyMenuBaseResultPage"}}{{/inline}}
{{#*inline "htmBodyGraphSiteHtmPage"}}		<!-- #*inline "htmBodyGraphSiteHtmPage" -->
<div id="htmBodyGraphBaseResultPage" class="w3-content htmBodyGraph "></div>{{/inline}}
{{#*inline "htmBodyGraphLocationSiteHtmPage"}}		<!-- #*inline "htmBodyGraphLocationSiteHtmPage" -->
<div id="htmBodyGraphLocationSiteHtmPage" class="w3-content htmBodyGraphLocation "></div>{{/inline}}
{{#*inline "htmBodyCount0SiteHtmPage"}}		<!-- #*inline "htmBodyCount0SiteHtmPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
				{{#if classIconCssClasses}}
					<i class="{{ classIconCssClasses }} site-menu-icon "></i>
				{{/if}}
				<span class="">HTMLs</span>
			</a>
		</h1>
		<h2>
			<span class="w3-bar-item w3-padding w3-center w3-block w3-2017-shaded-spruce">
				{{#if classIconCssClasses}}
					<i class="{{ classIconCssClasses }}  site-menu-icon "></i>
				{{/if}}
				<span class="">no HTML found</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1SiteHtmPage"}}		<!-- #*inline "htmBodyCount1SiteHtmPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
	{{#if classIconCssClasses}}
				<i class="{{ classIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class="">HTML</span>
			</a>
		</h1>
		<h2 class="w3-center ">
			<span class="w3-bar-item w3-padding w3-center w3-block w3-2017-shaded-spruce">
				<span class="">{{siteHtm_.objectTitle}}</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyAllSiteHtmPage"}}		<!-- #*inline "htmBodyAllSiteHtmPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
	{{#if classIconCssClasses}}
				<i class="{{ classIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class="">HTMLs</span>
			</a>
		</h1>
		<div id="site-calendar-box">
			<div id="site-calendar"><!-- // --></div>
		</div>
		<div class="">
			<div>
	{{#if pagination.pagePrevious}}
				<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-left "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
					<i class="fas fa-minus-square "></i>
				</a>
	{{else}}
				<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
					<i class="fas fa-plus-square "></i>
				</a>
	{{#if pagination.pageNext}}
				<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-right "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
				<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
			</div>
{{> "table1SiteHtmPage"}}
		</div>
{{/inline}}
{{#*inline "htmFormSiteHtmPage"}}
		<!-- #*inline "htmForm" -->
		<form action="/api/htm" id="SiteHtmForm" class="pageForm " style="" onsubmit="event.preventDefault(); return false; ">
{{#if id}}
			<input name="id" class="valueId" type="hidden" value="{{id}}"/>
{{/if}}
			<input name="focusId" type="hidden"/>
			<input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{{toJsonObjectStringInApostrophes pageResponse }}}' type="hidden"/>
			<input name="siteHtm" id="siteHtm" class="siteHtm"  value='{{{toJsonObjectStringInApostrophes siteHtm_ }}}' type="hidden"/>
			<input name="listSiteHtm" id="listSiteHtm" class="listSiteHtm"  value='{{{toJsonArrayStringInApostrophes listSiteHtm }}}' type="hidden"/>
		</form>
{{#if id}}
{{#block "htmButton_searchpageSiteHtm"}}{{/block}}
{{#block "htmForm_searchpageSiteHtm"}}{{/block}}
{{/if}}
{{/inline}}
{{#*inline "htmButtonSiteHtmPage_postSiteHtm"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
			onclick="$('#postSiteHtmModal').show(); "
			>
			<i class="fas fa-file-plus "></i>
			Create an HTML
		</button>
{{/inline}}
{{#*inline "htmFormButtonSiteHtmPage_postSiteHtm"}}
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-2017-shaded-spruce "
							onclick="postSiteHtm($('#postSiteHtmForm')); "
							>Create an HTML</button>
{{/inline}}
{{#*inline "htmFormSiteHtmPage_postSiteHtm"}}
		<div id="postSiteHtmModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-2017-shaded-spruce">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#postSiteHtmModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Create an HTML</h2>
						<div class="">You can override any default values below: </div>
					</header>
					<div class="" id="postSiteHtmFormValues">
						<div id="postSiteHtmForm">
{{#block "htmFormButton_postSiteHtm"}}{{/block}}
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmObjectId" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmObjectId" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmObjectId" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
								<!-- entiteHtmLigneVerticaleAncien == null || !entiteHtmLigneVerticaleAncien -->
							</div>
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmUrl" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmUrl" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmUrl" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmUri" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmUri" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmUri" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmPageId" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmPageId" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmPageId" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmSequenceNum" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmSequenceNum" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmSequenceNum" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
							</div>
						</div>
{{#block "htmFormButton_postSiteHtm"}}{{/block}}
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmButtonSiteHtmPage_patchSiteHtm"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
			onclick="$('#patchSiteHtmModal').show(); "
			>
			<i class="fas fa-edit "></i>
			Modify HTML
		</button>
{{/inline}}
{{#*inline "htmFormButtonSiteHtmPage_patchSiteHtm"}}
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-2017-shaded-spruce "
							onclick="patchSiteHtm(null, $('#patchSiteHtmFormValues')); "
							>Modify HTML</button>
{{/inline}}
{{#*inline "htmFormSiteHtmPage_patchSiteHtm"}}
		<div id="patchSiteHtmModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-2017-shaded-spruce">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#patchSiteHtmModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Modify HTML</h2>
					</header>
					<div class="" id="patchSiteHtmFormValues">
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmCreated" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmCreated" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmCreated" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmObjectId" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmObjectId" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmObjectId" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
								<!-- entiteHtmLigneVerticaleAncien == null || !entiteHtmLigneVerticaleAncien -->
							</div>
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmArchived" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmArchived" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmArchived" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmDeleted" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmDeleted" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmDeleted" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
								<!-- entiteHtmLigneVerticaleAncien == null || !entiteHtmLigneVerticaleAncien -->
							</div>
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmUrl" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmUrl" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmUrl" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmUri" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmUri" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmUri" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmPageId" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmPageId" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmPageId" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmSequenceNum" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmSequenceNum" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmSequenceNum" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
							</div>
{{#block "htmFormButton_patchSiteHtm"}}{{/block}}
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmButtonSiteHtmPage_putimportSiteHtm"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
			onclick="$('#putimportSiteHtmModal').show(); "
			>
			<i class="fas fa-file-import "></i>
			Import HTMLs
		</button>
{{/inline}}
{{#*inline "htmFormButtonSiteHtmPage_putimportSiteHtm"}}
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-2017-shaded-spruce "
							onclick="putimportSiteHtm($('#putimportSiteHtmFormValues')); "
							>Import HTMLs</button>
{{/inline}}
{{#*inline "htmFormSiteHtmPage_putimportSiteHtm"}}
		<div id="putimportSiteHtmModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-2017-shaded-spruce">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#putimportSiteHtmModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Import HTMLs</h2>
					</header>
					<div class="" id="putimportSiteHtmFormValues">
						<div class="w3-cell-row ">
							<textarea
								class="PUTImport_searchList w3-input w3-border "
								style="height: 300px; "
								placeholder="{ 'searchList': [ { 'pk': ... , 'saves': [ ... ] }, ... ] }"
								></textarea>
						</div>
{{#block "htmFormButton_putimportSiteHtm"}}{{/block}}
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmButtonSiteHtmPage_searchpageSiteHtm"}}
{{/inline}}
{{#*inline "htmFormButtonSiteHtmPage_searchpageSiteHtm"}}
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-2017-shaded-spruce "
							onclick="searchpageSiteHtm(); "
							>Search HTMLs</button>
{{/inline}}
{{#*inline "htmFormSiteHtmPage_searchpageSiteHtm"}}
		<div id="searchpageSiteHtmModal" class="">
			<div class="">
				<div class="w3-card-4 ">
					<div class="" id="searchpageSiteHtmFormValues">
						<div id="searchpageSiteHtmForm">
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmCreated" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmCreated" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmCreated" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmModified" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmModified" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmModified" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmObjectId" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmObjectId" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmObjectId" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
								<!-- entiteHtmLigneVerticaleAncien == null || !entiteHtmLigneVerticaleAncien -->
							</div>
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmArchived" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmArchived" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmArchived" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmDeleted" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmDeleted" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmDeleted" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
								<!-- entiteHtmLigneVerticaleAncien == null || !entiteHtmLigneVerticaleAncien -->
							</div>
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmUrl" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmUrl" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmUrl" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmUri" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmUri" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmUri" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmPageId" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmPageId" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmPageId" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmSequenceNum" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmSequenceNum" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmSequenceNum" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmBodySidebarSiteHtmPage"}}
				<div class="w3-dropdown-click w3-bar-block min-width-300px ">
					<div class="min-width-300px ">
						<span title="Search" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-magnifying-glass hover-box-shadow w3-xlarge "></i> Search</span>
						<span title="Filters" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleFilters').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-filters hover-box-shadow w3-xlarge "></i> Filters</span>
						<span title="Range" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleRange').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-calendar-range hover-box-shadow w3-xlarge "></i> Range</span>
						<span title="Pivot" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-table-pivot hover-box-shadow w3-xlarge "></i> Pivot</span>
						<span title="FieldList" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleFieldList').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-list-ul hover-box-shadow w3-xlarge "></i> FieldList</span>
						<span title="Stats" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleFieldList').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleStats').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-chart-candlestick hover-box-shadow w3-xlarge "></i> Stats</span>
						<a title="API" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " href="{{ apiUri }}{{#if pk }}/{{ pk }}{{else}}{{#if id }}/{{ id }}{{else}}{{ queryStr }}{{/if}}{{/if}}"><i class="fad fa-brackets-curly hover-box-shadow w3-xlarge "></i> API</a>
					</div>
					<div class=" ">
						<div class="siteSidebarToggle siteSidebarToggleSearch w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-magnifying-glass "></i> Search</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodySearch"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFilters w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-filters "></i> Filters</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFilters"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleRange w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce  ">
								<span class="w3-bar-item ">
								<i class="fad fa-calendar-range "></i> Range</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyRange"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarTogglePivot w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-table-pivot "></i> Pivot</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyPivot"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFieldList w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-list-ul "></i> Field List</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFieldList"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleStats w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-chart-candlestick "></i> Stats</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyStats"}}{{/block}}
							</div>
						</div>
					</div>
				</div>
{{/inline}}
{{#*inline "htmBodyStartSiteHtmPage"}}
{{> "htmBodyStartBaseResultPage"}}
{{/inline}}
{{#*inline "htmBodyMiddleSiteHtmPage"}}
{{> "htmBodyMiddleBaseResultPage"}}
{{/inline}}
{{#*inline "htmBodyEndSiteHtmPage"}}
{{> "htmBodyEndBaseResultPage"}}
{{/inline}}
{{#*inline "htmBodySiteHtmPage"}}
{{#block "htmBodyStart"}}{{/block}}
{{#block "htmBodyMiddle"}}{{/block}}
{{#block "htmBodyEnd"}}{{/block}}
{{/inline}}
{{#*inline "htmBodyMiddleSiteHtmPage"}}
		<div class="w3-bar w3-content ">
{{#block "htmBodySidebar"}}{{/block}}
		</div>
{{#block "htmBodyGraphLocation"}}{{/block}}
{{#block "htmBodyGraph"}}{{/block}}
	<div class="pageContent w3-content ">
		<div id="site-calendar-box">
			<div id="site-calendar"><!-- // --></div>
		</div>
	</div>
	<div class="pageContent w3-content ">
	{{#eq siteHtmCount int0}}
{{#block "htmBodyCount0"}}{{/block}}
	{{else}}
		{{#eq siteHtmCount int1}}
			{{#if id}}
{{#block "htmBodyCount1"}}{{/block}}
			{{else}}
{{#block "htmBodyAll"}}{{/block}}
			{{/if}}
		{{else}}
{{#block "htmBodyAll"}}{{/block}}
		{{/eq}}
	{{/eq}}
{{#block "htmForm"}}{{/block}}
{{#block "htmForms"}}{{/block}}
	</div>
{{/inline}}
{{#*inline "table1SiteHtmPage"}}
		<div class="w3-responsive ">
			<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable ">
{{> table2SiteHtmPage}}
			</table>
		</div>
{{/inline}}
{{#*inline "table2SiteHtmPage"}}
{{> "thead1SiteHtmPage"}}
{{> "tbody1SiteHtmPage"}}
{{> "tfoot1SiteHtmPage"}}
{{/inline}}
{{#*inline "thead1SiteHtmPage"}}
				<thead class="w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
{{> thead2SiteHtmPage}}
				</thead>
{{/inline}}
{{#*inline "thead2SiteHtmPage"}}
			<tr>
						<th>ID</th>
						<th>created</th>
						<th></th>
						<th>Page URL</th>
						<th>URI</th>
						<th>Page ID</th>
						<th>Sequence Number</th>
			</tr>
{{/inline}}
{{#*inline "tbody1SiteHtmPage"}}
<!-- #*inline "tbody1SiteHtmPage" -->
				<tbody>
{{> tbody2SiteHtmPage}}
				</tbody>
{{/inline}}
{{#*inline "tbody2SiteHtmPage"}}
<!-- #*inline "tbody2SiteHtmPage" -->
		{{#each listSiteHtm}}
					<tr>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{objectId}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{siteZonedDateTimeFormat created "MMM d, yyyy h:mm:ss a" siteLocale}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<i class="fad fa-code "></i>
								<span class="white-space-pre-wrap ">{{objectTitle}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{url}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{uri}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{pageId}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{sequenceNum}}</span>
							</a>
						</td>
					</tr>
		{{/each}}
{{/inline}}
{{#*inline "tfoot1SiteHtmPage"}}
				<tfoot class="w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
{{> tfoot2SiteHtmPage}}
				</tfoot>
{{/inline}}
{{#*inline "tfoot2SiteHtmPage"}}
			<tr>
			{{#if getColumnObjectId}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnCreated}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnObjectTitle}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnUrl}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnUri}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnPageId}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnSequenceNum}}
				<td>
				</td>
			{{/if}}
			</tr>
	{{/inline}}
{{#*inline "htmFormsSiteHtmPage"}}
{{#ifContainsAnyRoles roles authRoleSuperAdmin}}
		{{#eq siteHtmCount int1}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
			id="refreshThisSiteHtmGenPage"
			onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'id:{{id}}' } ], {}, function() { addGlow($('#refreshThisSiteHtmGenPage')); }, function() { addError($('#refreshThisSiteHtmGenPage')); }); return false; ">
			<i class="fas fa-sync-alt "></i>
			refresh this HTML
		</button>
		{{/eq}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles authRoleAdmin}}
{{#eq siteHtmCount int1}}
{{#if id}}
{{else}}
{{#block "htmButton_postSiteHtm"}}{{/block}}
{{#block "htmForm_postSiteHtm"}}{{/block}}
{{/if}}
{{else}}
{{#block "htmButton_postSiteHtm"}}{{/block}}
{{#block "htmForm_postSiteHtm"}}{{/block}}
{{/eq}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles authRoleSuperAdmin}}
{{#block "htmButton_patchSiteHtm"}}{{/block}}
{{#block "htmForm_patchSiteHtm"}}{{/block}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles authRoleSuperAdmin}}
{{#block "htmButton_putimportSiteHtm"}}{{/block}}
{{#block "htmForm_putimportSiteHtm"}}{{/block}}
{{/ifContainsAnyRoles}}
{{#block "htmSuggested"}}{{/block}}
{{/inline}}
{{#*inline "htmSuggestedSiteHtmPage"}}
			{{#ifContainsAnyRoles roles roleForWrite}}
					<div class="">
						<button id="refreshAllSiteHtmGenPage{{id}}" class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
							onclick="patch{{classSimpleName}}Vals([], {}, function() { addGlow($('#refreshAllSiteHtmGenPage{{id}}')); }, function() { addError($('#refreshAllSiteHtmGenPage{{id}}')); }); "
							>
							<i class="fas fa-sync-alt "></i>
							refresh all the HTMLs
						</button>
					</div>
			{{/ifContainsAnyRoles}}
			<div class="w3-cell-row ">
				<div class="w3-cell ">
					<span>
						search HTMLs: 
					</span>
				</div>
			</div>
			<div class="w3-bar ">
				<input
					type="text"
					class="suggestSiteHtm w3-input w3-border w3-bar-item "
					name="suggestSiteHtm"
					id="suggestSiteHtm{{id}}"
					autocomplete="off"
					oninput="suggestSiteHtmObjectSuggest( [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'classCanonicalName,,pageUrlPk,objectTitle' } ], $('#suggestListSiteHtm{{id}}'), {{id}}; "
					onkeyup="if (event.keyCode === 13) { event.preventDefault(); window.location.href = '/htm?q={{query1}}:' + encodeURIComponent(this.value) + '{{fqs}}{{sorts}}&amp;rows={{start2}}&amp;rows={{rows1}}"
				{{#if listSiteHtm}}
					value="{{query2}}"
				{{/if}}
				/>
				<button
					class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
					onclick="window.location.href = '/htm?q=&quot;, query1, &quot;:' + encodeURIComponent(this.previousElementSibling.value) + '&quot;, fqs, sorts, &quot;&amp;rows=&quot;, start2, &quot;&amp;rows=&quot;, rows1, &quot;'; "
					>
					<i class="fas fa-search "></i>
				</button>
			<div>
			<div class="w3-cell-row ">
				<div class="w3-cell w3-left-align w3-cell-top ">
					<ul class="w3-ul w3-hoverable " id="suggestListSiteHtm{{id}}">
					</ul>
				</div>
			</div>
			<div class="">
				<a href="/htm" class="">
					<i class="fad fa-code"></i>
					see all the HTMLs
				</a>
			</div>
{{/inline}}
{{> BaseResultPage baseResult_=siteHtm_}}

{{#*inline "htmCreated"}}
<!-- #*inline "htmCreated" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SiteHtmCreated">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_created">created</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputCreated" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputCreated"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span id="{{classApiMethodMethod}}_created" class="varSiteHtm{{id}}Created varSiteHtmCreated " title="{{formatZonedDateTime siteHtm_.created 'EEEE MMMM d yyyy H:mm:ss.SSS zz VV' defaultLocaleId defaultZoneId}}">{{formatZonedDateTime siteHtm_.created 'EEE MMM d yyyy h:mm a zz' defaultLocaleId defaultZoneId}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmModified"}}
<!-- #*inline "htmModified" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SiteHtmModified">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_modified">modified</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputModified" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputModified"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span id="{{classApiMethodMethod}}_modified" class="varSiteHtm{{id}}Modified varSiteHtmModified " title="{{formatZonedDateTime siteHtm_.modified 'EEEE MMMM d yyyy H:mm:ss.SSS zz VV' defaultLocaleId defaultZoneId}}">{{formatZonedDateTime siteHtm_.modified 'EEE MMM d yyyy h:mm a zz' defaultLocaleId defaultZoneId}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmObjectId"}}
<!-- #*inline "htmObjectId" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SiteHtmObjectId">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_objectId">ID</label>
												</div>
											<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputObjectId" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputObjectId"}}
		{{#eq roleForWriteBool "true"}}
														<input
															type="text"
															placeholder="ID"
															title="A URL friendly unique ID for this object"															id="{{classApiMethodMethod}}_objectId"
	{{#eq "Page" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_objectId setObjectId classSiteHtm inputSiteHtm{{id}}ObjectId w3-input w3-border "
																name="setObjectId"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_objectId setObjectId classSiteHtm inputSiteHtm{{id}}ObjectId w3-input w3-border "
																name="setObjectId"
		{{else}}
																{{classApiMethodMethod}}_objectId" class="valueObjectId w3-input w3-border classSiteHtm inputSiteHtm{{id}}ObjectId w3-input w3-border "
																name="objectId"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setObjectId', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_objectId')); }, function() { addError($('#{{classApiMethodMethod}}_objectId')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{siteHtm_.objectId}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varSiteHtm{{id}}ObjectId varSiteHtmObjectId ">{{siteHtm_.objectId}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varSiteHtm{{id}}ObjectId varSiteHtmObjectId ">{{siteHtm_.objectId}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmArchived"}}
<!-- #*inline "htmArchived" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SiteHtmArchived">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_archived">archived</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputArchived" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputArchived"}}
		{{#eq roleForWriteBool "true"}}
	{{#eq 'Page' classApiMethodMethod}}
															<input
																type="checkbox"
																id="{{classApiMethodMethod}}_archived"
																value="true"
	{{else}}
														<select
															id="{{classApiMethodMethod}}_archived"
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															class="{{classApiMethodMethod}}_archived classSiteHtm inputSiteHtm{{id}}Archived w3-input w3-border "
															name="setArchived"
	{{else}}
		{{#eq 'Page' classApiMethodMethod}}
																class="{{classApiMethodMethod}}_archived classSiteHtm inputSiteHtm{{id}}Archived w3-input w3-border "
																name="setArchived"
		{{else}}
																class="{{classApiMethodMethod}}_archived setArchived valueArchived classSiteHtm inputSiteHtm{{id}}Archived w3-input w3-border "
																name="setArchived"
		{{/eq}}
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															onchange="var confirmResponse = confirm('Are you sure you want to archive that?'); if(confirmResponse) { patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setArchived', $(this).prop('checked'), function() { addGlow($('.{{classApiMethodMethod}}_archived')); }, function() { addError($('.{{classApiMethodMethod}}_archived')); }); }"
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
		{{#if siteHtm_.archived}}
																checked="checked"
		{{/if}}
																/>
	{{else}}
															>
															<option value="" selected="selected"></option>
															<option value="true">true</option>
															<option value="false">false</option>
														</select>
	{{/eq}}

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varSiteHtm{{id}}Archived varSiteHtmArchived ">{{siteHtm_.archived}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varSiteHtm{{id}}Archived varSiteHtmArchived ">{{siteHtm_.archived}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmDeleted"}}
<!-- #*inline "htmDeleted" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SiteHtmDeleted">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_deleted">deleted</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputDeleted" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputDeleted"}}
		{{#eq roleForWriteBool "true"}}
	{{#eq 'Page' classApiMethodMethod}}
															<input
																type="checkbox"
																id="{{classApiMethodMethod}}_deleted"
																value="true"
	{{else}}
														<select
															id="{{classApiMethodMethod}}_deleted"
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															class="{{classApiMethodMethod}}_deleted classSiteHtm inputSiteHtm{{id}}Deleted w3-input w3-border "
															name="setDeleted"
	{{else}}
		{{#eq 'Page' classApiMethodMethod}}
																class="{{classApiMethodMethod}}_deleted classSiteHtm inputSiteHtm{{id}}Deleted w3-input w3-border "
																name="setDeleted"
		{{else}}
																class="{{classApiMethodMethod}}_deleted setDeleted valueDeleted classSiteHtm inputSiteHtm{{id}}Deleted w3-input w3-border "
																name="setDeleted"
		{{/eq}}
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															onchange="var confirmResponse = confirm('Are you sure you want to delete that?'); if(confirmResponse) { patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setDeleted', $(this).prop('checked'), function() { addGlow($('.{{classApiMethodMethod}}_deleted')); }, function() { addError($('.{{classApiMethodMethod}}_deleted')); }); }"
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
		{{#if siteHtm_.deleted}}
																checked="checked"
		{{/if}}
																/>
	{{else}}
															>
															<option value="" selected="selected"></option>
															<option value="true">true</option>
															<option value="false">false</option>
														</select>
	{{/eq}}

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varSiteHtm{{id}}Deleted varSiteHtmDeleted ">{{siteHtm_.deleted}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varSiteHtm{{id}}Deleted varSiteHtmDeleted ">{{siteHtm_.deleted}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmUrl"}}
<!-- #*inline "htmUrl" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SiteHtmUrl">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_url">Page URL</label>
												</div>
											<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputUrl" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputUrl"}}
		{{#eq roleForWriteBool "true"}}
														<input
															type="text"
															placeholder="Page URL"
															title="The URL for this page. "															id="{{classApiMethodMethod}}_url"
	{{#eq "Page" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_url setUrl classSiteHtm inputSiteHtm{{id}}Url w3-input w3-border "
																name="setUrl"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_url setUrl classSiteHtm inputSiteHtm{{id}}Url w3-input w3-border "
																name="setUrl"
		{{else}}
																{{classApiMethodMethod}}_url" class="valueUrl w3-input w3-border classSiteHtm inputSiteHtm{{id}}Url w3-input w3-border "
																name="url"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setUrl', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_url')); }, function() { addError($('#{{classApiMethodMethod}}_url')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{siteHtm_.url}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varSiteHtm{{id}}Url varSiteHtmUrl ">{{siteHtm_.url}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varSiteHtm{{id}}Url varSiteHtmUrl ">{{siteHtm_.url}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmUri"}}
<!-- #*inline "htmUri" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SiteHtmUri">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_uri">URI</label>
												</div>
											<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputUri" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputUri"}}
		{{#eq roleForWriteBool "true"}}
														<input
															type="text"
															placeholder="URI"
															title="The relative URI for this page. "															id="{{classApiMethodMethod}}_uri"
	{{#eq "Page" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_uri setUri classSiteHtm inputSiteHtm{{id}}Uri w3-input w3-border "
																name="setUri"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_uri setUri classSiteHtm inputSiteHtm{{id}}Uri w3-input w3-border "
																name="setUri"
		{{else}}
																{{classApiMethodMethod}}_uri" class="valueUri w3-input w3-border classSiteHtm inputSiteHtm{{id}}Uri w3-input w3-border "
																name="uri"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setUri', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_uri')); }, function() { addError($('#{{classApiMethodMethod}}_uri')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{siteHtm_.uri}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varSiteHtm{{id}}Uri varSiteHtmUri ">{{siteHtm_.uri}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varSiteHtm{{id}}Uri varSiteHtmUri ">{{siteHtm_.uri}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmPageId"}}
<!-- #*inline "htmPageId" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SiteHtmPageId">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_pageId">Page ID</label>
												</div>
											<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputPageId" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputPageId"}}
		{{#eq roleForWriteBool "true"}}
														<input
															type="text"
															placeholder="Page ID"
															title="The ID for this page. "															id="{{classApiMethodMethod}}_pageId"
	{{#eq "Page" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_pageId setPageId classSiteHtm inputSiteHtm{{id}}PageId w3-input w3-border "
																name="setPageId"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_pageId setPageId classSiteHtm inputSiteHtm{{id}}PageId w3-input w3-border "
																name="setPageId"
		{{else}}
																{{classApiMethodMethod}}_pageId" class="valuePageId w3-input w3-border classSiteHtm inputSiteHtm{{id}}PageId w3-input w3-border "
																name="pageId"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setPageId', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_pageId')); }, function() { addError($('#{{classApiMethodMethod}}_pageId')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{siteHtm_.pageId}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varSiteHtm{{id}}PageId varSiteHtmPageId ">{{siteHtm_.pageId}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varSiteHtm{{id}}PageId varSiteHtmPageId ">{{siteHtm_.pageId}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmSequenceNum"}}
<!-- #*inline "htmSequenceNum" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SiteHtmSequenceNum">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_sequenceNum">Sequence Number</label>
												</div>
											<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputSequenceNum" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputSequenceNum"}}
		{{#eq roleForWriteBool "true"}}
														<input
															type="text"
															placeholder="Sequence Number"
															title="The sequence number for this page. "															id="{{classApiMethodMethod}}_sequenceNum"
	{{#eq "Page" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_sequenceNum setSequenceNum classSiteHtm inputSiteHtm{{id}}SequenceNum w3-input w3-border "
																name="setSequenceNum"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_sequenceNum setSequenceNum classSiteHtm inputSiteHtm{{id}}SequenceNum w3-input w3-border "
																name="setSequenceNum"
		{{else}}
																{{classApiMethodMethod}}_sequenceNum" class="valueSequenceNum w3-input w3-border classSiteHtm inputSiteHtm{{id}}SequenceNum w3-input w3-border "
																name="sequenceNum"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setSequenceNum', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_sequenceNum')); }, function() { addError($('#{{classApiMethodMethod}}_sequenceNum')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{siteHtm_.sequenceNum}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varSiteHtm{{id}}SequenceNum varSiteHtmSequenceNum ">{{siteHtm_.sequenceNum}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varSiteHtm{{id}}SequenceNum varSiteHtmSequenceNum ">{{siteHtm_.sequenceNum}}</span>
		{{/eq}}
{{/inline}}
