{{#*inline "htmTitleSystemEventPage"}}		<!-- inline "htmTitleSystemEventPage" -->
		<title>{{#if searchListSystemEvent_}}{{#eq systemEventCount int1}}{{#if id}}system event{{else}}system event{{/if}}{{else}}no system event found{{/eq}}{{else}}system events{{/if}}</title>
{{/inline}}
{{#*inline "htmMetaSystemEventPage"}}{{> "htmMetaPageLayout"}}{{/inline}}
{{#*inline "htmStyleSystemEventPage"}}{{> "htmStylePageLayout"}}{{/inline}}
{{#*inline "htmScriptsSystemEventPage"}}{{> "htmScriptsPageLayout"}}		<!-- inline "htmScriptsSystemEventPage" -->
		<script src="{{staticBaseUrl}}/js/enUS/SystemEventPage.js"></script>
{{/inline}}
{{#*inline "htmScriptSystemEventPage"}}		<!-- inline "htmScriptSystemEventPage" -->
		<script>
			$('#site-calendar-box').accordion({ collapsible: true, active: false });
{{#if DEFAULT_MAP_LOCATION }}
			window.DEFAULT_MAP_LOCATION = { lat: {{ DEFAULT_MAP_LOCATION.lat }}, lon: {{ DEFAULT_MAP_LOCATION.lon }} };
{{/if}}
{{#if DEFAULT_MAP_ZOOM }}
			window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{{/if}}
			window.DEFAULT_ZONE_ID = '{{ defaultZoneId }}';
			$(document).ready(function() {
				document.onkeydown = function(evt) {
					evt = evt || window.event;
					var isEscape = false;
					if ('key' in evt) {
						isEscape = (evt.key === 'Escape' || evt.key === 'Esc');
					} else {
						isEscape = (evt.keyCode === 27);
					}
					if (isEscape) {
						$('.w3-modal:visible').hide();
					}
				};
				window.eventBus = new EventBus('/eventbus');
				var pk = {{#if pk}}{{pk}}{{else}}null{{/if}};
				if(pk != null) {
					window.systemEvent = JSON.parse($('.pageForm .systemEvent').val());
				}
					window.listSystemEvent = JSON.parse($('.pageForm .listSystemEvent').val());
				window.varsFq = JSON.parse('{{{toJsonObjectStringInApostrophes varsFq}}}');
				window.varsRange = JSON.parse('{{{toJsonObjectStringInApostrophes varsRange}}}');
				window.defaultRangeVar = '{{ defaultRangeVar }}';
				pageGraphSystemEvent();

				var calendarEl = document.getElementById('site-calendar');
				var calendar = new FullCalendar.Calendar(calendarEl, {
					initialView: 'dayGridMonth'
				});
				//calendar.render();
{{#block "websocket"}}{{/block}}
			});

			function jsWebsocketSystemEvent(id, vars, $response) {
{{#block "jsWebsocket"}}{{/block}}
			}

			function jsTooltipSystemEvent(e, feature) {
{{#block "jsTooltip"}}{{/block}}
			}

			function htmTooltipSystemEvent(feature, layer) {
				return `{{#block "htmTooltip"}}{{/block}}`;
			}

			function jsLegendSystemEvent(map) {
{{#block "jsLegend"}}{{/block}}
			}

			function htmLegendSystemEvent(map, shape, systemEvent, index, count) {
				var color = systemEvent.[index];
				var title = systemEvent.[index];
				var url = systemEvent.[index];
				var htm = '';
				htm += `<div class="w3-white w3-padding w3-border w3-opacity w3-hover-opacity-off cursor-pointer " style="max-width: 400px; ">
`;
				htm += `{{#block "htmLegend"}}{{/block}}`;
				htm += `
</div>
`;
				return htm;
			}

			function jsStyleSystemEvent(feature) {
{{#block "jsStyle"}}{{/block}}
			}
		</script>
{{/inline}}
{{#*inline "websocketSystemEventPage"}}
				<!-- inline "websocketSystemEventPage" -->
				websocketSystemEvent(websocketSystemEventInner);
{{/inline}}
{{#*inline "jsWebsocketSystemEventPage"}}{{/inline}}
{{#*inline "jsTooltipSystemEventPage"}}{{/inline}}
{{#*inline "htmTooltipSystemEventPage"}}
<h3><i class="{{ classIconCssClasses }}  "></i><a href="${quoteattr(feature.properties.pageUrlPk)}">${feature.properties.objectTitle}</a></h3>
{{/inline}}
{{#*inline "jsLegendSystemEventPage"}}
				var div = L.DomUtil.create('div', 'info legend');
				var htm = '';
				$.each( window.listSystemEvent, function(index, systemEvent) {
					if(systemEvent.) {
						var shapes = [];
						if(Array.isArray(systemEvent.))
							shapes = shapes.concat(systemEvent.);
						else
							shapes.push(systemEvent.);
						shapes.forEach(function(shape, index) {
							htm += htmLegendSystemEvent(map, shape, systemEvent, index, shapes.length);
						});
					}
				});
				div.innerHTML = htm;
				return div;
{{/inline}}
{{#*inline "htmLegendSystemEventPage"}}
		<div class="w3-row " title="${quoteattr(title)}">
		<div class="w3-col " style="width: 20px; ">
			<i class="fa-light fa-circle" style="color: ${color}; "></i>
		</div>
		<div class="w3-rest text-overflow-ellipsis ">
			<span class="" data-id="${systemEvent.id}" onclick="window.mapLayers[this.getAttribute('data-id')].openPopup(); return false;" href="">${title}</span>
		</div>
		</div>
{{/inline}}
{{#*inline "jsStyleSystemEventPage"}}
				if(feature.geometry.type == 'Point') {
					return {
						radius: 8
						, fillColor: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
						, color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
						, weight: 1
						, opacity: 0.7
						, fillOpacity: 0.7
					};
				} else if(feature.geometry.type == 'LineString') {
					return {
						color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
						, weight: 5
						, opacity: 0.7
					};
				} else {
					return {
						 fillColor: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
						, color: (feature.properties.areaServedColors && feature.properties.areaServedColors[feature.index] ? feature.properties.areaServedColors[feature.index] : (feature.properties.color ? feature.properties.color : '#000'))
						, weight: 3
						, opacity: 0.7
						, fillOpacity: 0.7
					};
				}
{{/inline}}
{{#*inline "htmUrlSystemEvent"}}{{pageUri}}?q={{query.q}}&amp;rows={{#if rows}}{{rows}}{{else}}{{pagination.rows}}{{/if}}&amp;rows={{#if start}}{{start}}{{else}}{{pagination.start}}{{/if}}{{#each query.fq}}{{#eq fq this}}{{else}}&fq={{fq}}:{{val}}{{/eq}}{{/each}}{{#each query.sort}}{{#eq sort this}}{{else}}&sort={{var}} {{order}}{{/eq}}{{/each}}{{/inline}}
{{#*inline "htmHeadSystemEventPage"}}{{#block "htmTitle"}}{{/block}}{{#block "htmMeta"}}{{/block}}{{#block "htmStyle"}}{{/block}}{{#block "htmScripts"}}{{/block}}{{#block "htmScript"}}{{/block}}{{/inline}}
{{#*inline "htmBodySearchSystemEventPage"}}								<!-- #*inline "htmBodySearchSystemEventPage" -->
								<div>
{{#each varsQ}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qSystemEvent_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qSystemEvent_{{ @key }}" placeholder="{{ displayName }}" class="" {{#eq ../var 'objectSuggest' }}onkeyup{{else}}onchange{{/eq}}="qChange('SystemEvent', this); " data-var="{{ var }}" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
{{/each}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qSystemEvent_Start">start<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qSystemEvent_start" placeholder="{{ displayName }}" class="" onchange="paramChange('SystemEvent', this); " data-var="start" autocomplete="off=" value="{{ start }}"/>
											<div class="pageSearchVal w3-tiny ">start={{ start }}</div>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qSystemEvent_Rows">rows<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qSystemEvent_rows" placeholder="{{ displayName }}" class="" onchange="paramChange('SystemEvent', this); " data-var="rows" autocomplete="off" value="{{ rows }}"/>
											<div class="pageSearchVal w3-tiny ">rows={{ rows }}</div>
										</div>
									</div>
								</div>
{{/inline}}
{{#*inline "htmBodyFiltersSystemEventPage"}}								<!-- #*inline "htmBodyFiltersSystemEventPage" -->
								<div>
{{#each varsFq }}
									<div class="">
										<label for="fqSystemEvent_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										<div class="w3-cell-row ">
											<div class="w3-cell w3-cell-top ">
												<button id="buttonFacetSystemEvent_{{ @key }}" class="" onclick="facetFieldChange('SystemEvent', this); " title="see values " data-var="{{ var }}" data-clear="{{#if facetField }}true{{else}}false{{/if}}"><i class="fas fa-list "></i></button>
											</div>
											<div class="w3-cell w3-cell-top ">
												<input id="fqSystemEvent_{{ @key }}" placeholder="{{ displayName }}" class="" onchange="fqChange('SystemEvent', this); " data-var="{{ var }}" autocomplete="off=" value="{{ val }}"/>
											</div>
										</div>
									</div>
									<div class="w3-tiny ">
										<div class="pageSearchVal " id="pageSearchVal-fqSystemEvent_{{ @key }}">{{#if val }}fq={{ var }}:{{encodeURIComponent val }}{{/if}}</div>
										<div class="pageSearchVal " id="pageSearchVal-buttonFacetSystemEvent_{{ @key }}">{{#if facetField.var }}facet.field={{ facetField.var }}{{/if}}</div>
										<ol class="pageFacetField w3-small pageFacetFieldSystemEvent_{{ @key }} " id="pageFacetFieldSystemEvent_{{ @key }}">
{{#each facetField.counts }}
											<li class="cursor-pointer " data-class="SystemEvent" data-var="{{ ../var }}" data-val="{{ @key }}" onclick="fqReplace('SystemEvent', this); ">{{ @key }}: {{ this }}</li>
{{/each}}
										</ol>
									</div>
{{/each}}
								</div>
{{/inline}}
{{#*inline "htmBodyRangeSystemEventPage"}}								<!-- #*inline "htmBodyRangeSystemEventPage" -->
								<table class="w3-padding ">
									<tr>
										<td class="w3-padding w3-tiny " colspan="2">
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeGap-SystemEvent">{{#if rangeGap }}facet.range.gap={{encodeURIComponent rangeGap }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeStart-SystemEvent">{{#if rangeStart }}facet.range.start={{encodeURIComponent rangeStart }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeEnd-SystemEvent">{{#if rangeEnd }}facet.range.end={{encodeURIComponent rangeEnd }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeVar-SystemEvent">{{#if defaultRangeVar }}facet.range={!tag=r1}{{encodeURIComponent defaultRangeVar }}{{/if}}</div>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
									<tr class="">
										<td class="">
											<span>Range Gap</span>
										</td>
										<td class="">
											<select name="facet.range.gap" id="pageFacetRangeGap-SystemEvent" onchange="facetRangeGapChange('SystemEvent', this); ">
												<option value="+1YEAR"{{#eq defaultRangeGap '+1YEAR'}} selected="selected"{{else}}{{/eq}}>Year</option>
												<option value="+1MONTH"{{#eq defaultRangeGap '+1MONTH'}} selected="selected"{{else}}{{/eq}}>Month</option>
												<option value="+1WEEK"{{#eq defaultRangeGap '+1WEEK'}} selected="selected"{{else}}{{/eq}}>Week</option>
												<option value="+1DAY"{{#eq defaultRangeGap '+1DAY'}} selected="selected"{{else}}{{#if defaultRangeGap}}{{else}} selected="selected"{{/if}}{{/eq}}>Day</option>
												<option value="+1HOUR"{{#eq defaultRangeGap '+1HOUR'}} selected="selected"{{else}}{{/eq}}>Hour</option>
												<option value="+1MINUTE"{{#eq defaultRangeGap '+1MINUTE'}} selected="selected"{{else}}{{/eq}}>Minute</option>
												<option value="+1SECOND"{{#eq defaultRangeGap '+1SECOND'}} selected="selected"{{else}}{{/eq}}>Second</option>
											</select>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range Start</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeStart" id="pageFacetRangeStart-SystemEvent" value="{{formatZonedDateTime defaultRangeStart "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeStartChange('SystemEvent', this); "/></span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range End</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeEnd" id="pageFacetRangeEnd-SystemEvent" value="{{formatZonedDateTime defaultRangeEnd "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeEndChange('SystemEvent', this); "/></span>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
{{#each varsRange }}
									<tr class="">
										<td class="">
											<span><input type="radio" name="pageFacetRange" class="pageFacetRange " id="pageFacetRangeSystemEvent_{{ @key }}" value="{{ var }}"{{#eq defaultRangeVar var }} checked="checked"{{/eq}} onclick="facetRangeChange('SystemEvent', this); "/></span>
										</td>
										<td class="">
											<label for="pageFacetRangeSystemEvent_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyPivotSystemEventPage"}}								<!-- #*inline "htmBodyPivotSystemEventPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-PivotSystemEventHidden">
{{#each defaultPivotVars }}
									<div class="pageSearchVal-PivotSystemEventHidden " id="pageSearchVal-PivotSystemEventHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-PivotSystemEvent">
{{#if defaultPivotVars }}
									<div class="pageSearchVal pageSearchVal-PivotSystemEvent " id="pageSearchVal-PivotSystemEvent_1">facet.pivot={!range=r1}{{#each defaultPivotVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFacetPivot" class="pageFacetPivot " id="pageFacetPivotSystemEvent_{{ @key }}" value="{{ var }}"{{#if pivot }} checked="checked"{{/if}} onclick="facetPivotChange('SystemEvent', this); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFacetPivotSystemEvent_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyFieldListSystemEventPage"}}								<!-- #*inline "htmBodyFieldListSystemEventPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-FieldListSystemEventHidden">
{{#each defaultFieldListVars }}
									<div class="pageSearchVal-FieldListSystemEventHidden " id="pageSearchVal-FieldListSystemEventHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-FieldListSystemEvent">
{{#if defaultFieldListVars }}
									<div class="pageSearchVal pageSearchVal-FieldListSystemEvent " id="pageSearchVal-FieldListSystemEvent_1">fl={{#each defaultFieldListVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFieldList" class="pageFieldList " id="pageFieldListSystemEvent_{{ @key }}" value="{{ var }}"{{#if fieldList }} checked="checked"{{/if}} onclick="facetFieldListChange('SystemEvent', this); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFieldListSystemEvent_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyStatsSystemEventPage"}}								<!-- #*inline "htmBodyStatsSystemEventPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-StatsSystemEventHidden">
{{#each defaultStatsVars }}
									<div class="pageSearchVal-StatsSystemEventHidden " id="pageSearchVal-StatsSystemEventHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-StatsSystemEvent">
{{#if defaultStatsVars }}
{{#each defaultStatsVars }}									<div class="pageSearchVal pageSearchVal-StatsSystemEvent_{{ this }} " id="pageSearchVal-StatsSystemEvent_{{ this }}">stats.field={{ this }}</div>
{{/each}}{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
{{#if enableStats }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageStats" class="pageStats " id="pageStatsSystemEvent_{{ @key }}" value="{{ var }}"{{#if ./stats }} checked="checked"{{/if}} onclick="facetStatsChange('SystemEvent', this); "/></span>
										</td>
										<td class="w3-cell ">
											<div>
												<label for="pageStatsSystemEvent_{{ @key }}">{{ displayName }}</label>
											</div>
											<div class="pageStatsField w3-small pageStatsFieldSystemEvent_{{ @key }} " id="pageStatsFieldSystemEvent_{{ @key }}">
{{#if ./stats }}
{{#each ./stats }}
{{#eq @key 'name' }}{{else}}
												<div data-class="SystemEvent" data-var="{{ ../var }}" data-val="{{ @key }}">{{ @key }}: {{ this }}</div>
{{/eq}}
{{/each}}
{{#if ./stats/max }}
									<div>									<span> step </span>									<input id="animateStatsStep" placeholder="step" value="1" style="width: 4em; "/>									<span> min </span>									<input id="animateStatsMin" placeholder="min" value="{{ ./stats/min }}" style="width: 4em; "/>									<span> max </span>									<input id="animateStatsMax" placeholder="max" value="{{ ./stats/max }}" style="width: 4em; "/>									<span> speed in seconds </span>									<input id="animateStatsSpeed" placeholder="speed" value="1" style="width: 4em; "/>									<button onclick="animateStats(); ">animate</button>									</div>{{/if}}
{{/if}}
											</div>
										</td>
									</tr>
{{/if}}
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyMenuSystemEventPage"}}		<!-- #*inline "htmBodyMenuSystemEventPage" -->
{{> "htmBodyMenuPageLayout"}}{{/inline}}
{{#*inline "htmBodyGraphSystemEventPage"}}		<!-- #*inline "htmBodyGraphSystemEventPage" -->
<div id="htmBodyGraphPageLayout" class="w3-content htmBodyGraph "></div>{{/inline}}
{{#*inline "htmBodyGraphLocationSystemEventPage"}}		<!-- #*inline "htmBodyGraphLocationSystemEventPage" -->
<div id="htmBodyGraphLocationSystemEventPage" class="w3-content htmBodyGraphLocation "></div>{{/inline}}
{{#*inline "htmBodyCount0SystemEventPage"}}		<!-- #*inline "htmBodyCount0SystemEventPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
				{{#if classIconCssClasses}}
					<i class="{{ classIconCssClasses }} site-menu-icon "></i>
				{{/if}}
				<span class="">system events</span>
			</a>
		</h1>
		<h2>
			<span class="w3-bar-item w3-padding w3-center w3-block w3-2017-shaded-spruce">
				{{#if classIconCssClasses}}
					<i class="{{ classIconCssClasses }}  site-menu-icon "></i>
				{{/if}}
				<span class="">no system event found</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1SystemEventPage"}}		<!-- #*inline "htmBodyCount1SystemEventPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
	{{#if classIconCssClasses}}
				<i class="{{ classIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class="">system event</span>
			</a>
		</h1>
		<h2 class="w3-center ">
			<span class="w3-bar-item w3-padding w3-center w3-block w3-2017-shaded-spruce">
				<span class="">{{systemEvent_.objectTitle}}</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyAllSystemEventPage"}}		<!-- #*inline "htmBodyAllSystemEventPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
	{{#if classIconCssClasses}}
				<i class="{{ classIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class="">system events</span>
			</a>
		</h1>
		<div id="site-calendar-box">
			<div id="site-calendar"><!-- // --></div>
		</div>
		<div class="">
			<div>
	{{#if pagination.pagePrevious}}
				<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-left "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
					<i class="fas fa-minus-square "></i>
				</a>
	{{else}}
				<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
					<i class="fas fa-plus-square "></i>
				</a>
	{{#if pagination.pageNext}}
				<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-right "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
				<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
			</div>
{{> "table1SystemEventPage"}}
		</div>
{{/inline}}
{{#*inline "htmFormSystemEventPage"}}
		<!-- #*inline "htmForm" -->
		<form action="/api/system-event" id="SystemEventForm" class="pageForm " style="" onsubmit="event.preventDefault(); return false; ">
{{#if id}}
			<input name="id" class="valueId" type="hidden" value="{{id}}"/>
{{/if}}
			<input name="focusId" type="hidden"/>
			<input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{{toJsonObjectStringInApostrophes pageResponse }}}' type="hidden"/>
			<input name="systemEvent" id="systemEvent" class="systemEvent"  value='{{{toJsonObjectStringInApostrophes systemEvent_ }}}' type="hidden"/>
			<input name="listSystemEvent" id="listSystemEvent" class="listSystemEvent"  value='{{{toJsonArrayStringInApostrophes listSystemEvent }}}' type="hidden"/>
		</form>
{{#if id}}
{{#block "htmButton_searchpageSystemEvent"}}{{/block}}
{{#block "htmForm_searchpageSystemEvent"}}{{/block}}
{{/if}}
{{/inline}}
{{#*inline "htmButtonSystemEventPage_postSystemEvent"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
			onclick="$('#postSystemEventModal').show(); "
			>
			<i class="fas fa-file-plus "></i>
			Create a system event
		</button>
{{/inline}}
{{#*inline "htmFormButtonSystemEventPage_postSystemEvent"}}
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-2017-shaded-spruce "
							onclick="postSystemEvent($('#postSystemEventForm')); "
							>Create a system event</button>
{{/inline}}
{{#*inline "htmFormSystemEventPage_postSystemEvent"}}
		<div id="postSystemEventModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-2017-shaded-spruce">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#postSystemEventModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Create a system event</h2>
						<div class="">You can override any default values below: </div>
					</header>
					<div class="" id="postSystemEventFormValues">
						<div id="postSystemEventForm">
{{#block "htmFormButton_postSystemEvent"}}{{/block}}
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmObjectId" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmObjectId" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmObjectId" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
								<!-- entiteHtmLigneVerticaleAncien == null || !entiteHtmLigneVerticaleAncien -->
							</div>
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmType" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmType" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmType" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmMessage" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmMessage" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmMessage" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmStatus" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmStatus" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmStatus" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmCompleted" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmCompleted" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmCompleted" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
								<!-- entiteHtmLigneVerticaleAncien == null || !entiteHtmLigneVerticaleAncien -->
							</div>
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmPageImageUri" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmPageImageUri" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmPageImageUri" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
							</div>
						</div>
{{#block "htmFormButton_postSystemEvent"}}{{/block}}
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmButtonSystemEventPage_patchSystemEvent"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
			onclick="$('#patchSystemEventModal').show(); "
			>
			<i class="fas fa-edit "></i>
			Modify system event
		</button>
{{/inline}}
{{#*inline "htmFormButtonSystemEventPage_patchSystemEvent"}}
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-2017-shaded-spruce "
							onclick="patchSystemEvent(null, $('#patchSystemEventFormValues')); "
							>Modify system event</button>
{{/inline}}
{{#*inline "htmFormSystemEventPage_patchSystemEvent"}}
		<div id="patchSystemEventModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-2017-shaded-spruce">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#patchSystemEventModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Modify system event</h2>
					</header>
					<div class="" id="patchSystemEventFormValues">
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmCreated" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmCreated" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmCreated" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmObjectId" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmObjectId" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmObjectId" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
								<!-- entiteHtmLigneVerticaleAncien == null || !entiteHtmLigneVerticaleAncien -->
							</div>
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmArchived" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmArchived" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmArchived" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmDeleted" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmDeleted" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmDeleted" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
								<!-- entiteHtmLigneVerticaleAncien == null || !entiteHtmLigneVerticaleAncien -->
							</div>
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmType" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmType" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmType" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmMessage" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmMessage" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmMessage" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmStatus" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmStatus" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmStatus" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmCompleted" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmCompleted" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmCompleted" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
								<!-- entiteHtmLigneVerticaleAncien == null || !entiteHtmLigneVerticaleAncien -->
							</div>
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmPageImageUri" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmPageImageUri" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmPageImageUri" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
							</div>
{{#block "htmFormButton_patchSystemEvent"}}{{/block}}
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmButtonSystemEventPage_putimportSystemEvent"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
			onclick="$('#putimportSystemEventModal').show(); "
			>
			<i class="fas fa-file-import "></i>
			Import system events
		</button>
{{/inline}}
{{#*inline "htmFormButtonSystemEventPage_putimportSystemEvent"}}
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-2017-shaded-spruce "
							onclick="putimportSystemEvent($('#putimportSystemEventFormValues')); "
							>Import system events</button>
{{/inline}}
{{#*inline "htmFormSystemEventPage_putimportSystemEvent"}}
		<div id="putimportSystemEventModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-2017-shaded-spruce">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#putimportSystemEventModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Import system events</h2>
					</header>
					<div class="" id="putimportSystemEventFormValues">
						<div class="w3-cell-row ">
							<textarea
								class="PUTImport_searchList w3-input w3-border "
								style="height: 300px; "
								placeholder="{ 'searchList': [ { 'pk': ... , 'saves': [ ... ] }, ... ] }"
								></textarea>
						</div>
{{#block "htmFormButton_putimportSystemEvent"}}{{/block}}
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmButtonSystemEventPage_searchpageSystemEvent"}}
{{/inline}}
{{#*inline "htmFormButtonSystemEventPage_searchpageSystemEvent"}}
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-2017-shaded-spruce "
							onclick="searchpageSystemEvent(); "
							>Search system events</button>
{{/inline}}
{{#*inline "htmFormSystemEventPage_searchpageSystemEvent"}}
		<div id="searchpageSystemEventModal" class="">
			<div class="">
				<div class="w3-card-4 ">
					<div class="" id="searchpageSystemEventFormValues">
						<div id="searchpageSystemEventForm">
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmModified" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmModified" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmModified" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmCreated" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmCreated" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmCreated" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmObjectId" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmObjectId" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmObjectId" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
								<!-- entiteHtmLigneVerticaleAncien == null || !entiteHtmLigneVerticaleAncien -->
							</div>
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmArchived" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmArchived" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmArchived" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmDeleted" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmDeleted" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmDeleted" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
								<!-- entiteHtmLigneVerticaleAncien == null || !entiteHtmLigneVerticaleAncien -->
							</div>
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmType" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmType" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmType" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmMessage" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmMessage" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmMessage" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmStatus" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmStatus" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmStatus" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmCompleted" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmCompleted" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmCompleted" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
								<!-- entiteHtmLigneVerticaleAncien == null || !entiteHtmLigneVerticaleAncien -->
							</div>
							<!-- BooleanUtils.isFalse(entiteHtmLigneVerticale) -->
							<div class="w3-cell-row HtmRow">
{{#ifContainsAnyRoles roles roleForWrite}}
{{> "htmPageImageUri" roleForWriteBool="true" roleForReadBool="true"}}
{{else}}
{{#ifContainsAnyRoles roles roleForRead}}
{{> "htmPageImageUri" roleForWriteBool="false" roleForReadBool="true"}}
{{else}}
{{> "htmPageImageUri" roleForWriteBool="false" roleForReadBool="false"}}
{{/ifContainsAnyRoles}}
{{/ifContainsAnyRoles}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmBodySidebarSystemEventPage"}}
				<div class="w3-dropdown-click w3-bar-block min-width-300px ">
					<div class="min-width-300px ">
						<span title="Search" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-magnifying-glass hover-box-shadow w3-xlarge "></i> Search</span>
						<span title="Filters" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleFilters').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-filters hover-box-shadow w3-xlarge "></i> Filters</span>
						<span title="Range" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleRange').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-calendar-range hover-box-shadow w3-xlarge "></i> Range</span>
						<span title="Pivot" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-table-pivot hover-box-shadow w3-xlarge "></i> Pivot</span>
						<span title="FieldList" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleFieldList').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-list-ul hover-box-shadow w3-xlarge "></i> FieldList</span>
						<span title="Stats" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleFieldList').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleStats').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-chart-candlestick hover-box-shadow w3-xlarge "></i> Stats</span>
						<a title="API" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " href="{{ apiUri }}{{#if pk }}/{{ pk }}{{else}}{{#if id }}/{{ id }}{{else}}{{ queryStr }}{{/if}}{{/if}}"><i class="fad fa-brackets-curly hover-box-shadow w3-xlarge "></i> API</a>
					</div>
					<div class=" ">
						<div class="siteSidebarToggle siteSidebarToggleSearch w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-magnifying-glass "></i> Search</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodySearch"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFilters w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-filters "></i> Filters</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFilters"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleRange w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce  ">
								<span class="w3-bar-item ">
								<i class="fad fa-calendar-range "></i> Range</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyRange"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarTogglePivot w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-table-pivot "></i> Pivot</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyPivot"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFieldList w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-list-ul "></i> Field List</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFieldList"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleStats w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-chart-candlestick "></i> Stats</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyStats"}}{{/block}}
							</div>
						</div>
					</div>
				</div>
{{/inline}}
{{#*inline "htmBodyStartSystemEventPage"}}
{{> "htmBodyStartPageLayout"}}
{{/inline}}
{{#*inline "htmBodyMiddleSystemEventPage"}}
{{> "htmBodyMiddlePageLayout"}}
{{/inline}}
{{#*inline "htmBodyEndSystemEventPage"}}
{{> "htmBodyEndPageLayout"}}
{{/inline}}
{{#*inline "htmBodySystemEventPage"}}
{{#block "htmBodyStart"}}{{/block}}
{{#block "htmBodyMiddle"}}{{/block}}
{{#block "htmBodyEnd"}}{{/block}}
{{/inline}}
{{#*inline "htmBodyMiddleSystemEventPage"}}
		<div class="w3-bar w3-content ">
{{#block "htmBodySidebar"}}{{/block}}
		</div>
{{#block "htmBodyGraphLocation"}}{{/block}}
{{#block "htmBodyGraph"}}{{/block}}
	<div class="pageContent w3-content ">
		<div id="site-calendar-box">
			<div id="site-calendar"><!-- // --></div>
		</div>
	</div>
	<div class="pageContent w3-content ">
	{{#eq systemEventCount int0}}
{{#block "htmBodyCount0"}}{{/block}}
	{{else}}
		{{#eq systemEventCount int1}}
			{{#if id}}
{{#block "htmBodyCount1"}}{{/block}}
			{{else}}
{{#block "htmBodyAll"}}{{/block}}
			{{/if}}
		{{else}}
{{#block "htmBodyAll"}}{{/block}}
		{{/eq}}
	{{/eq}}
{{#block "htmForm"}}{{/block}}
{{#block "htmForms"}}{{/block}}
	</div>
{{/inline}}
{{#*inline "table1SystemEventPage"}}
		<div class="w3-responsive ">
			<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable ">
{{> table2SystemEventPage}}
			</table>
		</div>
{{/inline}}
{{#*inline "table2SystemEventPage"}}
{{> "thead1SystemEventPage"}}
{{> "tbody1SystemEventPage"}}
{{> "tfoot1SystemEventPage"}}
{{/inline}}
{{#*inline "thead1SystemEventPage"}}
				<thead class="w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
{{> thead2SystemEventPage}}
				</thead>
{{/inline}}
{{#*inline "thead2SystemEventPage"}}
			<tr>
						<th>created</th>
						<th>type</th>
						<th></th>
						<th>message</th>
						<th>message</th>
						<th>completed</th>
			</tr>
{{/inline}}
{{#*inline "tbody1SystemEventPage"}}
<!-- #*inline "tbody1SystemEventPage" -->
				<tbody>
{{> tbody2SystemEventPage}}
				</tbody>
{{/inline}}
{{#*inline "tbody2SystemEventPage"}}
<!-- #*inline "tbody2SystemEventPage" -->
		{{#each listSystemEvent}}
					<tr>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{siteZonedDateTimeFormat created "MMM d, yyyy h:mm:ss a" siteLocale}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{type}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<i class="fad fa-square-terminal "></i>
								<span class="white-space-pre-wrap ">{{objectTitle}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{message}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{status}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{siteZonedDateTimeFormat completed "MMM d, yyyy h:mm:ss a" siteLocale}}</span>
							</a>
						</td>
					</tr>
		{{/each}}
{{/inline}}
{{#*inline "tfoot1SystemEventPage"}}
				<tfoot class="w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
{{> tfoot2SystemEventPage}}
				</tfoot>
{{/inline}}
{{#*inline "tfoot2SystemEventPage"}}
			<tr>
			{{#if getColumnCreated}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnType}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnObjectTitle}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnMessage}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnStatus}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnCompleted}}
				<td>
				</td>
			{{/if}}
			</tr>
	{{/inline}}
{{#*inline "htmFormsSystemEventPage"}}
{{#ifContainsAnyRoles roles authRoleSuperAdmin}}
		{{#eq systemEventCount int1}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
			id="refreshThisSystemEventGenPage"
			onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'id:{{id}}' } ], {}, function() { addGlow($('#refreshThisSystemEventGenPage')); }, function() { addError($('#refreshThisSystemEventGenPage')); }); return false; ">
			<i class="fas fa-sync-alt "></i>
			refresh this system event
		</button>
		{{/eq}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles authRoleAdmin}}
{{#eq systemEventCount int1}}
{{#if id}}
{{else}}
{{#block "htmButton_postSystemEvent"}}{{/block}}
{{#block "htmForm_postSystemEvent"}}{{/block}}
{{/if}}
{{else}}
{{#block "htmButton_postSystemEvent"}}{{/block}}
{{#block "htmForm_postSystemEvent"}}{{/block}}
{{/eq}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles authRoleSuperAdmin}}
{{#block "htmButton_patchSystemEvent"}}{{/block}}
{{#block "htmForm_patchSystemEvent"}}{{/block}}
{{/ifContainsAnyRoles}}
{{#ifContainsAnyRoles roles authRoleSuperAdmin}}
{{#block "htmButton_putimportSystemEvent"}}{{/block}}
{{#block "htmForm_putimportSystemEvent"}}{{/block}}
{{/ifContainsAnyRoles}}
{{#block "htmSuggested"}}{{/block}}
{{/inline}}
{{#*inline "htmSuggestedSystemEventPage"}}
			{{#ifContainsAnyRoles roles roleForWrite}}
					<div class="">
						<button id="refreshAllSystemEventGenPage{{id}}" class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
							onclick="patch{{classSimpleName}}Vals([], {}, function() { addGlow($('#refreshAllSystemEventGenPage{{id}}')); }, function() { addError($('#refreshAllSystemEventGenPage{{id}}')); }); "
							>
							<i class="fas fa-sync-alt "></i>
							refresh all the system events
						</button>
					</div>
			{{/ifContainsAnyRoles}}
			<div class="w3-cell-row ">
				<div class="w3-cell ">
					<span>
						search system events: 
					</span>
				</div>
			</div>
			<div class="w3-bar ">
				<input
					type="text"
					class="suggestSystemEvent w3-input w3-border w3-bar-item "
					name="suggestSystemEvent"
					id="suggestSystemEvent{{id}}"
					autocomplete="off"
					oninput="suggestSystemEventObjectSuggest( [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'classCanonicalName,,pageUrlPk,objectTitle' } ], $('#suggestListSystemEvent{{id}}'), {{id}}; "
					onkeyup="if (event.keyCode === 13) { event.preventDefault(); window.location.href = '/system-event?q={{query1}}:' + encodeURIComponent(this.value) + '{{fqs}}{{sorts}}&amp;rows={{start2}}&amp;rows={{rows1}}"
				{{#if listSystemEvent}}
					value="{{query2}}"
				{{/if}}
				/>
				<button
					class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
					onclick="window.location.href = '/system-event?q=&quot;, query1, &quot;:' + encodeURIComponent(this.previousElementSibling.value) + '&quot;, fqs, sorts, &quot;&amp;rows=&quot;, start2, &quot;&amp;rows=&quot;, rows1, &quot;'; "
					>
					<i class="fas fa-search "></i>
				</button>
			<div>
			<div class="w3-cell-row ">
				<div class="w3-cell w3-left-align w3-cell-top ">
					<ul class="w3-ul w3-hoverable " id="suggestListSystemEvent{{id}}">
					</ul>
				</div>
			</div>
			<div class="">
				<a href="/system-event" class="">
					<i class="fad fa-square-terminal"></i>
					see all the system events
				</a>
			</div>
{{/inline}}
{{> PageLayout}}

{{#*inline "htmModified"}}
<!-- #*inline "htmModified" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SystemEventModified">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_modified">modified</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputModified" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputModified"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span id="{{classApiMethodMethod}}_modified" class="varSystemEvent{{id}}Modified varSystemEventModified " title="{{formatZonedDateTime systemEvent_.modified 'EEEE MMMM d yyyy H:mm:ss.SSS zz VV' defaultLocaleId defaultZoneId}}">{{formatZonedDateTime systemEvent_.modified 'EEE MMM d yyyy h:mm a zz' defaultLocaleId defaultZoneId}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmCreated"}}
<!-- #*inline "htmCreated" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SystemEventCreated">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_created">created</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputCreated" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputCreated"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span id="{{classApiMethodMethod}}_created" class="varSystemEvent{{id}}Created varSystemEventCreated " title="{{formatZonedDateTime systemEvent_.created 'EEEE MMMM d yyyy H:mm:ss.SSS zz VV' defaultLocaleId defaultZoneId}}">{{formatZonedDateTime systemEvent_.created 'EEE MMM d yyyy h:mm a zz' defaultLocaleId defaultZoneId}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmObjectId"}}
<!-- #*inline "htmObjectId" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SystemEventObjectId">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_objectId">ID</label>
												</div>
											<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputObjectId" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputObjectId"}}
		{{#eq roleForWriteBool "true"}}
														<input
															type="text"
															placeholder="ID"
															title="A URL friendly unique ID for this object"															id="{{classApiMethodMethod}}_objectId"
	{{#eq "Page" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_objectId setObjectId classSystemEvent inputSystemEvent{{id}}ObjectId w3-input w3-border "
																name="setObjectId"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_objectId setObjectId classSystemEvent inputSystemEvent{{id}}ObjectId w3-input w3-border "
																name="setObjectId"
		{{else}}
																{{classApiMethodMethod}}_objectId" class="valueObjectId w3-input w3-border classSystemEvent inputSystemEvent{{id}}ObjectId w3-input w3-border "
																name="objectId"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setObjectId', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_objectId')); }, function() { addError($('#{{classApiMethodMethod}}_objectId')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{systemEvent_.objectId}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varSystemEvent{{id}}ObjectId varSystemEventObjectId ">{{systemEvent_.objectId}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varSystemEvent{{id}}ObjectId varSystemEventObjectId ">{{systemEvent_.objectId}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmArchived"}}
<!-- #*inline "htmArchived" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SystemEventArchived">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_archived">archived</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputArchived" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputArchived"}}
		{{#eq roleForWriteBool "true"}}
	{{#eq 'Page' classApiMethodMethod}}
															<input
																type="checkbox"
																id="{{classApiMethodMethod}}_archived"
																value="true"
	{{else}}
														<select
															id="{{classApiMethodMethod}}_archived"
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															class="{{classApiMethodMethod}}_archived classSystemEvent inputSystemEvent{{id}}Archived w3-input w3-border "
															name="setArchived"
	{{else}}
		{{#eq 'Page' classApiMethodMethod}}
																class="{{classApiMethodMethod}}_archived classSystemEvent inputSystemEvent{{id}}Archived w3-input w3-border "
																name="setArchived"
		{{else}}
																class="{{classApiMethodMethod}}_archived setArchived valueArchived classSystemEvent inputSystemEvent{{id}}Archived w3-input w3-border "
																name="setArchived"
		{{/eq}}
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															onchange="var confirmResponse = confirm('Are you sure you want to archive that?'); if(confirmResponse) { patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setArchived', $(this).prop('checked'), function() { addGlow($('.{{classApiMethodMethod}}_archived')); }, function() { addError($('.{{classApiMethodMethod}}_archived')); }); }"
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
		{{#if systemEvent_.archived}}
																checked="checked"
		{{/if}}
																/>
	{{else}}
															>
															<option value="" selected="selected"></option>
															<option value="true">true</option>
															<option value="false">false</option>
														</select>
	{{/eq}}

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varSystemEvent{{id}}Archived varSystemEventArchived ">{{systemEvent_.archived}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varSystemEvent{{id}}Archived varSystemEventArchived ">{{systemEvent_.archived}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmDeleted"}}
<!-- #*inline "htmDeleted" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SystemEventDeleted">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_deleted">deleted</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputDeleted" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputDeleted"}}
		{{#eq roleForWriteBool "true"}}
	{{#eq 'Page' classApiMethodMethod}}
															<input
																type="checkbox"
																id="{{classApiMethodMethod}}_deleted"
																value="true"
	{{else}}
														<select
															id="{{classApiMethodMethod}}_deleted"
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															class="{{classApiMethodMethod}}_deleted classSystemEvent inputSystemEvent{{id}}Deleted w3-input w3-border "
															name="setDeleted"
	{{else}}
		{{#eq 'Page' classApiMethodMethod}}
																class="{{classApiMethodMethod}}_deleted classSystemEvent inputSystemEvent{{id}}Deleted w3-input w3-border "
																name="setDeleted"
		{{else}}
																class="{{classApiMethodMethod}}_deleted setDeleted valueDeleted classSystemEvent inputSystemEvent{{id}}Deleted w3-input w3-border "
																name="setDeleted"
		{{/eq}}
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															onchange="var confirmResponse = confirm('Are you sure you want to delete that?'); if(confirmResponse) { patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setDeleted', $(this).prop('checked'), function() { addGlow($('.{{classApiMethodMethod}}_deleted')); }, function() { addError($('.{{classApiMethodMethod}}_deleted')); }); }"
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
		{{#if systemEvent_.deleted}}
																checked="checked"
		{{/if}}
																/>
	{{else}}
															>
															<option value="" selected="selected"></option>
															<option value="true">true</option>
															<option value="false">false</option>
														</select>
	{{/eq}}

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varSystemEvent{{id}}Deleted varSystemEventDeleted ">{{systemEvent_.deleted}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varSystemEvent{{id}}Deleted varSystemEventDeleted ">{{systemEvent_.deleted}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmType"}}
<!-- #*inline "htmType" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SystemEventType">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_type">type</label>
												</div>
											<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputType" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputType"}}
		{{#eq roleForWriteBool "true"}}
														<input
															type="text"
															placeholder="type"
															title="The system event type"															id="{{classApiMethodMethod}}_type"
	{{#eq "Page" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_type setType classSystemEvent inputSystemEvent{{id}}Type w3-input w3-border "
																name="setType"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_type setType classSystemEvent inputSystemEvent{{id}}Type w3-input w3-border "
																name="setType"
		{{else}}
																{{classApiMethodMethod}}_type" class="valueType w3-input w3-border classSystemEvent inputSystemEvent{{id}}Type w3-input w3-border "
																name="type"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setType', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_type')); }, function() { addError($('#{{classApiMethodMethod}}_type')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{systemEvent_.type}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varSystemEvent{{id}}Type varSystemEventType ">{{systemEvent_.type}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varSystemEvent{{id}}Type varSystemEventType ">{{systemEvent_.type}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmMessage"}}
<!-- #*inline "htmMessage" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SystemEventMessage">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_message">message</label>
												</div>
											<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputMessage" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputMessage"}}
		{{#eq roleForWriteBool "true"}}
														<input
															type="text"
															placeholder="message"
															title="The system event message"															id="{{classApiMethodMethod}}_message"
	{{#eq "Page" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_message setMessage classSystemEvent inputSystemEvent{{id}}Message w3-input w3-border "
																name="setMessage"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_message setMessage classSystemEvent inputSystemEvent{{id}}Message w3-input w3-border "
																name="setMessage"
		{{else}}
																{{classApiMethodMethod}}_message" class="valueMessage w3-input w3-border classSystemEvent inputSystemEvent{{id}}Message w3-input w3-border "
																name="message"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setMessage', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_message')); }, function() { addError($('#{{classApiMethodMethod}}_message')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{systemEvent_.message}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varSystemEvent{{id}}Message varSystemEventMessage ">{{systemEvent_.message}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varSystemEvent{{id}}Message varSystemEventMessage ">{{systemEvent_.message}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmStatus"}}
<!-- #*inline "htmStatus" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SystemEventStatus">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_status">message</label>
												</div>
											<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputStatus" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputStatus"}}
		{{#eq roleForWriteBool "true"}}
														<input
															type="text"
															placeholder="message"
															title="The system event message"															id="{{classApiMethodMethod}}_status"
	{{#eq "Page" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_status setStatus classSystemEvent inputSystemEvent{{id}}Status w3-input w3-border "
																name="setStatus"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_status setStatus classSystemEvent inputSystemEvent{{id}}Status w3-input w3-border "
																name="setStatus"
		{{else}}
																{{classApiMethodMethod}}_status" class="valueStatus w3-input w3-border classSystemEvent inputSystemEvent{{id}}Status w3-input w3-border "
																name="status"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setStatus', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_status')); }, function() { addError($('#{{classApiMethodMethod}}_status')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{systemEvent_.status}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varSystemEvent{{id}}Status varSystemEventStatus ">{{systemEvent_.status}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varSystemEvent{{id}}Status varSystemEventStatus ">{{systemEvent_.status}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmCompleted"}}
<!-- #*inline "htmCompleted" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SystemEventCompleted">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_completed">completed</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputCompleted" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputCompleted"}}
		{{#eq roleForWriteBool "true"}}
														<input
																type="text"
																class="{{classApiMethodMethod}}_completed w3-input w3-border datetimepicker setCompleted classSystemEvent inputSystemEvent{{id}}Completed w3-input w3-border "
																placeholder="MM/dd/yyyy h:mm a '['VV']'"
																data-timeformat="MM/dd/yyyy h:mm a '['VV']'"
																id="{{classApiMethodMethod}}_completed"
																title="An optional time this event completed (MM/dd/yyyy h:mm a '['VV']')"
																value="{{#if systemEvent_.completed}}{{formatZonedDateTime systemEvent_.completed "MM/dd/yyyy h:mm a '['VV']'" defaultLocaleId defaultZoneId}}{{/if}}"
														{{#eq 'Page' classApiMethodMethod}}
															onclick="removeGlow($(this)); ";
															onchange="var timeZone = this.value.split('[').pop().split(']')[0]; var t1 = moment(this.value.split('[')[0].trim(), 'MM/DD/YYYY h:mm a'); var t2 = moment.tz(this.value.split('[')[0].trim(), 'MM/DD/YYYY h:mm a', timeZone); var t3 = new Date(t1._d); t3.setTime(t1.toDate().getTime() + t2.toDate().getTime() - t1.toDate().getTime()); var t = moment(t3); if(t) { var s = t.tz(timeZone).format('YYYY-MM-DDTHH:mm:ss.000') + '[' + timeZone + ']'; patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setCompleted', s, function() { addGlow($('.{{classApiMethodMethod}}_completed')); }, function() { addError($('.{{classApiMethodMethod}}_completed')); }); } "
														{{/eq}}
														/>
													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varSystemEvent{{id}}Completed varSystemEventCompleted ">{{systemEvent_.completed}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varSystemEvent{{id}}Completed varSystemEventCompleted ">{{systemEvent_.completed}}</span>
		{{/eq}}
{{/inline}}

{{#*inline "htmPageImageUri"}}
<!-- #*inline "htmPageImageUri" -->
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}SystemEventPageImageUri">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_pageImageUri">imageUri</label>
												</div>
											<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputPageImageUri" roleForWrite=roleForWrite roleForRead=roleForRead}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputPageImageUri"}}
		{{#eq roleForWriteBool "true"}}
														<input
															type="text"
															placeholder="imageUri"
															title="The page image URI"															id="{{classApiMethodMethod}}_pageImageUri"
	{{#eq "Page" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_pageImageUri setPageImageUri classSystemEvent inputSystemEvent{{id}}PageImageUri w3-input w3-border "
																name="setPageImageUri"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="{{classApiMethodMethod}}_pageImageUri setPageImageUri classSystemEvent inputSystemEvent{{id}}PageImageUri w3-input w3-border "
																name="setPageImageUri"
		{{else}}
																{{classApiMethodMethod}}_pageImageUri" class="valuePageImageUri w3-input w3-border classSystemEvent inputSystemEvent{{id}}PageImageUri w3-input w3-border "
																name="pageImageUri"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setPageImageUri', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_pageImageUri')); }, function() { addError($('#{{classApiMethodMethod}}_pageImageUri')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{systemEvent_.pageImageUri}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varSystemEvent{{id}}PageImageUri varSystemEventPageImageUri ">{{systemEvent_.pageImageUri}}</span>
			{{/ifContainsKeys}}
		{{else}}
														<span class="varSystemEvent{{id}}PageImageUri varSystemEventPageImageUri ">{{systemEvent_.pageImageUri}}</span>
		{{/eq}}
{{/inline}}
