{{#*inline "htmTitleTrafficLightPage"}}		<!-- inline "htmTitleTrafficLightPage" -->
		<title>{{#if searchListTrafficLight_}}{{#eq trafficLightCount int1}}{{#eq params.query.q "*:*"}}traffic light{{else}}traffic light{{/eq}}{{else}}no traffic light found{{/eq}}{{else}}traffic lights{{/if}}</title>
{{/inline}}
{{#*inline "htmMetaTrafficLightPage"}}{{> "htmMetaMapResultPage"}}{{/inline}}
{{#*inline "htmStyleTrafficLightPage"}}{{> "htmStyleMapResultPage"}}{{/inline}}
{{#*inline "htmScriptsTrafficLightPage"}}{{> "htmScriptsMapResultPage"}}		<!-- inline "htmScriptsTrafficLightPage" -->
		<script src="{{staticBaseUrl}}/js/enUS/TrafficLightPage.js"></script>
{{/inline}}
{{#*inline "htmScriptTrafficLightPage"}}		<!-- inline "htmScriptTrafficLightPage" -->
		<script>
			$(document).ready(function() {
				document.onkeydown = function(evt) {
					evt = evt || window.event;
					var isEscape = false;
					if ('key' in evt) {
						isEscape = (evt.key === 'Escape' || evt.key === 'Esc');
					} else {
						isEscape = (evt.keyCode === 27);
					}
					if (isEscape) {
						$('.w3-modal:visible').hide();
					}
				};
				window.eventBus = new EventBus('/eventbus');
				var pk = {{#if pk}}{{pk}}{{else}}null{{/if}};
				if(pk != null) {
				}
				websocketTrafficLight(websocketTrafficLightInner);
				window.varsFq = JSON.parse('{{{toJsonObjectStringInApostrophes varsFq}}}');
				pageGraph();

				var calendarEl = document.getElementById('site-calendar');
				var calendar = new FullCalendar.Calendar(calendarEl, {
					initialView: 'dayGridMonth'
				});
				//calendar.render();
			});
			$('#site-calendar-box').accordion({ collapsible: true, active: false });
{{#if DEFAULT_MAP_LOCATION }}
			window.DEFAULT_MAP_LOCATION = { lat: {{ DEFAULT_MAP_LOCATION.lat }}, lon: {{ DEFAULT_MAP_LOCATION.lon }} };
{{/if}}
{{#if DEFAULT_MAP_ZOOM }}
			window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{{/if}}
		</script>
{{/inline}}
{{#*inline "htmUrlTrafficLight"}}{{pageUri}}?q={{query.q}}&amp;rows={{#if rows}}{{rows}}{{else}}{{pagination.rows}}{{/if}}&amp;rows={{#if start}}{{start}}{{else}}{{pagination.start}}{{/if}}{{#each query.fq}}{{#eq fq this}}{{else}}&fq={{fq}}:{{val}}{{/eq}}{{/each}}{{#each query.sort}}{{#eq sort this}}{{else}}&sort={{var}} {{order}}{{/eq}}{{/each}}{{/inline}}
{{#*inline "htmHeadTrafficLightPage"}}{{#block "htmTitle"}}{{/block}}{{#block "htmMeta"}}{{/block}}{{#block "htmStyle"}}{{/block}}{{#block "htmScripts"}}{{/block}}{{#block "htmScript"}}{{/block}}{{/inline}}
{{#*inline "htmBodySearchTrafficLightPage"}}								<!-- #*inline "htmBodySearchTrafficLightPage" -->
								<div>
{{#each varsQ}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qTrafficLight_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qTrafficLight_{{ @key }}" placeholder="{{ displayName }}" class="" {{#eq ../var 'objectSuggest' }}onkeyup{{else}}onchange{{/eq}}="qChange(this); " data-var="{{ var }}" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
{{/each}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qTrafficLight_Start">start<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qTrafficLight_start" placeholder="{{ displayName }}" class="" onchange="paramChange(this); " data-var="start" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qTrafficLight_Rows">rows<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qTrafficLight_rows" placeholder="{{ displayName }}" class="" onchange="paramChange(this); " data-var="rows" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
								</div>
{{/inline}}
{{#*inline "htmBodyFiltersTrafficLightPage"}}								<!-- #*inline "htmBodyFiltersTrafficLightPage" -->
								<div>
{{#each varsFq }}
									<div class="">
										<label for="fqTrafficLight_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										<div class="w3-cell-row ">
											<div class="w3-cell w3-cell-top ">
												<button id="buttonFacetTrafficLight_{{ @key }}" class="" onclick="facetFieldChange(this); " title="see values " data-var="{{ var }}" data-clear="{{#if facetField }}true{{else}}false{{/if}}"><i class="fas fa-list "></i></button>
											</div>
											<div class="w3-cell w3-cell-top ">
												<input id="fqTrafficLight_{{ @key }}" placeholder="{{ displayName }}" class="" onchange="fqChange(this); " data-var="{{ var }}" autocomplete="off=" value="{{ val }}"/>
											</div>
										</div>
									</div>
									<div class="w3-tiny ">
										<div class="pageSearchVal " id="pageSearchVal-fqTrafficLight_{{ @key }}">{{#if val }}fq={{ var }}:{{encodeURIComponent val }}{{/if}}</div>
										<div class="pageSearchVal " id="pageSearchVal-buttonFacetTrafficLight_{{ @key }}">{{#if facetField.var }}facet.field={{ facetField.var }}{{/if}}</div>
										<ol class="pageFacetField w3-small pageFacetFieldTrafficLight_{{ @key }} " id="pageFacetFieldTrafficLight_{{ @key }}">
{{#each facetField.counts }}
											<li class="cursor-pointer " data-class="TrafficLight" data-var="{{ ../var }}" data-val="{{ @key }}" onclick="fqReplace(this); ">{{ @key }}: {{ this }}</li>
{{/each}}
										</ol>
									</div>
{{/each}}
								</div>
{{/inline}}
{{#*inline "htmBodyRangeTrafficLightPage"}}								<!-- #*inline "htmBodyRangeTrafficLightPage" -->
								<table class="w3-padding ">
									<tr>
										<td class="w3-padding w3-tiny " colspan="2">
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeGap-TrafficLight">{{#if defaultRangeGap }}facet.range.gap={{encodeURIComponent defaultRangeGap }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeStart-TrafficLight">{{#if defaultRangeStart }}facet.range.start={{encodeURIComponent defaultRangeStart }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeEnd-TrafficLight">{{#if defaultRangeEnd }}facet.range.end={{encodeURIComponent defaultRangeEnd }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeVar-TrafficLight">{{#if defaultRangeVar }}facet.range={!tag=r1}{{encodeURIComponent defaultRangeVar }}{{/if}}</div>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
									<tr class="">
										<td class="">
											<span>Range Gap</span>
										</td>
										<td class="">
											<select name="facet.range.gap" id="pageFacetRangeGap-TrafficLight" onchange="facetRangeChange(this, 'TrafficLight'); ">
												<option value="+1YEAR"{{#eq defaultRangeGap '+1YEAR'}} selected="selected"{{else}}{{/eq}}>Year</option>
												<option value="+1MONTH"{{#eq defaultRangeGap '+1MONTH'}} selected="selected"{{else}}{{/eq}}>Month</option>
												<option value="+1WEEK"{{#eq defaultRangeGap '+1WEEK'}} selected="selected"{{else}}{{/eq}}>Week</option>
												<option value="+1DAY"{{#eq defaultRangeGap '+1DAY'}} selected="selected"{{else}}{{#if defaultRangeGap}}{{else}} selected="selected"{{/if}}{{/eq}}>Day</option>
												<option value="+1HOUR"{{#eq defaultRangeGap '+1HOUR'}} selected="selected"{{else}}{{/eq}}>Hour</option>
												<option value="+1MINUTE"{{#eq defaultRangeGap '+1MINUTE'}} selected="selected"{{else}}{{/eq}}>Minute</option>
												<option value="+1SECOND"{{#eq defaultRangeGap '+1SECOND'}} selected="selected"{{else}}{{/eq}}>Second</option>
											</select>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range Start</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeStart" id="pageFacetRangeStart-TrafficLight" value="{{formatZonedDateTime defaultRangeStart "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeChange(this, 'TrafficLight'); "/></span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range End</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeEnd" id="pageFacetRangeEnd-TrafficLight" value="{{formatZonedDateTime defaultRangeEnd "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeChange(this, 'TrafficLight'); "/></span>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
{{#each varsRange }}
									<tr class="">
										<td class="">
											<span><input type="radio" name="pageFacetRange" class="pageFacetRange " id="pageFacetRangeTrafficLight_{{ @key }}" value="{{ var }}"{{#eq defaultRangeVar var }} checked="checked"{{/eq}} onclick="facetRangeChange(this, 'TrafficLight'); "/></span>
										</td>
										<td class="">
											<label for="pageFacetRangeTrafficLight_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyPivotTrafficLightPage"}}								<!-- #*inline "htmBodyPivotTrafficLightPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-PivotTrafficLightHidden">
{{#each defaultPivotVars }}
									<div class="pageSearchVal-PivotTrafficLightHidden " id="pageSearchVal-PivotTrafficLightHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-PivotTrafficLight">
{{#if defaultPivotVars }}
									<div class="pageSearchVal pageSearchVal-PivotTrafficLight " id="pageSearchVal-PivotTrafficLight_1">facet.pivot={!range=r1}{{#each defaultPivotVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFacetPivot" class="pageFacetPivot " id="pageFacetPivotTrafficLight_{{ @key }}" value="{{ var }}"{{#if pivot }} checked="checked"{{/if}} onclick="facetPivotChange(this, 'TrafficLight'); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFacetPivotTrafficLight_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyFieldListTrafficLightPage"}}								<!-- #*inline "htmBodyFieldListTrafficLightPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-FieldListTrafficLightHidden">
{{#each defaultFieldListVars }}
									<div class="pageSearchVal-FieldListTrafficLightHidden " id="pageSearchVal-FieldListTrafficLightHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-FieldListTrafficLight">
{{#if defaultFieldListVars }}
									<div class="pageSearchVal pageSearchVal-FieldListTrafficLight " id="pageSearchVal-FieldListTrafficLight_1">fl={{#each defaultFieldListVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFieldList" class="pageFieldList " id="pageFieldListTrafficLight_{{ @key }}" value="{{ var }}"{{#if fieldList }} checked="checked"{{/if}} onclick="facetFieldListChange(this, 'TrafficLight'); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFieldListTrafficLight_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyStatsTrafficLightPage"}}								<!-- #*inline "htmBodyStatsTrafficLightPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-StatsTrafficLightHidden">
{{#each defaultStatsVars }}
									<div class="pageSearchVal-StatsTrafficLightHidden " id="pageSearchVal-StatsTrafficLightHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-StatsTrafficLight">
{{#if defaultStatsVars }}
{{#each defaultStatsVars }}									<div class="pageSearchVal pageSearchVal-StatsTrafficLight_{{ this }} " id="pageSearchVal-StatsTrafficLight_{{ this }}">stats.field={{ this }}</div>
{{/each}}{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
{{#if enableStats }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageStats" class="pageStats " id="pageStatsTrafficLight_{{ @key }}" value="{{ var }}"{{#if ./stats }} checked="checked"{{/if}} onclick="facetStatsChange(this, 'TrafficLight'); "/></span>
										</td>
										<td class="w3-cell ">
											<div>
												<label for="pageStatsTrafficLight_{{ @key }}">{{ displayName }}</label>
											</div>
											<div class="pageStatsField w3-small pageStatsFieldTrafficLight_{{ @key }} " id="pageStatsFieldTrafficLight_{{ @key }}">
{{#if ./stats }}
{{#each ./stats }}
{{#eq @key 'name' }}{{else}}
												<div data-class="TrafficLight" data-var="{{ ../var }}" data-val="{{ @key }}">{{ @key }}: {{ this }}</div>
{{/eq}}
{{/each}}
{{#if ./stats/max }}
									<div>									<span> step </span>									<input id="animateStatsStep" placeholder="step" value="1" style="width: 4em; "/>									<span> min </span>									<input id="animateStatsMin" placeholder="min" value="{{ ./stats/min }}" style="width: 4em; "/>									<span> max </span>									<input id="animateStatsMax" placeholder="max" value="{{ ./stats/max }}" style="width: 4em; "/>									<span> speed in seconds </span>									<input id="animateStatsSpeed" placeholder="speed" value="1" style="width: 4em; "/>									<button onclick="animateStats(); ">animate</button>									</div>{{/if}}
{{/if}}
											</div>
										</td>
									</tr>
{{/if}}
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyMenuTrafficLightPage"}}		<!-- #*inline "htmBodyMenuTrafficLightPage" -->
{{> "htmBodyMenuMapResultPage"}}{{/inline}}
{{#*inline "htmBodyGraphTrafficLightPage"}}		<!-- #*inline "htmBodyGraphTrafficLightPage" -->
<div id="htmBodyGraphMapResultPage" class="w3-content htmBodyGraph "></div>{{/inline}}
{{#*inline "htmBodyCount0TrafficLightPage"}}		<!-- #*inline "htmBodyCount0TrafficLightPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
				{{#if classIconCssClasses}}
					<i class="{{ classIconCssClasses }} site-menu-icon "></i>
				{{/if}}
				<span class="">traffic lights</span>
			</a>
		</h1>
		<h2>
			<span class="w3-bar-item w3-padding w3-center w3-block w3-2017-shaded-spruce">
				{{#if classIconCssClasses}}
					<i class="{{ classIconCssClasses }}  site-menu-icon "></i>
				{{/if}}
				<span class="">no traffic light found</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1AllTrafficLightPage"}}		<!-- #*inline "htmBodyCount1AllTrafficLightPage" -->
		<h1 class="w3-center ">
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-block w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
			{{#if classIconCssClasses}}
				<i class="{{ classIconCssClasses }} site-menu-icon "></i>
			{{/if}}
				<span class="">traffic light</span>
			</a>
		</h1>
		<h2 class="w3-center ">
			<span class="w3-bar-item w3-padding w3-center w3-block w3-2017-shaded-spruce">
				<span class="">{{trafficLight_.objectTitle}}</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1TrafficLightPage"}}		<!-- #*inline "htmBodyCount1TrafficLightPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
	{{#if classIconCssClasses}}
				<i class="{{ classIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class="">traffic lights</span>
			</a>
		</h1>
		<div>
	{{#if pagination.pagePrevious}}
			<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-left "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
				<i class="fas fa-minus-square "></i>
			</a>
	{{else}}
			<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
				<i class="fas fa-plus-square "></i>
			</a>
	{{#if pagination.pageNext}}
			<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-right "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
			<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
		</div>
{{> "table1TrafficLightPage"}}
{{/inline}}
{{#*inline "htmBodyAllTrafficLightPage"}}		<!-- #*inline "htmBodyAllTrafficLightPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
	{{#if classIconCssClasses}}
				<i class="{{ classIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class="">traffic lights</span>
			</a>
		</h1>
		<div class="">
			<div>
	{{#if pagination.pagePrevious}}
				<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-left "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
					<i class="fas fa-minus-square "></i>
				</a>
	{{else}}
				<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
					<i class="fas fa-plus-square "></i>
				</a>
	{{#if pagination.pageNext}}
				<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-right "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
				<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
			</div>
{{> "table1TrafficLightPage"}}
		</div>
{{/inline}}
{{#*inline "htmFormTrafficLightPage"}}
		<!-- #*inline "htmForm" -->
		<form action="/api/traffic-light" id="TrafficLightForm" class="pageForm " style="" onsubmit="event.preventDefault(); return false; ">
{{#if id}}
			<input name="id" class="valueId" type="hidden" value="{{id}}"/>
{{/if}}
			<input name="focusId" type="hidden"/>
			<input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{{toJsonObjectStringInApostrophes pageResponse }}}' type="hidden"/>
		</form>
{{#if id}}
{{#block "htmForm_searchpageTrafficLight"}}{{/block}}
{{/if}}
{{/inline}}
{{#*inline "htmFormTrafficLightPage_patchTrafficLight"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
			onclick="$('#patchTrafficLightModal').show(); "
			>
			<i class="fas fa-edit "></i>
			Modify traffic lights
		</button>
		<div id="patchTrafficLightModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-2017-shaded-spruce">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#patchTrafficLightModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Modify traffic lights</h2>
					</header>
					<div class="" id="patchTrafficLightFormValues">
							<div class="w3-cell-row ">
{{> "htmCreated" classApiMethodMethod="PATCH"}}
{{> "htmObjectId" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="PATCH"}}
{{> "htmDeleted" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmSimulationName" classApiMethodMethod="PATCH"}}
{{> "htmSimulationKey" classApiMethodMethod="PATCH"}}
{{> "htmSumocfgPath" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmTime" classApiMethodMethod="PATCH"}}
{{> "htmStep" classApiMethodMethod="PATCH"}}
{{> "htmLocation" classApiMethodMethod="PATCH"}}
{{> "htmColor" classApiMethodMethod="PATCH"}}
{{> "htmTrafficLightId" classApiMethodMethod="PATCH"}}
{{> "htmTrafficLightType" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmAngle" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmColor" classApiMethodMethod="PATCH"}}
							</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-2017-shaded-spruce "
							onclick="patchTrafficLight(null, $('#patchTrafficLightFormValues')); "
							>Modify traffic lights</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormTrafficLightPage_postTrafficLight"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
			onclick="$('#postTrafficLightModal').show(); "
			>
			<i class="fas fa-file-plus "></i>
			Create a traffic light
		</button>
		<div id="postTrafficLightModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-2017-shaded-spruce">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#postTrafficLightModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Create a traffic light</h2>
					</header>
					<div class="" id="postTrafficLightFormValues">
						<div id="postTrafficLightForm">
							<div class="w3-cell-row ">
{{> "htmCreated" classApiMethodMethod="POST"}}
{{> "htmObjectId" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="POST"}}
{{> "htmDeleted" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmSimulationName" classApiMethodMethod="POST"}}
{{> "htmSimulationKey" classApiMethodMethod="POST"}}
{{> "htmSumocfgPath" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmTime" classApiMethodMethod="POST"}}
{{> "htmStep" classApiMethodMethod="POST"}}
{{> "htmLocation" classApiMethodMethod="POST"}}
{{> "htmColor" classApiMethodMethod="POST"}}
{{> "htmTrafficLightId" classApiMethodMethod="POST"}}
{{> "htmTrafficLightType" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmAngle" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmColor" classApiMethodMethod="POST"}}
							</div>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-2017-shaded-spruce "
							onclick="postTrafficLight($('#postTrafficLightForm')); "
							>Create a traffic light</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormTrafficLightPage_putimportTrafficLight"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
			onclick="$('#putimportTrafficLightModal').show(); "
			>
			<i class="fas fa-file-import "></i>
			Import traffic lights
		</button>
		<div id="putimportTrafficLightModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-2017-shaded-spruce">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#putimportTrafficLightModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Import traffic lights</h2>
					</header>
					<div class="" id="putimportTrafficLightFormValues">
						<div class="w3-cell-row ">
							<textarea
								class="PUTImport_searchList w3-input w3-border "
								style="height: 300px; "
								placeholder="{ 'searchList': [ { 'pk': ... , 'saves': [ ... ] }, ... ] }"
								></textarea>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-2017-shaded-spruce "
							onclick="putimportTrafficLight($('#putimportTrafficLightFormValues')); "
							>Import traffic lights</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormTrafficLightPage_searchpageTrafficLight"}}
		<div id="searchpageTrafficLightModal" class="">
			<div class="">
				<div class="w3-card-4 ">
					<div class="" id="searchpageTrafficLightFormValues">
						<div id="searchpageTrafficLightForm">
							<div class="w3-cell-row ">
{{> "htmCreated" classApiMethodMethod="Page"}}
{{> "htmModified" classApiMethodMethod="Page"}}
{{> "htmObjectId" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="Page"}}
{{> "htmDeleted" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmSimulationName" classApiMethodMethod="Page"}}
{{> "htmSimulationKey" classApiMethodMethod="Page"}}
{{> "htmSumocfgPath" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmTime" classApiMethodMethod="Page"}}
{{> "htmStep" classApiMethodMethod="Page"}}
{{> "htmLocation" classApiMethodMethod="Page"}}
{{> "htmColor" classApiMethodMethod="Page"}}
{{> "htmTrafficLightId" classApiMethodMethod="Page"}}
{{> "htmTrafficLightType" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmAngle" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmColor" classApiMethodMethod="Page"}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmBodySidebarTrafficLightPage"}}
				<div class="w3-dropdown-click w3-bar-block min-width-300px ">
					<div class="min-width-300px ">
						<span title="Search" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-magnifying-glass hover-box-shadow w3-xlarge "></i> Search</span>
						<span title="Filters" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleFilters').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-filters hover-box-shadow w3-xlarge "></i> Filters</span>
						<span title="Range" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleRange').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-calendar-range hover-box-shadow w3-xlarge "></i> Range</span>
						<span title="Pivot" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-table-pivot hover-box-shadow w3-xlarge "></i> Pivot</span>
						<span title="FieldList" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleFieldList').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-list-ul hover-box-shadow w3-xlarge "></i> FieldList</span>
						<span title="Stats" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " onclick="$('.siteSidebarToggleFieldList').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleStats').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-2017-shaded-spruce'); $(this).addClass('w3-black'); $(this).removeClass('w3-2017-shaded-spruce'); "><i class="fad fa-chart-candlestick hover-box-shadow w3-xlarge "></i> Stats</span>
						<a title="API" class="siteSidebarToggle w3-padding-small w3-hover-black w3-2017-shaded-spruce " href="{{ apiUri }}{{ queryStr }}"><i class="fad fa-brackets-curly hover-box-shadow w3-xlarge "></i> API</a>
					</div>
					<div class=" ">
						<div class="siteSidebarToggle siteSidebarToggleSearch w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-magnifying-glass "></i> Search</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodySearch"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFilters w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-filters "></i> Filters</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFilters"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleRange w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce  ">
								<span class="w3-bar-item ">
								<i class="fad fa-calendar-range "></i> Range</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyRange"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarTogglePivot w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-table-pivot "></i> Pivot</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyPivot"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFieldList w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-list-ul "></i> Field List</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFieldList"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleStats w3-dropdown-content min-width-300px w3-white w3-border w3-border-2017-shaded-spruce " style="display: none; ">
							<div class="w3-bar w3-2017-shaded-spruce ">
								<span class="w3-bar-item ">
								<i class="fad fa-chart-candlestick "></i> Stats</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyStats"}}{{/block}}
							</div>
						</div>
					</div>
				</div>
{{/inline}}
{{#*inline "htmBodyStartTrafficLightPage"}}
{{> "htmBodyStartMapResultPage"}}
{{/inline}}
{{#*inline "htmBodyMiddleTrafficLightPage"}}
{{> "htmBodyMiddleMapResultPage"}}
{{/inline}}
{{#*inline "htmBodyEndTrafficLightPage"}}
{{> "htmBodyEndMapResultPage"}}
{{/inline}}
{{#*inline "htmBodyTrafficLightPage"}}
{{#block "htmBodyStart"}}{{/block}}
{{#block "htmBodyMiddle"}}{{/block}}
{{#block "htmBodyEnd"}}{{/block}}
{{/inline}}
{{#*inline "htmBodyMiddleTrafficLightPage"}}
		<div class="w3-bar w3-content ">
{{#block "htmBodySidebar"}}{{/block}}
		</div>
{{#block "htmBodyGraph"}}{{/block}}
	<div class="pageContent w3-content ">
		<div id="site-calendar-box">
			<div id="site-calendar"><!-- // --></div>
		</div>
	{{#eq trafficLightCount int0}}
{{#block "htmBodyCount0"}}{{/block}}
	{{else}}
		{{#eq trafficLightCount int1}}
			{{#eq params.query.q "*:*"}}
{{#block "htmBodyCount1All"}}{{/block}}
			{{else}}
{{#block "htmBodyCount1"}}{{/block}}
			{{/eq}}
		{{else}}
{{#block "htmBodyAll"}}{{/block}}
		{{/eq}}
	{{/eq}}
{{#block "htmForm"}}{{/block}}
{{#block "htmForms"}}{{/block}}
	</div>
{{/inline}}
{{#*inline "table1TrafficLightPage"}}
		<div class="w3-responsive ">
			<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable ">
{{> table2TrafficLightPage}}
			</table>
		</div>
{{/inline}}
{{#*inline "table2TrafficLightPage"}}
{{> "thead1TrafficLightPage"}}
{{> "tbody1TrafficLightPage"}}
{{> "tfoot1TrafficLightPage"}}
{{/inline}}
{{#*inline "thead1TrafficLightPage"}}
				<thead class="w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
{{> thead2TrafficLightPage}}
				</thead>
{{/inline}}
{{#*inline "thead2TrafficLightPage"}}
			<tr>
						<th>created</th>
						<th></th>
			</tr>
{{/inline}}
{{#*inline "tbody1TrafficLightPage"}}
				<tbody>
{{> tbody2TrafficLightPage}}
				</tbody>
{{/inline}}
{{#*inline "tbody2TrafficLightPage"}}
		{{#each listTrafficLight}}
					<tr>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{siteZonedDateTimeFormat created "MMM d, yyyy h:mm:ss a" siteLocale}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<i class="fad fa-map-location-dot "></i>
								<span class="white-space-pre-wrap ">{{objectTitle}}</span>
							</a>
						</td>
					</tr>
		{{/each}}
{{/inline}}
{{#*inline "tfoot1TrafficLightPage"}}
				<tfoot class="w3-2017-shaded-spruce w3-hover-2017-shaded-spruce">
{{> tfoot2TrafficLightPage}}
				</tfoot>
{{/inline}}
{{#*inline "tfoot2TrafficLightPage"}}
			<tr>
			{{#if getColumnCreated}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnObjectTitle}}
				<td>
				</td>
			{{/if}}
			</tr>
	{{/inline}}
{{#*inline "htmFormsTrafficLightPage"}}
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq trafficLightCount int1}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
			id="refreshThisTrafficLightGenPage"
			onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'id:{{id}}' } ], {}, function() { addGlow($('#refreshThisTrafficLightGenPage')); }, function() { addError($('#refreshThisTrafficLightGenPage')); }); return false; ">
			<i class="fas fa-sync-alt "></i>
			refresh this traffic light
		</button>
		{{/eq}}
	{{/ifContainsAnyRoles}}
	{{#ifContainsAnyRoles roles authRolesAdmin}}
{{#block "htmForm_patchTrafficLight"}}{{/block}}
{{#block "htmForm_postTrafficLight"}}{{/block}}
{{#block "htmForm_putimportTrafficLight"}}{{/block}}
	{{/ifContainsAnyRoles}}
{{#block "htmSuggested"}}{{/block}}
{{/inline}}
{{#*inline "htmSuggestedTrafficLightPage"}}
			{{#ifContainsAnyRoles roles rolesRequired}}
					<div class="">
						<button id="refreshAllTrafficLightGenPage{{id}}" class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-2017-shaded-spruce "
							onclick="patch{{classSimpleName}}Vals([], {}, function() { addGlow($('#refreshAllTrafficLightGenPage{{id}}')); }, function() { addError($('#refreshAllTrafficLightGenPage{{id}}')); }); "
							>
							<i class="fas fa-sync-alt "></i>
							refresh all the traffic lights
						</button>
					</div>
			{{/ifContainsAnyRoles}}
			<div class="w3-cell-row ">
				<div class="w3-cell ">
					<span>
						search traffic lights: 
					</span>
				</div>
			</div>
			<div class="w3-bar ">
				<input
					type="text"
					class="suggestTrafficLight w3-input w3-border w3-bar-item "
					name="suggestTrafficLight"
					id="suggestTrafficLight{{id}}"
					autocomplete="off"
					oninput="suggestTrafficLightObjectSuggest( [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'classCanonicalName,,pageUrlPk,objectTitle' } ], $('#suggestListTrafficLight{{id}}'), {{id}}; "
					onkeyup="if (event.keyCode === 13) { event.preventDefault(); window.location.href = '/traffic-light?q={{query1}}:' + encodeURIComponent(this.value) + '{{fqs}}{{sorts}}&amp;rows={{start2}}&amp;rows={{rows1}}"
				{{#if listTrafficLight}}
					value="{{query2}}"
				{{/if}}
				/>
				<button
					class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
					onclick="window.location.href = '/traffic-light?q=&quot;, query1, &quot;:' + encodeURIComponent(this.previousElementSibling.value) + '&quot;, fqs, sorts, &quot;&amp;rows=&quot;, start2, &quot;&amp;rows=&quot;, rows1, &quot;'; "
					>
					<i class="fas fa-search "></i>
				</button>
			<div>
			<div class="w3-cell-row ">
				<div class="w3-cell w3-left-align w3-cell-top ">
					<ul class="w3-ul w3-hoverable " id="suggestListTrafficLight{{id}}">
					</ul>
				</div>
			</div>
			<div class="">
				<a href="/traffic-light" class="">
					<i class="fad fa-map-location-dot"></i>
					see all the traffic lights
				</a>
			</div>
{{/inline}}
{{> MapResultPage mapResult_=trafficLight_}}

{{#*inline "htmTrafficLightId"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}TrafficLightTrafficLightId">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_trafficLightId">traffic light ID</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputTrafficLightId"}}
													</div>
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_trafficLightId')); $('#{{classApiMethodMethod}}_trafficLightId').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:' + $('#TrafficLightForm :input[name=id]').val() }], 'setTrafficLightId', null, function() { addGlow($('#{{classApiMethodMethod}}_trafficLightId')); }, function() { addError($('#{{classApiMethodMethod}}_trafficLightId')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputTrafficLightId"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<input
															type="text"
															placeholder="traffic light ID"
															id="{{classApiMethodMethod}}_trafficLightId"
	{{#eq "Page" classApiMethodMethod}}
																class="setTrafficLightId classTrafficLight inputTrafficLight{{id}}TrafficLightId w3-input w3-border "
																name="setTrafficLightId"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setTrafficLightId classTrafficLight inputTrafficLight{{id}}TrafficLightId w3-input w3-border "
																name="setTrafficLightId"
		{{else}}
																class="valueTrafficLightId w3-input w3-border classTrafficLight inputTrafficLight{{id}}TrafficLightId w3-input w3-border "
																name="trafficLightId"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setTrafficLightId', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_trafficLightId')); }, function() { addError($('#{{classApiMethodMethod}}_trafficLightId')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{trafficLight_.trafficLightId}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varTrafficLight{{id}}TrafficLightId ">{{trafficLight_.trafficLightId}}</span>
			{{/ifContainsKeys}}
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmTrafficLightType"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}TrafficLightTrafficLightType">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_trafficLightType">traffic light type</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputTrafficLightType"}}
													</div>
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_trafficLightType')); $('#{{classApiMethodMethod}}_trafficLightType').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:' + $('#TrafficLightForm :input[name=id]').val() }], 'setTrafficLightType', null, function() { addGlow($('#{{classApiMethodMethod}}_trafficLightType')); }, function() { addError($('#{{classApiMethodMethod}}_trafficLightType')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputTrafficLightType"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<input
															type="text"
															placeholder="traffic light type"
															id="{{classApiMethodMethod}}_trafficLightType"
	{{#eq "Page" classApiMethodMethod}}
																class="setTrafficLightType classTrafficLight inputTrafficLight{{id}}TrafficLightType w3-input w3-border "
																name="setTrafficLightType"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setTrafficLightType classTrafficLight inputTrafficLight{{id}}TrafficLightType w3-input w3-border "
																name="setTrafficLightType"
		{{else}}
																class="valueTrafficLightType w3-input w3-border classTrafficLight inputTrafficLight{{id}}TrafficLightType w3-input w3-border "
																name="trafficLightType"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setTrafficLightType', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_trafficLightType')); }, function() { addError($('#{{classApiMethodMethod}}_trafficLightType')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{trafficLight_.trafficLightType}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varTrafficLight{{id}}TrafficLightType ">{{trafficLight_.trafficLightType}}</span>
			{{/ifContainsKeys}}
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmAngle"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}TrafficLightAngle">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_angle">Angle in degrees</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputAngle"}}
													</div>
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_angle')); $('#{{classApiMethodMethod}}_angle').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:' + $('#TrafficLightForm :input[name=id]').val() }], 'setAngle', null, function() { addGlow($('#{{classApiMethodMethod}}_angle')); }, function() { addError($('#{{classApiMethodMethod}}_angle')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputAngle"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<input
															type="text"
															placeholder="Angle in degrees"
															id="{{classApiMethodMethod}}_angle"
	{{#eq "Page" classApiMethodMethod}}
																class="setAngle classTrafficLight inputTrafficLight{{id}}Angle w3-input w3-border "
																name="setAngle"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setAngle classTrafficLight inputTrafficLight{{id}}Angle w3-input w3-border "
																name="setAngle"
		{{else}}
																class="valueAngle w3-input w3-border classTrafficLight inputTrafficLight{{id}}Angle w3-input w3-border "
																name="angle"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setAngle', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_angle')); }, function() { addError($('#{{classApiMethodMethod}}_angle')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{trafficLight_.angle}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varTrafficLight{{id}}Angle ">{{trafficLight_.angle}}</span>
			{{/ifContainsKeys}}
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmColor"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}TrafficLightColor">
											<div class="w3-card ">
												<div class="w3-cell-row w3-2017-shaded-spruce">
													<label for="{{classApiMethodMethod}}_color">Color</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputColor"}}
													</div>
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-2017-shaded-spruce "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_color')); $('#{{classApiMethodMethod}}_color').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:' + $('#TrafficLightForm :input[name=id]').val() }], 'setColor', null, function() { addGlow($('#{{classApiMethodMethod}}_color')); }, function() { addError($('#{{classApiMethodMethod}}_color')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputColor"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<input
															type="text"
															placeholder="Color"
															id="{{classApiMethodMethod}}_color"
	{{#eq "Page" classApiMethodMethod}}
																class="setColor classTrafficLight inputTrafficLight{{id}}Color w3-input w3-border "
																name="setColor"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setColor classTrafficLight inputTrafficLight{{id}}Color w3-input w3-border "
																name="setColor"
		{{else}}
																class="valueColor w3-input w3-border classTrafficLight inputTrafficLight{{id}}Color w3-input w3-border "
																name="color"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'id:{{id}}' }], 'setColor', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_color')); }, function() { addError($('#{{classApiMethodMethod}}_color')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{trafficLight_.color}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varTrafficLight{{id}}Color ">{{trafficLight_.color}}</span>
			{{/ifContainsKeys}}
		{{/ifContainsAnyRoles}}
{{/inline}}
